Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/MemberCrmService/MemberCrmService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TvReplayUserLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tvReplayNum" type="xs:int" />
        <xs:element minOccurs="0" name="programId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="programName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="broadDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="enterRoute" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TvReplayUserLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>