Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/NewsTravelService/TravelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TravelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/TravelService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/TravelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/TravelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/TravelService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/TravelService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITravelService_TravelList_InputMessage">
    <wsdl:part name="parameters" element="tns:TravelList" />
  </wsdl:message>
  <wsdl:message name="ITravelService_TravelList_OutputMessage">
    <wsdl:part name="parameters" element="tns:TravelListResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetTravelReadInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTravelReadInfo" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetTravelReadInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTravelReadInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetArticleLikeitHanatour_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticleLikeitHanatour" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetArticleLikeitHanatour_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticleLikeitHanatourResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_SetArticleLikeitHanatour_InputMessage">
    <wsdl:part name="parameters" element="tns:SetArticleLikeitHanatour" />
  </wsdl:message>
  <wsdl:message name="ITravelService_SetArticleLikeitHanatour_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetArticleLikeitHanatourResponse" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetTravelPrevNext_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTravelPrevNext" />
  </wsdl:message>
  <wsdl:message name="ITravelService_GetTravelPrevNext_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTravelPrevNextResponse" />
  </wsdl:message>
  <wsdl:portType name="ITravelService">
    <wsdl:operation name="TravelList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/TravelList" message="tns:ITravelService_TravelList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/TravelListResponse" message="tns:ITravelService_TravelList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTravelReadInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/GetTravelReadInfo" message="tns:ITravelService_GetTravelReadInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/GetTravelReadInfoResponse" message="tns:ITravelService_GetTravelReadInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArticleLikeitHanatour">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/GetArticleLikeitHanatour" message="tns:ITravelService_GetArticleLikeitHanatour_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/GetArticleLikeitHanatourResponse" message="tns:ITravelService_GetArticleLikeitHanatour_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetArticleLikeitHanatour">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/SetArticleLikeitHanatour" message="tns:ITravelService_SetArticleLikeitHanatour_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/SetArticleLikeitHanatourResponse" message="tns:ITravelService_SetArticleLikeitHanatour_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTravelPrevNext">
      <wsdl:input wsaw:Action="http://tempuri.org/ITravelService/GetTravelPrevNext" message="tns:ITravelService_GetTravelPrevNext_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITravelService/GetTravelPrevNextResponse" message="tns:ITravelService_GetTravelPrevNext_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITravelService" type="tns:ITravelService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TravelList">
      <soap:operation soapAction="http://tempuri.org/ITravelService/TravelList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelReadInfo">
      <soap:operation soapAction="http://tempuri.org/ITravelService/GetTravelReadInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticleLikeitHanatour">
      <soap:operation soapAction="http://tempuri.org/ITravelService/GetArticleLikeitHanatour" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetArticleLikeitHanatour">
      <soap:operation soapAction="http://tempuri.org/ITravelService/SetArticleLikeitHanatour" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTravelPrevNext">
      <soap:operation soapAction="http://tempuri.org/ITravelService/GetTravelPrevNext" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TravelService">
    <wsdl:port name="BasicHttpBinding_ITravelService" binding="tns:BasicHttpBinding_ITravelService">
      <soap:address location="http://localhost:8088/NewsCenter/TravelService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>