Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/NewsTravelService/TravelService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/TravelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" />
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/TravelService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/TravelService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
  <xs:element name="TravelList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" minOccurs="0" name="condition" nillable="true" type="q1:NewsCenterCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TravelListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="TravelListResult" nillable="true" type="q2:ListModelOfArticleClass_Hanatourp95ZFpkp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTravelReadInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTravelReadInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="GetTravelReadInfoResult" nillable="true" type="q3:ArticleClass_Hanatour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticleLikeitHanatour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticleLikeitHanatourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="GetArticleLikeitHanatourResult" nillable="true" type="q4:NTB_ARTICLE_LIKEIT_HANATOUR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetArticleLikeitHanatour">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="likeitGubun" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetArticleLikeitHanatourResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTravelPrevNext">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="articleId" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" minOccurs="0" name="condition" nillable="true" type="q5:NewsCenterCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTravelPrevNextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetTravelPrevNextResult" nillable="true" type="q6:ListModelOfNUP_NEWS_PREV_NEXT_SELECT_Resultp95ZFpkp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>