Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/EventService/EventService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/ServiceCenter/EventService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/ServiceCenter/EventService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/ServiceCenter/EventService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.ServiceCenter" />
      <xsd:import schemaLocation="http://localhost:8088/ServiceCenter/EventService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/ServiceCenter/EventService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
      <xsd:import schemaLocation="http://localhost:8088/ServiceCenter/EventService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
      <xsd:import schemaLocation="http://localhost:8088/ServiceCenter/EventService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" />
      <xsd:import schemaLocation="http://localhost:8088/ServiceCenter/EventService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetBroadList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBroadList" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetBroadList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBroadListResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IEventService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IEventService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetFrontList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFrontList" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetFrontList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFrontListResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetFrontDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFrontDetail" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetFrontDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFrontDetailResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_ReadCountIncrease_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadCountIncrease" />
  </wsdl:message>
  <wsdl:message name="IEventService_ReadCountIncrease_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadCountIncreaseResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetMainEventList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMainEventList" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetMainEventList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMainEventListResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetQuickEventList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuickEventList" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetQuickEventList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuickEventListResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetPartenrRandom_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartenrRandom" />
  </wsdl:message>
  <wsdl:message name="IEventService_GetPartenrRandom_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartenrRandomResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventService">
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetList" message="tns:IEventService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetListResponse" message="tns:IEventService_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetData" message="tns:IEventService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetDataResponse" message="tns:IEventService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBroadList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetBroadList" message="tns:IEventService_GetBroadList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetBroadListResponse" message="tns:IEventService_GetBroadList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/Save" message="tns:IEventService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/SaveResponse" message="tns:IEventService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/Delete" message="tns:IEventService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/DeleteResponse" message="tns:IEventService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFrontList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetFrontList" message="tns:IEventService_GetFrontList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetFrontListResponse" message="tns:IEventService_GetFrontList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFrontDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetFrontDetail" message="tns:IEventService_GetFrontDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetFrontDetailResponse" message="tns:IEventService_GetFrontDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadCountIncrease">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/ReadCountIncrease" message="tns:IEventService_ReadCountIncrease_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/ReadCountIncreaseResponse" message="tns:IEventService_ReadCountIncrease_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMainEventList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetMainEventList" message="tns:IEventService_GetMainEventList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetMainEventListResponse" message="tns:IEventService_GetMainEventList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuickEventList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetQuickEventList" message="tns:IEventService_GetQuickEventList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetQuickEventListResponse" message="tns:IEventService_GetQuickEventList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartenrRandom">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/GetPartenrRandom" message="tns:IEventService_GetPartenrRandom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/GetPartenrRandomResponse" message="tns:IEventService_GetPartenrRandom_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEventService" type="tns:IEventService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBroadList">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetBroadList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IEventService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IEventService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFrontList">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetFrontList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFrontDetail">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetFrontDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCountIncrease">
      <soap:operation soapAction="http://tempuri.org/IEventService/ReadCountIncrease" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainEventList">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetMainEventList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuickEventList">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetQuickEventList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartenrRandom">
      <soap:operation soapAction="http://tempuri.org/IEventService/GetPartenrRandom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
    <wsdl:port name="BasicHttpBinding_IEventService" binding="tns:BasicHttpBinding_IEventService">
      <soap:address location="http://localhost:8088/ServiceCenter/EventService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>