Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/EventService/EventService81.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devmid.wowtv.co.kr/ServiceCenter/EventService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.ServiceCenter" />
  <xs:import schemaLocation="http://devmid.wowtv.co.kr/ServiceCenter/EventService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://devmid.wowtv.co.kr/ServiceCenter/EventService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
  <xs:import schemaLocation="http://devmid.wowtv.co.kr/ServiceCenter/EventService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.ServiceCenter" minOccurs="0" name="condition" nillable="true" type="q1:EventCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.ServiceCenter" minOccurs="0" name="GetListResult" nillable="true" type="q2:EventModelOfEventContenthAFliQv3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.ServiceCenter" minOccurs="0" name="GetDataResult" nillable="true" type="q3:EventModelOfEventContenthAFliQv3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBroadList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBroadListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetBroadListResult" nillable="true" type="q4:ListModelOfPro_wowList3NfObsem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="model" nillable="true" type="q5:tblEvent" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q6:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="deleteList" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFrontList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.ServiceCenter" minOccurs="0" name="condition" nillable="true" type="q8:EventCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFrontListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetFrontListResult" nillable="true" type="q9:ListModelOfEventContenthAFliQv3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFrontDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.ServiceCenter" minOccurs="0" name="condition" nillable="true" type="q10:EventCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFrontDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.ServiceCenter" minOccurs="0" name="GetFrontDetailResult" nillable="true" type="q11:EventModelOfEventContenthAFliQv3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCountIncrease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.ServiceCenter" minOccurs="0" name="condition" nillable="true" type="q12:EventCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadCountIncreaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainEventList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainEventListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetMainEventListResult" nillable="true" type="q13:ListModelOfEventContenthAFliQv3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuickEventList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuickEventListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetQuickEventListResult" nillable="true" type="q14:ListModelOfEventContenthAFliQv3" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="GetEventDataResult" nillable="true" type="q15:ArrayOfusp_tblEvent_select_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartenrRandom">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartenrRandomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetPartenrRandomResult" nillable="true" type="q16:ListModelOfPro_wowList3NfObsem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>