Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/EventService/EventService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="tblEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_SITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WINNER_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WIN_CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WIN_VIEW_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adminId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bannerImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="eventType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linkTarget" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="linkUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="proId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="readCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="regdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="seq" type="xs:int" />
      <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="viewFlag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblEvent" nillable="true" type="tns:tblEvent" />
</xs:schema>