Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/EventService/EventService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNTB_COMMON_CODE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_COMMON_CODE" nillable="true" type="tns:NTB_COMMON_CODE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_COMMON_CODE" nillable="true" type="tns:ArrayOfNTB_COMMON_CODE" />
  <xs:complexType name="NTB_COMMON_CODE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE_VALUE1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE_VALUE2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE_VALUE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE_VALUE4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE_VALUE5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMMON_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SORT_ORDER" type="xs:int" />
      <xs:element minOccurs="0" name="UP_COMMON_CODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_COMMON_CODE" nillable="true" type="tns:NTB_COMMON_CODE" />
</xs:schema>