Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/TradingService/TradingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Finance/TradingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock.Finance" />
  <xs:import schemaLocation="http://localhost:8088/Finance/TradingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" />
  <xs:element name="GetStockData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock.Finance" minOccurs="0" name="condition" nillable="true" type="q1:TradingStockCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStockDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayTradingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock.Finance" minOccurs="0" name="condition" nillable="true" type="q2:TradingStockCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDayTradingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDayTradingDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotSearchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHotSearchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="GetHotSearchListResult" nillable="true" type="q3:ArrayOfusp_GetBestSearchOnline_TypeA_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>