Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/BoardService/BoardService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNTB_BOARD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_BOARD" nillable="true" type="tns:NTB_BOARD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_BOARD" nillable="true" type="tns:ArrayOfNTB_BOARD" />
  <xs:complexType name="NTB_BOARD">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATTACH_FILE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BLIND_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOARD_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOARD_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="BOARD_TYPE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOTTOM_CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoardTypeCodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMMENT_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="KEYWORD_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTICE_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="NTB_BOARD_CONTENT" nillable="true" type="tns:ArrayOfNTB_BOARD_CONTENT" />
      <xs:element minOccurs="0" name="PASSWORD_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPLY_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCRAP_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOP_CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOP_NOTICE_YN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_BOARD" nillable="true" type="tns:NTB_BOARD" />
  <xs:complexType name="ArrayOfNTB_BOARD_CONTENT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_BOARD_CONTENT" nillable="true" type="tns:NTB_BOARD_CONTENT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_BOARD_CONTENT" nillable="true" type="tns:ArrayOfNTB_BOARD_CONTENT" />
  <xs:complexType name="NTB_BOARD_CONTENT">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGREE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttachFileList" nillable="true" type="tns:ArrayOfNTB_ATTACH_FILE" />
      <xs:element minOccurs="0" name="BLIND_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOARD_CONTENT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="BOARD_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="COMMON_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CommentList" nillable="true" type="tns:ArrayOfNTB_BOARD_COMMENT" />
      <xs:element minOccurs="0" name="CommonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPTH" type="xs:int" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="END_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsComment" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFile" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReply" type="xs:boolean" />
      <xs:element minOccurs="0" name="KEYWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuSeq" type="xs:int" />
      <xs:element minOccurs="0" name="NOTICE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTB_BOARD" nillable="true" type="tns:NTB_BOARD" />
      <xs:element minOccurs="0" name="NTB_BOARD_COMMENT" nillable="true" type="tns:ArrayOfNTB_BOARD_COMMENT" />
      <xs:element minOccurs="0" name="PAGE_LINK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="READ_CNT" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPLY_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReplyList" nillable="true" type="tns:ArrayOfNTB_BOARD_CONTENT" />
      <xs:element minOccurs="0" name="SORD_ORDER" type="xs:int" />
      <xs:element minOccurs="0" name="START_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOP_BOARD_CONTENT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="UP_BOARD_CONTENT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="UP_COMMON_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpCommonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_YN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_BOARD_CONTENT" nillable="true" type="tns:NTB_BOARD_CONTENT" />
  <xs:complexType name="ArrayOfNTB_ATTACH_FILE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_ATTACH_FILE" nillable="true" type="tns:NTB_ATTACH_FILE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_ATTACH_FILE" nillable="true" type="tns:ArrayOfNTB_ATTACH_FILE" />
  <xs:complexType name="NTB_ATTACH_FILE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATTACH_FILE_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTENSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_SIZE" type="xs:int" />
      <xs:element minOccurs="0" name="REAL_FILE_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REAL_WEB_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TABLE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TABLE_KEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_UPLOAD_FILE_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_ATTACH_FILE" nillable="true" type="tns:NTB_ATTACH_FILE" />
  <xs:complexType name="ArrayOfNTB_BOARD_COMMENT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_BOARD_COMMENT" nillable="true" type="tns:NTB_BOARD_COMMENT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_BOARD_COMMENT" nillable="true" type="tns:ArrayOfNTB_BOARD_COMMENT" />
  <xs:complexType name="NTB_BOARD_COMMENT">
    <xs:sequence>
      <xs:element minOccurs="0" name="BLIND_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOARD_CONTENT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="COMMENT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTB_BOARD_CONTENT" nillable="true" type="tns:NTB_BOARD_CONTENT" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_BOARD_COMMENT" nillable="true" type="tns:NTB_BOARD_COMMENT" />
</xs:schema>