Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/TradingService/TradingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_GetBestSearchOnline_TypeA_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_GetBestSearchOnline_TypeA_Result" nillable="true" type="tns:usp_GetBestSearchOnline_TypeA_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_GetBestSearchOnline_TypeA_Result" nillable="true" type="tns:ArrayOfusp_GetBestSearchOnline_TypeA_Result" />
  <xs:complexType name="usp_GetBestSearchOnline_TypeA_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="arj_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="chg_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="counter" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="curr_price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="kospi_kosdaq_gubun" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="net_chg" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="net_vol" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="stock_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_GetBestSearchOnline_TypeA_Result" nillable="true" type="tns:usp_GetBestSearchOnline_TypeA_Result" />
</xs:schema>