Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/TradingService/TradingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock.Finance" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock.Finance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TradingStockCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmountCheck1" type="xs:int" />
      <xs:element minOccurs="0" name="AmountCheck2" type="xs:int" />
      <xs:element minOccurs="0" name="AmountRange1" type="xs:int" />
      <xs:element minOccurs="0" name="AmountRange2" type="xs:int" />
      <xs:element minOccurs="0" name="CandleType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeOnly" type="xs:int" />
      <xs:element minOccurs="0" name="CodeOption" type="xs:int" />
      <xs:element minOccurs="0" name="CondList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CondMenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GwanLiCheck" type="xs:int" />
      <xs:element minOccurs="0" name="ListedPriceCheck" type="xs:int" />
      <xs:element minOccurs="0" name="ListedPriceRatio" type="xs:int" />
      <xs:element minOccurs="0" name="Mission" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatPeriod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatternCandle" type="xs:int" />
      <xs:element minOccurs="0" name="PatternDate" type="xs:int" />
      <xs:element minOccurs="0" name="PatternStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceCheck1" type="xs:int" />
      <xs:element minOccurs="0" name="PriceCheck2" type="xs:int" />
      <xs:element minOccurs="0" name="PriceRange1" type="xs:int" />
      <xs:element minOccurs="0" name="PriceRange2" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrConversion" type="xs:int" />
      <xs:element minOccurs="0" name="TradeAmountCheck" type="xs:int" />
      <xs:element minOccurs="0" name="TradeAmountValue" type="xs:int" />
      <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VolumeCheck1" type="xs:int" />
      <xs:element minOccurs="0" name="VolumeCheck2" type="xs:int" />
      <xs:element minOccurs="0" name="VolumeRange1" type="xs:int" />
      <xs:element minOccurs="0" name="VolumeRange2" type="xs:int" />
      <xs:element minOccurs="0" name="WooSunCheck" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradingStockCondition" nillable="true" type="tns:TradingStockCondition" />
</xs:schema>