Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/BroadWatchService/BroadWatchService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/MyProgram/BroadWatchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" />
  <xs:import schemaLocation="http://localhost:8088/MyProgram/BroadWatchService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS.NewsProgram" />
  <xs:import schemaLocation="http://localhost:8088/MyProgram/BroadWatchService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/MyProgram/BroadWatchService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
  <xs:element name="GetAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" minOccurs="0" name="GetAtResult" nillable="true" type="q1:tv_program" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS.NewsProgram" minOccurs="0" name="condition" nillable="true" type="q2:BroadWatchCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="SearchListResult" nillable="true" type="q3:ListModelOftv_programYfMTzeJu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchList2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS.NewsProgram" minOccurs="0" name="condition" nillable="true" type="q4:BroadWatchCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchList2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="SearchList2Result" nillable="true" type="q5:ListModelOftv_programYfMTzeJu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" minOccurs="0" name="model" nillable="true" type="q6:tv_program" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="attachFile" nillable="true" type="q7:NTB_ATTACH_FILE" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q8:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteInsertSp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="today" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteInsertSpResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>