Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/BroadWatchService/BroadWatchService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS.NewsProgram" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS.NewsProgram" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/MyProgram/BroadWatchService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:complexType name="BroadWatchCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="BroadSectionCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BroadTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FameYn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IngYn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderByType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProgramCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PublishYn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UploadTimeGreater" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BroadWatchCondition" nillable="true" type="tns:BroadWatchCondition" />
</xs:schema>