Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/NewsStandService/NewsStandService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_newsStandMetaXMLTopImg_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_newsStandMetaXMLTopImg_Result" nillable="true" type="tns:usp_newsStandMetaXMLTopImg_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_newsStandMetaXMLTopImg_Result" nillable="true" type="tns:ArrayOfusp_newsStandMetaXMLTopImg_Result" />
  <xs:complexType name="usp_newsStandMetaXMLTopImg_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="IMGDir" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMGFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Thumbnail_type1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Thumbnail_type2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WOWCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="articledate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="articleid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="editfolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image_b" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image_s" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ordernum" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sImage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tmptitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_newsStandMetaXMLTopImg_Result" nillable="true" type="tns:usp_newsStandMetaXMLTopImg_Result" />
  <xs:complexType name="ArrayOfNUP_NEWSSTAND_KEWORD_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_NEWSSTAND_KEWORD_SELECT_Result" nillable="true" type="tns:NUP_NEWSSTAND_KEWORD_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_NEWSSTAND_KEWORD_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_NEWSSTAND_KEWORD_SELECT_Result" />
  <xs:complexType name="NUP_NEWSSTAND_KEWORD_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ARTICLEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ARTID_YYYYMMDD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOLD_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENTS_CUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIFF_TIME_HOUR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GUBUN_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_DIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_FILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_RRELATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LASTT_TIME_HOUR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LAST_TIME_MIN" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ROWNUM" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SEQ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="THUMBNAIL_FILENM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TMPTITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOD_NUM" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_NEWSSTAND_KEWORD_SELECT_Result" nillable="true" type="tns:NUP_NEWSSTAND_KEWORD_SELECT_Result" />
</xs:schema>