Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/NewsStandService/NewsStandService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/NewsStandService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
  <xs:complexType name="ListModelOfusp_newsStandMetaXMLTopImg_Resultp95ZFpkp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="usp_newsStandMetaXMLTopImg_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData" nillable="true" type="q1:ArrayOfusp_newsStandMetaXMLTopImg_Result" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData2" nillable="true" type="q2:ArrayOfusp_newsStandMetaXMLTopImg_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfusp_newsStandMetaXMLTopImg_Resultp95ZFpkp" nillable="true" type="tns:ListModelOfusp_newsStandMetaXMLTopImg_Resultp95ZFpkp" />
  <xs:complexType name="ListModelOfNUP_NEWSSTAND_KEWORD_SELECT_Resultp95ZFpkp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NUP_NEWSSTAND_KEWORD_SELECT_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData" nillable="true" type="q3:ArrayOfNUP_NEWSSTAND_KEWORD_SELECT_Result" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData2" nillable="true" type="q4:ArrayOfNUP_NEWSSTAND_KEWORD_SELECT_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNUP_NEWSSTAND_KEWORD_SELECT_Resultp95ZFpkp" nillable="true" type="tns:ListModelOfNUP_NEWSSTAND_KEWORD_SELECT_Resultp95ZFpkp" />
</xs:schema>