Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/NewsCenterService/NewsCenterService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast.NewsCenter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast.NewsCenter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/NewsCenterService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" />
  <xs:complexType name="PartnerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoradType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BroadCastTime" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" minOccurs="0" name="BroadState" nillable="true" type="q1:USP_GetBroadcast1ByProId_Result" />
      <xs:element minOccurs="0" name="HtmlTag" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" minOccurs="0" name="ProWowList" nillable="true" type="q2:Pro_wowList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartnerInfo" nillable="true" type="tns:PartnerInfo" />
</xs:schema>