Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/TvPlayerService/TvPlayerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TvPlayerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/Broad/TvPlayerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/Broad/TvPlayerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/Broad/TvPlayerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Broad" />
      <xsd:import schemaLocation="http://localhost:8088/Broad/TvPlayerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITvPlayerService_LiveTvInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:LiveTvInfo" />
  </wsdl:message>
  <wsdl:message name="ITvPlayerService_LiveTvInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:LiveTvInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITvPlayerService_TvReplayInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:TvReplayInfo" />
  </wsdl:message>
  <wsdl:message name="ITvPlayerService_TvReplayInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:TvReplayInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITvPlayerService_VodInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:VodInfo" />
  </wsdl:message>
  <wsdl:message name="ITvPlayerService_VodInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:VodInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ITvPlayerService">
    <wsdl:operation name="LiveTvInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITvPlayerService/LiveTvInfo" message="tns:ITvPlayerService_LiveTvInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITvPlayerService/LiveTvInfoResponse" message="tns:ITvPlayerService_LiveTvInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TvReplayInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITvPlayerService/TvReplayInfo" message="tns:ITvPlayerService_TvReplayInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITvPlayerService/TvReplayInfoResponse" message="tns:ITvPlayerService_TvReplayInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VodInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITvPlayerService/VodInfo" message="tns:ITvPlayerService_VodInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITvPlayerService/VodInfoResponse" message="tns:ITvPlayerService_VodInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITvPlayerService" type="tns:ITvPlayerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LiveTvInfo">
      <soap:operation soapAction="http://tempuri.org/ITvPlayerService/LiveTvInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TvReplayInfo">
      <soap:operation soapAction="http://tempuri.org/ITvPlayerService/TvReplayInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VodInfo">
      <soap:operation soapAction="http://tempuri.org/ITvPlayerService/VodInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TvPlayerService">
    <wsdl:port name="BasicHttpBinding_ITvPlayerService" binding="tns:BasicHttpBinding_ITvPlayerService">
      <soap:address location="http://localhost:8088/Broad/TvPlayerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>