Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/TvPlayerService/TvPlayerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Broad/TvPlayerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Broad" />
  <xs:element name="LiveTvInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LiveTvInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Broad" minOccurs="0" name="LiveTvInfoResult" nillable="true" type="q1:LiveTvInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TvReplayInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TvReplayInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Broad" minOccurs="0" name="TvReplayInfoResult" nillable="true" type="q2:TvReplayInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VodInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VodInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Broad" minOccurs="0" name="VodInfoResult" nillable="true" type="q3:VodInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>