Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/LandService/LandService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/LandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" />
  <xs:element name="GetMapAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Gugun" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" minOccurs="0" name="GetMapAddressResult" nillable="true" type="q1:NTB_POST" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>