Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/MenuService/MenuService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MenuService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/Menu/MenuService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/Menu/MenuService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/Menu/MenuService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Menu" />
      <xsd:import schemaLocation="http://localhost:8088/Menu/MenuService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/Menu/MenuService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
      <xsd:import schemaLocation="http://localhost:8088/Menu/MenuService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMenuService_SearchList_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchList" />
  </wsdl:message>
  <wsdl:message name="IMenuService_SearchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_SearchListMenuGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchListMenuGroup" />
  </wsdl:message>
  <wsdl:message name="IMenuService_SearchListMenuGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListMenuGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_GetAt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAt" />
  </wsdl:message>
  <wsdl:message name="IMenuService_GetAt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IMenuService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IMenuService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_UpDown_InputMessage">
    <wsdl:part name="parameters" element="tns:UpDown" />
  </wsdl:message>
  <wsdl:message name="IMenuService_UpDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpDownResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_GetAtByUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAtByUrl" />
  </wsdl:message>
  <wsdl:message name="IMenuService_GetAtByUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtByUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_GetAtByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAtByName" />
  </wsdl:message>
  <wsdl:message name="IMenuService_GetAtByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_AuthListSave_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthListSave" />
  </wsdl:message>
  <wsdl:message name="IMenuService_AuthListSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthListSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_AuthSave_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthSave" />
  </wsdl:message>
  <wsdl:message name="IMenuService_AuthSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthSaveResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_GetMenuList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuList" />
  </wsdl:message>
  <wsdl:message name="IMenuService_GetMenuList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuListResponse" />
  </wsdl:message>
  <wsdl:portType name="IMenuService">
    <wsdl:operation name="SearchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/SearchList" message="tns:IMenuService_SearchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/SearchListResponse" message="tns:IMenuService_SearchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchListMenuGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/SearchListMenuGroup" message="tns:IMenuService_SearchListMenuGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/SearchListMenuGroupResponse" message="tns:IMenuService_SearchListMenuGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAt">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/GetAt" message="tns:IMenuService_GetAt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/GetAtResponse" message="tns:IMenuService_GetAt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/Save" message="tns:IMenuService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/SaveResponse" message="tns:IMenuService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/Delete" message="tns:IMenuService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/DeleteResponse" message="tns:IMenuService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpDown">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/UpDown" message="tns:IMenuService_UpDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/UpDownResponse" message="tns:IMenuService_UpDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAtByUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/GetAtByUrl" message="tns:IMenuService_GetAtByUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/GetAtByUrlResponse" message="tns:IMenuService_GetAtByUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAtByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/GetAtByName" message="tns:IMenuService_GetAtByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/GetAtByNameResponse" message="tns:IMenuService_GetAtByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthListSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/AuthListSave" message="tns:IMenuService_AuthListSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/AuthListSaveResponse" message="tns:IMenuService_AuthListSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthSave">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/AuthSave" message="tns:IMenuService_AuthSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/AuthSaveResponse" message="tns:IMenuService_AuthSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/GetMenuList" message="tns:IMenuService_GetMenuList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/GetMenuListResponse" message="tns:IMenuService_GetMenuList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMenuService" type="tns:IMenuService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchList">
      <soap:operation soapAction="http://tempuri.org/IMenuService/SearchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchListMenuGroup">
      <soap:operation soapAction="http://tempuri.org/IMenuService/SearchListMenuGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAt">
      <soap:operation soapAction="http://tempuri.org/IMenuService/GetAt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IMenuService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IMenuService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpDown">
      <soap:operation soapAction="http://tempuri.org/IMenuService/UpDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAtByUrl">
      <soap:operation soapAction="http://tempuri.org/IMenuService/GetAtByUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAtByName">
      <soap:operation soapAction="http://tempuri.org/IMenuService/GetAtByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthListSave">
      <soap:operation soapAction="http://tempuri.org/IMenuService/AuthListSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthSave">
      <soap:operation soapAction="http://tempuri.org/IMenuService/AuthSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuList">
      <soap:operation soapAction="http://tempuri.org/IMenuService/GetMenuList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuService">
    <wsdl:port name="BasicHttpBinding_IMenuService" binding="tns:BasicHttpBinding_IMenuService">
      <soap:address location="http://localhost:8088/Menu/MenuService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>