Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/MenuService/MenuService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Menu" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Menu" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Menu/MenuService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/Menu/MenuService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
  <xs:complexType name="MenuCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActiveYn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ChannelCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContentTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Depth" type="xs:int" />
          <xs:element minOccurs="0" name="SearchProgramCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UpMenuSeq" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MenuCondition" nillable="true" type="tns:MenuCondition" />
  <xs:complexType name="ArrayOfMenuGroupItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuGroupItem" nillable="true" type="tns:MenuGroupItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuGroupItem" nillable="true" type="tns:ArrayOfMenuGroupItem" />
  <xs:complexType name="MenuGroupItem">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="menu" nillable="true" type="q2:NTB_MENU" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="menuGroup" nillable="true" type="q3:NTB_MENU_GROUP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuGroupItem" nillable="true" type="tns:MenuGroupItem" />
  <xs:complexType name="ArrayOfMenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MenuItem" nillable="true" type="tns:MenuItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMenuItem" nillable="true" type="tns:ArrayOfMenuItem" />
  <xs:complexType name="MenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeleteYn" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MenuSeq" type="xs:int" />
      <xs:element minOccurs="0" name="ReadYn" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="WriteYn" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MenuItem" nillable="true" type="tns:MenuItem" />
</xs:schema>