Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/MenuService/MenuService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Menu/MenuService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Menu" />
  <xs:import schemaLocation="http://localhost:8088/Menu/MenuService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/Menu/MenuService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
  <xs:import schemaLocation="http://localhost:8088/Menu/MenuService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SearchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Menu" minOccurs="0" name="condition" nillable="true" type="q1:MenuCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="SearchListResult" nillable="true" type="q2:ListModelOfNTB_MENUaHPuSDKR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListMenuGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupSeq" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Menu" minOccurs="0" name="condition" nillable="true" type="q3:MenuCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListMenuGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="SearchListMenuGroupResult" nillable="true" type="q4:ListModelOfMenuGroupItem4YEPgH_Pa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menuSeq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetAtResult" nillable="true" type="q5:NTB_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="model" nillable="true" type="q6:NTB_MENU" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q7:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menuSeq" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q8:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="menuSeq" type="xs:int" />
        <xs:element minOccurs="0" name="isUp" type="xs:boolean" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q9:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDownResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtByUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtByUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetAtByUrlResult" nillable="true" type="q10:NTB_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channelCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetAtByNameResult" nillable="true" type="q11:NTB_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthListSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupSeq" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Menu" minOccurs="0" name="list" nillable="true" type="q12:ArrayOfMenuItem" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q13:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthListSaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="model" nillable="true" type="q14:NTB_MENU_GROUP" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q15:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthSaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetMenuListResult" nillable="true" type="q16:ArrayOfKeyValueOfstringNullableOfintU6ho3Bhd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>