Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/OpinionService/OpinionService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Opinion/OpinionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Opinion" />
  <xs:import schemaLocation="http://localhost:8088/Opinion/OpinionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/Opinion/OpinionService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" />
  <xs:import schemaLocation="http://localhost:8088/Opinion/OpinionService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
  <xs:element name="GetColumnList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Opinion" minOccurs="0" name="condition" nillable="true" type="q1:OpinionCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColumnListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetColumnListResult" nillable="true" type="q2:ListModelOfOpinionColumnModeljYUApooI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" minOccurs="0" name="condition" nillable="true" type="q3:NewsCenterCondition" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetailListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetDetailListResult" nillable="true" type="q4:ListModelOfNUP_NEWS_SECTION_SELECT_Resultp95ZFpkp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Opinion" minOccurs="0" name="condition" nillable="true" type="q5:OpinionCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="GetPlanListResult" nillable="true" type="q6:ArrayOftblPlanArticle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ColumnBannerImg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Opinion" minOccurs="0" name="condition" nillable="true" type="q7:OpinionCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ColumnBannerImgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ColumnBannerImgResult" nillable="true" type="q8:tblPlanArticle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>