Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/OpinionService/OpinionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OpinionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/Opinion/OpinionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/Opinion/OpinionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/Opinion/OpinionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Opinion" />
      <xsd:import schemaLocation="http://localhost:8088/Opinion/OpinionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/Opinion/OpinionService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
      <xsd:import schemaLocation="http://localhost:8088/Opinion/OpinionService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOpinionService_GetColumnList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetColumnList" />
  </wsdl:message>
  <wsdl:message name="IOpinionService_GetColumnList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetColumnListResponse" />
  </wsdl:message>
  <wsdl:message name="IOpinionService_GetDetailList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailList" />
  </wsdl:message>
  <wsdl:message name="IOpinionService_GetDetailList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailListResponse" />
  </wsdl:message>
  <wsdl:message name="IOpinionService_GetPlanList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanList" />
  </wsdl:message>
  <wsdl:message name="IOpinionService_GetPlanList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlanListResponse" />
  </wsdl:message>
  <wsdl:message name="IOpinionService_ColumnBannerImg_InputMessage">
    <wsdl:part name="parameters" element="tns:ColumnBannerImg" />
  </wsdl:message>
  <wsdl:message name="IOpinionService_ColumnBannerImg_OutputMessage">
    <wsdl:part name="parameters" element="tns:ColumnBannerImgResponse" />
  </wsdl:message>
  <wsdl:portType name="IOpinionService">
    <wsdl:operation name="GetColumnList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpinionService/GetColumnList" message="tns:IOpinionService_GetColumnList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpinionService/GetColumnListResponse" message="tns:IOpinionService_GetColumnList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpinionService/GetDetailList" message="tns:IOpinionService_GetDetailList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpinionService/GetDetailListResponse" message="tns:IOpinionService_GetDetailList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlanList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpinionService/GetPlanList" message="tns:IOpinionService_GetPlanList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpinionService/GetPlanListResponse" message="tns:IOpinionService_GetPlanList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ColumnBannerImg">
      <wsdl:input wsaw:Action="http://tempuri.org/IOpinionService/ColumnBannerImg" message="tns:IOpinionService_ColumnBannerImg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOpinionService/ColumnBannerImgResponse" message="tns:IOpinionService_ColumnBannerImg_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOpinionService" type="tns:IOpinionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetColumnList">
      <soap:operation soapAction="http://tempuri.org/IOpinionService/GetColumnList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailList">
      <soap:operation soapAction="http://tempuri.org/IOpinionService/GetDetailList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlanList">
      <soap:operation soapAction="http://tempuri.org/IOpinionService/GetPlanList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ColumnBannerImg">
      <soap:operation soapAction="http://tempuri.org/IOpinionService/ColumnBannerImg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OpinionService">
    <wsdl:port name="BasicHttpBinding_IOpinionService" binding="tns:BasicHttpBinding_IOpinionService">
      <soap:address location="http://localhost:8088/Opinion/OpinionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>