Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/OpinionService/OpinionService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Opinion/OpinionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:complexType name="NewsCenterCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="Class" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Page" type="xs:int" />
          <xs:element minOccurs="0" name="SearchComp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchDept" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchGubun" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchOnOff" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchSection" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchViewYN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchWowCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NewsCenterCondition" nillable="true" type="tns:NewsCenterCondition" />
</xs:schema>