Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/LectureService/LectureService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.Lecture" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.Lecture" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/ProductManage/LectureService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/ProductManage/LectureService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8088/ProductManage/LectureService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
  <xs:complexType name="LectureCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrentSite" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LecturesDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MainCtgr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ViewSite" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LectureCondition" nillable="true" type="tns:LectureCondition" />
  <xs:complexType name="ArrayOfJOIN_LECTURES__CODE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JOIN_LECTURES__CODE" nillable="true" type="tns:JOIN_LECTURES__CODE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJOIN_LECTURES__CODE" nillable="true" type="tns:ArrayOfJOIN_LECTURES__CODE" />
  <xs:complexType name="JOIN_LECTURES__CODE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURES_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURES_TIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAIN_CTGR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSEQ" type="xs:int" />
      <xs:element minOccurs="0" name="PLACE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="THUMNAIL_FILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UP_COMMON_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_SITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WG_IMAGE_FILE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JOIN_LECTURES__CODE" nillable="true" type="tns:JOIN_LECTURES__CODE" />
  <xs:complexType name="LectureScheduleDtl">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LecDelList" nillable="true" type="q2:ArrayOfint" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="LectureData" nillable="true" type="q3:TAB_LECTURES" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SchDelList" nillable="true" type="q4:ArrayOfint" />
      <xs:element minOccurs="0" name="ScheduleList" nillable="true" type="tns:ArrayOfDtlSchedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LectureScheduleDtl" nillable="true" type="tns:LectureScheduleDtl" />
  <xs:complexType name="ArrayOfDtlSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DtlSchedule" nillable="true" type="tns:DtlSchedule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDtlSchedule" nillable="true" type="tns:ArrayOfDtlSchedule" />
  <xs:complexType name="DtlSchedule">
    <xs:sequence>
      <xs:element minOccurs="0" name="ETC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURES_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURES_TIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LecturerList" nillable="true" type="tns:ArrayOfJOIN_LECTURER_PARTNER" />
      <xs:element minOccurs="0" name="MSEQ" type="xs:int" />
      <xs:element minOccurs="0" name="PLACE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DtlSchedule" nillable="true" type="tns:DtlSchedule" />
  <xs:complexType name="ArrayOfJOIN_LECTURER_PARTNER">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JOIN_LECTURER_PARTNER" nillable="true" type="tns:JOIN_LECTURER_PARTNER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJOIN_LECTURER_PARTNER" nillable="true" type="tns:ArrayOfJOIN_LECTURER_PARTNER" />
  <xs:complexType name="JOIN_LECTURER_PARTNER">
    <xs:sequence>
      <xs:element minOccurs="0" name="CafeDomain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURER_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSEQ" type="xs:int" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARTNER_NO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Pro_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="Wowtv_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JOIN_LECTURER_PARTNER" nillable="true" type="tns:JOIN_LECTURER_PARTNER" />
  <xs:complexType name="ArrayOfJOIN_LECTURES_PARTNER">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JOIN_LECTURES_PARTNER" nillable="true" type="tns:JOIN_LECTURES_PARTNER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJOIN_LECTURES_PARTNER" nillable="true" type="tns:ArrayOfJOIN_LECTURES_PARTNER" />
  <xs:complexType name="JOIN_LECTURES_PARTNER">
    <xs:sequence>
      <xs:element minOccurs="0" name="CSEQ" type="xs:int" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURER_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURES_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURES_TIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAIN_CTGR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARTNER_NO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JOIN_LECTURES_PARTNER" nillable="true" type="tns:JOIN_LECTURES_PARTNER" />
  <xs:complexType name="ArrayOfJOIN_LECTURES_SCHEDULE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JOIN_LECTURES_SCHEDULE" nillable="true" type="tns:JOIN_LECTURES_SCHEDULE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJOIN_LECTURES_SCHEDULE" nillable="true" type="tns:ArrayOfJOIN_LECTURES_SCHEDULE" />
  <xs:complexType name="JOIN_LECTURES_SCHEDULE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADMIN_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENTS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXPENSE" type="xs:int" />
      <xs:element minOccurs="0" name="GUBUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURER_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURES_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURES_TIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAIN_CTGR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANAGER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSEQ" type="xs:int" />
      <xs:element minOccurs="0" name="PARTNER_NO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLACE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="THUMNAIL_FILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_SITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WG_IMAGE_FILE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JOIN_LECTURES_SCHEDULE" nillable="true" type="tns:JOIN_LECTURES_SCHEDULE" />
</xs:schema>