Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/BoardService/BoardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BoardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/Board/BoardService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/Board/BoardService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/Board/BoardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Board" />
      <xsd:import schemaLocation="http://localhost:8088/Board/BoardService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/Board/BoardService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
      <xsd:import schemaLocation="http://localhost:8088/Board/BoardService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8088/Board/BoardService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import schemaLocation="http://localhost:8088/Board/BoardService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBoardService_SearchList_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchList" />
  </wsdl:message>
  <wsdl:message name="IBoardService_SearchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListResponse" />
  </wsdl:message>
  <wsdl:message name="IBoardService_GetAt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAt" />
  </wsdl:message>
  <wsdl:message name="IBoardService_GetAt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtResponse" />
  </wsdl:message>
  <wsdl:message name="IBoardService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IBoardService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IBoardService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IBoardService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IBoardService_DeleteList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteList" />
  </wsdl:message>
  <wsdl:message name="IBoardService_DeleteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteListResponse" />
  </wsdl:message>
  <wsdl:message name="IBoardService_ExcelExport_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcelExport" />
  </wsdl:message>
  <wsdl:message name="IBoardService_ExcelExport_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcelExportResponse" />
  </wsdl:message>
  <wsdl:portType name="IBoardService">
    <wsdl:operation name="SearchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoardService/SearchList" message="tns:IBoardService_SearchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoardService/SearchListResponse" message="tns:IBoardService_SearchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAt">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoardService/GetAt" message="tns:IBoardService_GetAt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoardService/GetAtResponse" message="tns:IBoardService_GetAt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoardService/Save" message="tns:IBoardService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoardService/SaveResponse" message="tns:IBoardService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoardService/Delete" message="tns:IBoardService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoardService/DeleteResponse" message="tns:IBoardService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoardService/DeleteList" message="tns:IBoardService_DeleteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoardService/DeleteListResponse" message="tns:IBoardService_DeleteList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcelExport">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoardService/ExcelExport" message="tns:IBoardService_ExcelExport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoardService/ExcelExportResponse" message="tns:IBoardService_ExcelExport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBoardService" type="tns:IBoardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchList">
      <soap:operation soapAction="http://tempuri.org/IBoardService/SearchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAt">
      <soap:operation soapAction="http://tempuri.org/IBoardService/GetAt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IBoardService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IBoardService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteList">
      <soap:operation soapAction="http://tempuri.org/IBoardService/DeleteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcelExport">
      <soap:operation soapAction="http://tempuri.org/IBoardService/ExcelExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BoardService">
    <wsdl:port name="BasicHttpBinding_IBoardService" binding="tns:BasicHttpBinding_IBoardService">
      <soap:address location="http://localhost:8088/Board/BoardService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>