Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/LectureService/LectureService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LectureService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/ProductManage/LectureService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/ProductManage/LectureService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/ProductManage/LectureService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.Lecture" />
      <xsd:import schemaLocation="http://localhost:8088/ProductManage/LectureService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/ProductManage/LectureService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8088/ProductManage/LectureService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILectureService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="ILectureService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="ILectureService_GetDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDetail" />
  </wsdl:message>
  <wsdl:message name="ILectureService_GetDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ILectureService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="ILectureService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="ILectureService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ILectureService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ILectureService_GetCalendarDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarDate" />
  </wsdl:message>
  <wsdl:message name="ILectureService_GetCalendarDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCalendarDateResponse" />
  </wsdl:message>
  <wsdl:message name="ILectureService_SearchSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSchedule" />
  </wsdl:message>
  <wsdl:message name="ILectureService_SearchSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ILectureService_GetDateCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDateCount" />
  </wsdl:message>
  <wsdl:message name="ILectureService_GetDateCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDateCountResponse" />
  </wsdl:message>
  <wsdl:message name="ILectureService_ApplyLecture_InputMessage">
    <wsdl:part name="parameters" element="tns:ApplyLecture" />
  </wsdl:message>
  <wsdl:message name="ILectureService_ApplyLecture_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApplyLectureResponse" />
  </wsdl:message>
  <wsdl:message name="ILectureService_GetQuickLectures_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuickLectures" />
  </wsdl:message>
  <wsdl:message name="ILectureService_GetQuickLectures_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuickLecturesResponse" />
  </wsdl:message>
  <wsdl:message name="ILectureService_GetLatestLecture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestLecture" />
  </wsdl:message>
  <wsdl:message name="ILectureService_GetLatestLecture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestLectureResponse" />
  </wsdl:message>
  <wsdl:portType name="ILectureService">
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectureService/GetList" message="tns:ILectureService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectureService/GetListResponse" message="tns:ILectureService_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectureService/GetDetail" message="tns:ILectureService_GetDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectureService/GetDetailResponse" message="tns:ILectureService_GetDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectureService/Save" message="tns:ILectureService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectureService/SaveResponse" message="tns:ILectureService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectureService/Delete" message="tns:ILectureService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectureService/DeleteResponse" message="tns:ILectureService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCalendarDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectureService/GetCalendarDate" message="tns:ILectureService_GetCalendarDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectureService/GetCalendarDateResponse" message="tns:ILectureService_GetCalendarDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectureService/SearchSchedule" message="tns:ILectureService_SearchSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectureService/SearchScheduleResponse" message="tns:ILectureService_SearchSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDateCount">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectureService/GetDateCount" message="tns:ILectureService_GetDateCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectureService/GetDateCountResponse" message="tns:ILectureService_GetDateCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApplyLecture">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectureService/ApplyLecture" message="tns:ILectureService_ApplyLecture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectureService/ApplyLectureResponse" message="tns:ILectureService_ApplyLecture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuickLectures">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectureService/GetQuickLectures" message="tns:ILectureService_GetQuickLectures_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectureService/GetQuickLecturesResponse" message="tns:ILectureService_GetQuickLectures_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestLecture">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectureService/GetLatestLecture" message="tns:ILectureService_GetLatestLecture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectureService/GetLatestLectureResponse" message="tns:ILectureService_GetLatestLecture_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILectureService" type="tns:ILectureService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/ILectureService/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetail">
      <soap:operation soapAction="http://tempuri.org/ILectureService/GetDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/ILectureService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ILectureService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCalendarDate">
      <soap:operation soapAction="http://tempuri.org/ILectureService/GetCalendarDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSchedule">
      <soap:operation soapAction="http://tempuri.org/ILectureService/SearchSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateCount">
      <soap:operation soapAction="http://tempuri.org/ILectureService/GetDateCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApplyLecture">
      <soap:operation soapAction="http://tempuri.org/ILectureService/ApplyLecture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuickLectures">
      <soap:operation soapAction="http://tempuri.org/ILectureService/GetQuickLectures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestLecture">
      <soap:operation soapAction="http://tempuri.org/ILectureService/GetLatestLecture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LectureService">
    <wsdl:port name="BasicHttpBinding_ILectureService" binding="tns:BasicHttpBinding_ILectureService">
      <soap:address location="http://localhost:8088/ProductManage/LectureService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>