Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/MemberLoginService/LoginService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Member" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Member" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SetPasswordResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="TempPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SetPasswordResult" nillable="true" type="tns:SetPasswordResult" />
</xs:schema>