Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/MemberLoginService/LoginService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AuthDormancyCheckMemberResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthDormancyCheckMemberResult" nillable="true" type="tns:AuthDormancyCheckMemberResult" />
  <xs:complexType name="IpinInitResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="RequestData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" type="xs:int" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IpinInitResult" nillable="true" type="tns:IpinInitResult" />
  <xs:complexType name="AuthDormancyCheckIpinResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DenialText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpinCheckResult" nillable="true" type="tns:IpinCheckResult" />
      <xs:element minOccurs="0" name="IsDenial" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthDormancyCheckIpinResult" nillable="true" type="tns:AuthDormancyCheckIpinResult" />
  <xs:complexType name="IpinCheckResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CIUpdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CoInfo1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DupInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GenderCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" type="xs:int" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VirtualNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IpinCheckResult" nillable="true" type="tns:IpinCheckResult" />
  <xs:complexType name="SmsInitResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EncryptedData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" type="xs:int" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SmsInitResult" nillable="true" type="tns:SmsInitResult" />
  <xs:complexType name="AuthDormancyCheckSmsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DenialText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDenial" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="SmsCheckResult" nillable="true" type="tns:SmsCheckResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthDormancyCheckSmsResult" nillable="true" type="tns:AuthDormancyCheckSmsResult" />
  <xs:complexType name="SmsCheckResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CipherTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileCompany" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NationalInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestSeq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseSeq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" type="xs:int" />
      <xs:element minOccurs="0" name="ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SmsCheckResult" nillable="true" type="tns:SmsCheckResult" />
  <xs:complexType name="FindIdResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MemberType" type="tns:MemberType" />
      <xs:element minOccurs="0" name="RegistDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindIdResult" nillable="true" type="tns:FindIdResult" />
  <xs:simpleType name="MemberType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="General" />
      <xs:enumeration value="Foreign" />
      <xs:enumeration value="Company" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MemberType" nillable="true" type="tns:MemberType" />
  <xs:complexType name="FindPasswordResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindPasswordResult" nillable="true" type="tns:FindPasswordResult" />
</xs:schema>