Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/CastService/CastService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.MyProgram" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.MyProgram" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/MyProgram/CastService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
  <xs:import schemaLocation="http://localhost:8088/MyProgram/CastService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" />
  <xs:complexType name="ProgramCastModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="AttachFile" nillable="true" type="q1:NTB_ATTACH_FILE" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" minOccurs="0" name="ProWowList" nillable="true" type="q2:Pro_wowList" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" minOccurs="0" name="ProgramCast" nillable="true" type="q3:NTB_PROGRAM_CAST" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProgramCastModel" nillable="true" type="tns:ProgramCastModel" />
  <xs:complexType name="ArrayOfProgramCastModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProgramCastModel" nillable="true" type="tns:ProgramCastModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProgramCastModel" nillable="true" type="tns:ArrayOfProgramCastModel" />
</xs:schema>