Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/PilotService/PilotService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTAB_BOARD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_BOARD" nillable="true" type="tns:TAB_BOARD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_BOARD" nillable="true" type="tns:ArrayOfTAB_BOARD" />
  <xs:complexType name="TAB_BOARD">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASTROMANCY_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ASTROMANCY_NUM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMOTICON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUBUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEMO_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MY_WRITE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PUBLICITY_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="READ_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RECOMMEND_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF_LEVEL" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF_STEP" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REVERSE_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="SOURCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEMP_GBN" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TEMP_NUM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_FLAG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_BOARD" nillable="true" type="tns:TAB_BOARD" />
</xs:schema>