Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/CastService/CastService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CastService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/MyProgram/CastService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/MyProgram/CastService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/MyProgram/CastService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.MyProgram" />
      <xsd:import schemaLocation="http://localhost:8088/MyProgram/CastService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
      <xsd:import schemaLocation="http://localhost:8088/MyProgram/CastService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" />
      <xsd:import schemaLocation="http://localhost:8088/MyProgram/CastService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8088/MyProgram/CastService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast.MyProgram" />
      <xsd:import schemaLocation="http://localhost:8088/MyProgram/CastService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICastService_GetAt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAt" />
  </wsdl:message>
  <wsdl:message name="ICastService_GetAt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtResponse" />
  </wsdl:message>
  <wsdl:message name="ICastService_SearchList_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchList" />
  </wsdl:message>
  <wsdl:message name="ICastService_SearchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListResponse" />
  </wsdl:message>
  <wsdl:message name="ICastService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="ICastService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="ICastService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ICastService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ICastService_DeleteList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteList" />
  </wsdl:message>
  <wsdl:message name="ICastService_DeleteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteListResponse" />
  </wsdl:message>
  <wsdl:portType name="ICastService">
    <wsdl:operation name="GetAt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICastService/GetAt" message="tns:ICastService_GetAt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICastService/GetAtResponse" message="tns:ICastService_GetAt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICastService/SearchList" message="tns:ICastService_SearchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICastService/SearchListResponse" message="tns:ICastService_SearchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/ICastService/Save" message="tns:ICastService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICastService/SaveResponse" message="tns:ICastService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICastService/Delete" message="tns:ICastService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICastService/DeleteResponse" message="tns:ICastService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICastService/DeleteList" message="tns:ICastService_DeleteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICastService/DeleteListResponse" message="tns:ICastService_DeleteList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICastService" type="tns:ICastService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAt">
      <soap:operation soapAction="http://tempuri.org/ICastService/GetAt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchList">
      <soap:operation soapAction="http://tempuri.org/ICastService/SearchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/ICastService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICastService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteList">
      <soap:operation soapAction="http://tempuri.org/ICastService/DeleteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CastService">
    <wsdl:port name="BasicHttpBinding_ICastService" binding="tns:BasicHttpBinding_ICastService">
      <soap:address location="http://localhost:8088/MyProgram/CastService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>