Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/CastService/CastService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NTB_ATTACH_FILE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATTACH_FILE_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTENSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_SIZE" type="xs:int" />
      <xs:element minOccurs="0" name="REAL_FILE_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REAL_WEB_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TABLE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TABLE_KEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_UPLOAD_FILE_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_ATTACH_FILE" nillable="true" type="tns:NTB_ATTACH_FILE" />
</xs:schema>