Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/ReporterService/ReporterService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Reporter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Reporter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Reporter/ReporterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/Reporter/ReporterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
  <xs:complexType name="AwordCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReporterId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AwordCondition" nillable="true" type="tns:AwordCondition" />
  <xs:complexType name="ArrayOfReportAword">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReportAword" nillable="true" type="tns:ReportAword" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReportAword" nillable="true" type="tns:ArrayOfReportAword" />
  <xs:complexType name="ReportAword">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ReplyData" nillable="true" type="q2:NTB_REPORTER_AWORD" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="SubReplyList" nillable="true" type="q3:ArrayOfNTB_REPORTER_AWORD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportAword" nillable="true" type="tns:ReportAword" />
  <xs:complexType name="SendEmail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contents" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReporterEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReporterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendEmail" nillable="true" type="tns:SendEmail" />
</xs:schema>