Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/ReporterService/ReporterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Reporter/ReporterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/Reporter/ReporterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
  <xs:import schemaLocation="http://localhost:8088/Reporter/ReporterService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Reporter" />
  <xs:element name="GetReporterList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchInitial" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="isRandom" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReporterListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetReporterListResult" nillable="true" type="q1:ListModelOfNUP_REPORTER_SELECT_Resultp95ZFpkp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReporterInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reporterId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReporterInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="GetReporterInfoResult" nillable="true" type="q2:NUP_REPORTER_SELECT_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAWordToReporter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Reporter" minOccurs="0" name="condition" nillable="true" type="q3:AwordCondition" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q4:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAWordToReporterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetAWordToReporterResult" nillable="true" type="q5:ListModelOfReportAwordqXsGzlIL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAWordToReporter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="model" nillable="true" type="q6:NTB_REPORTER_AWORD" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q7:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAWordToReporterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAWordToReporter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="replyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAWordToReporterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecommend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reporterID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecommendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecommendResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRecommend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reporterID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRecommendResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReporterInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="model" nillable="true" type="q8:NTB_REPORTER_PROFILE" />
        <xs:element minOccurs="0" name="txtImgURL" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q9:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveReporterInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubScription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reporterID" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUserInfo" nillable="true" type="q10:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubScriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="GetSubScriptionResult" nillable="true" type="q11:NTB_ARTICLE_SUBSCRIPTION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSubScription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="model" nillable="true" type="q12:NTB_ARTICLE_SUBSCRIPTION" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUserInfo" nillable="true" type="q13:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSubScriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSubScriptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubScription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reporterID" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUserInfo" nillable="true" type="q14:LoginUserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSubScriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubScriptionReject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reporterId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubScriptionRejectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Reporter" minOccurs="0" name="email" nillable="true" type="q15:SendEmail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>