Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/ReporterService/ReporterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Reporter/ReporterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
  <xs:import schemaLocation="http://localhost:8088/Reporter/ReporterService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Reporter" />
  <xs:complexType name="ListModelOfNUP_REPORTER_SELECT_Resultp95ZFpkp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NUP_REPORTER_SELECT_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData" nillable="true" type="q1:ArrayOfNUP_REPORTER_SELECT_Result" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData2" nillable="true" type="q2:ArrayOfNUP_REPORTER_SELECT_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNUP_REPORTER_SELECT_Resultp95ZFpkp" nillable="true" type="tns:ListModelOfNUP_REPORTER_SELECT_Resultp95ZFpkp" />
  <xs:complexType name="BaseCondition">
    <xs:sequence>
      <xs:element name="_x003C_CurrentIndex_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CurrentMenuSeq_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PageSize_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseCondition" nillable="true" type="tns:BaseCondition" />
  <xs:complexType name="LoginUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacebookInfo" nillable="true" type="tns:FacebookUserInfo" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KakaoInfo" nillable="true" type="tns:KakaoUserInfo" />
      <xs:element minOccurs="0" name="LoginByAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginFrom" type="tns:LoginDomain" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaverInfo" nillable="true" type="tns:NaverUserInfo" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUserInfo" nillable="true" type="tns:LoginUserInfo" />
  <xs:complexType name="FacebookUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacebookUserInfo" nillable="true" type="tns:FacebookUserInfo" />
  <xs:complexType name="KakaoUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KakaoUserInfo" nillable="true" type="tns:KakaoUserInfo" />
  <xs:simpleType name="LoginDomain">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IdPw" />
      <xs:enumeration value="Membership" />
      <xs:enumeration value="Kakao" />
      <xs:enumeration value="Facebook" />
      <xs:enumeration value="Naver" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginDomain" nillable="true" type="tns:LoginDomain" />
  <xs:complexType name="NaverUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NaverUserInfo" nillable="true" type="tns:NaverUserInfo" />
  <xs:complexType name="ListModelOfReportAwordqXsGzlIL">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ReportAword" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Reporter" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Reporter" minOccurs="0" name="ListData" nillable="true" type="q3:ArrayOfReportAword" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Reporter" minOccurs="0" name="ListData2" nillable="true" type="q4:ArrayOfReportAword" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfReportAwordqXsGzlIL" nillable="true" type="tns:ListModelOfReportAwordqXsGzlIL" />
</xs:schema>