Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/ReporterService/ReporterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReporterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/Reporter/ReporterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/Reporter/ReporterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/Reporter/ReporterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/Reporter/ReporterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
      <xsd:import schemaLocation="http://localhost:8088/Reporter/ReporterService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.Reporter" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReporterService_GetReporterList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReporterList" />
  </wsdl:message>
  <wsdl:message name="IReporterService_GetReporterList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReporterListResponse" />
  </wsdl:message>
  <wsdl:message name="IReporterService_GetReporterInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReporterInfo" />
  </wsdl:message>
  <wsdl:message name="IReporterService_GetReporterInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReporterInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IReporterService_GetAWordToReporter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAWordToReporter" />
  </wsdl:message>
  <wsdl:message name="IReporterService_GetAWordToReporter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAWordToReporterResponse" />
  </wsdl:message>
  <wsdl:message name="IReporterService_SaveAWordToReporter_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAWordToReporter" />
  </wsdl:message>
  <wsdl:message name="IReporterService_SaveAWordToReporter_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAWordToReporterResponse" />
  </wsdl:message>
  <wsdl:message name="IReporterService_DeleteAWordToReporter_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAWordToReporter" />
  </wsdl:message>
  <wsdl:message name="IReporterService_DeleteAWordToReporter_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAWordToReporterResponse" />
  </wsdl:message>
  <wsdl:message name="IReporterService_GetRecommend_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecommend" />
  </wsdl:message>
  <wsdl:message name="IReporterService_GetRecommend_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecommendResponse" />
  </wsdl:message>
  <wsdl:message name="IReporterService_SaveRecommend_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveRecommend" />
  </wsdl:message>
  <wsdl:message name="IReporterService_SaveRecommend_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveRecommendResponse" />
  </wsdl:message>
  <wsdl:message name="IReporterService_SaveReporterInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveReporterInfo" />
  </wsdl:message>
  <wsdl:message name="IReporterService_SaveReporterInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveReporterInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IReporterService_GetSubScription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubScription" />
  </wsdl:message>
  <wsdl:message name="IReporterService_GetSubScription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubScriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IReporterService_SaveSubScription_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSubScription" />
  </wsdl:message>
  <wsdl:message name="IReporterService_SaveSubScription_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSubScriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IReporterService_DeleteSubScription_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSubScription" />
  </wsdl:message>
  <wsdl:message name="IReporterService_DeleteSubScription_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSubScriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IReporterService_SubScriptionReject_InputMessage">
    <wsdl:part name="parameters" element="tns:SubScriptionReject" />
  </wsdl:message>
  <wsdl:message name="IReporterService_SubScriptionReject_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubScriptionRejectResponse" />
  </wsdl:message>
  <wsdl:message name="IReporterService_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="IReporterService_SendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IReporterService">
    <wsdl:operation name="GetReporterList">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporterService/GetReporterList" message="tns:IReporterService_GetReporterList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporterService/GetReporterListResponse" message="tns:IReporterService_GetReporterList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReporterInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporterService/GetReporterInfo" message="tns:IReporterService_GetReporterInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporterService/GetReporterInfoResponse" message="tns:IReporterService_GetReporterInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAWordToReporter">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporterService/GetAWordToReporter" message="tns:IReporterService_GetAWordToReporter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporterService/GetAWordToReporterResponse" message="tns:IReporterService_GetAWordToReporter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAWordToReporter">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporterService/SaveAWordToReporter" message="tns:IReporterService_SaveAWordToReporter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporterService/SaveAWordToReporterResponse" message="tns:IReporterService_SaveAWordToReporter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAWordToReporter">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporterService/DeleteAWordToReporter" message="tns:IReporterService_DeleteAWordToReporter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporterService/DeleteAWordToReporterResponse" message="tns:IReporterService_DeleteAWordToReporter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecommend">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporterService/GetRecommend" message="tns:IReporterService_GetRecommend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporterService/GetRecommendResponse" message="tns:IReporterService_GetRecommend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveRecommend">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporterService/SaveRecommend" message="tns:IReporterService_SaveRecommend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporterService/SaveRecommendResponse" message="tns:IReporterService_SaveRecommend_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveReporterInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporterService/SaveReporterInfo" message="tns:IReporterService_SaveReporterInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporterService/SaveReporterInfoResponse" message="tns:IReporterService_SaveReporterInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubScription">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporterService/GetSubScription" message="tns:IReporterService_GetSubScription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporterService/GetSubScriptionResponse" message="tns:IReporterService_GetSubScription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSubScription">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporterService/SaveSubScription" message="tns:IReporterService_SaveSubScription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporterService/SaveSubScriptionResponse" message="tns:IReporterService_SaveSubScription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSubScription">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporterService/DeleteSubScription" message="tns:IReporterService_DeleteSubScription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporterService/DeleteSubScriptionResponse" message="tns:IReporterService_DeleteSubScription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubScriptionReject">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporterService/SubScriptionReject" message="tns:IReporterService_SubScriptionReject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporterService/SubScriptionRejectResponse" message="tns:IReporterService_SubScriptionReject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IReporterService/SendEmail" message="tns:IReporterService_SendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReporterService/SendEmailResponse" message="tns:IReporterService_SendEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReporterService" type="tns:IReporterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReporterList">
      <soap:operation soapAction="http://tempuri.org/IReporterService/GetReporterList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReporterInfo">
      <soap:operation soapAction="http://tempuri.org/IReporterService/GetReporterInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAWordToReporter">
      <soap:operation soapAction="http://tempuri.org/IReporterService/GetAWordToReporter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAWordToReporter">
      <soap:operation soapAction="http://tempuri.org/IReporterService/SaveAWordToReporter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAWordToReporter">
      <soap:operation soapAction="http://tempuri.org/IReporterService/DeleteAWordToReporter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecommend">
      <soap:operation soapAction="http://tempuri.org/IReporterService/GetRecommend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRecommend">
      <soap:operation soapAction="http://tempuri.org/IReporterService/SaveRecommend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveReporterInfo">
      <soap:operation soapAction="http://tempuri.org/IReporterService/SaveReporterInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubScription">
      <soap:operation soapAction="http://tempuri.org/IReporterService/GetSubScription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSubScription">
      <soap:operation soapAction="http://tempuri.org/IReporterService/SaveSubScription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSubScription">
      <soap:operation soapAction="http://tempuri.org/IReporterService/DeleteSubScription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubScriptionReject">
      <soap:operation soapAction="http://tempuri.org/IReporterService/SubScriptionReject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/IReporterService/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReporterService">
    <wsdl:port name="BasicHttpBinding_IReporterService" binding="tns:BasicHttpBinding_IReporterService">
      <soap:address location="http://localhost:8088/Reporter/ReporterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>