Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/IntegratedBoardService/IntegratedBoardService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Admin/IntegratedBoardService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
  <xs:complexType name="BaseCondition">
    <xs:sequence>
      <xs:element name="_x003C_CurrentIndex_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CurrentMenuSeq_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PageSize_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseCondition" nillable="true" type="tns:BaseCondition" />
  <xs:complexType name="IntegratedBoardOfNTB_BOARD_CONTENTaHPuSDKR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="IntegratedBoardOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NTB_BOARD_CONTENT" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ListModelOfNTB_BOARD_CONTENTaHPuSDKR">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="BoardInfo" nillable="true" type="q1:NTB_BOARD" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="CommonCodes" nillable="true" type="q2:ArrayOfNTB_COMMON_CODE" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntegratedBoardOfNTB_BOARD_CONTENTaHPuSDKR" nillable="true" type="tns:IntegratedBoardOfNTB_BOARD_CONTENTaHPuSDKR" />
  <xs:complexType name="ListModelOfNTB_BOARD_CONTENTaHPuSDKR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NTB_BOARD_CONTENT" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="ListData" nillable="true" type="q3:ArrayOfNTB_BOARD_CONTENT" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="ListData2" nillable="true" type="q4:ArrayOfNTB_BOARD_CONTENT" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNTB_BOARD_CONTENTaHPuSDKR" nillable="true" type="tns:ListModelOfNTB_BOARD_CONTENTaHPuSDKR" />
  <xs:complexType name="LoginUser">
    <xs:sequence>
      <xs:element name="_x003C_AdminSeq_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Ip_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastLoginDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_LoginId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MenuList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfAdminMenuItem" />
      <xs:element name="_x003C_PartCodeName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUser" nillable="true" type="tns:LoginUser" />
  <xs:complexType name="ArrayOfAdminMenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminMenuItem" nillable="true" type="tns:AdminMenuItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdminMenuItem" nillable="true" type="tns:ArrayOfAdminMenuItem" />
  <xs:complexType name="AdminMenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Href" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRead" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWrite" type="xs:boolean" />
      <xs:element minOccurs="0" name="MenuSeq" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminMenuItem" nillable="true" type="tns:AdminMenuItem" />
  <xs:complexType name="ArrayOfMainStatsModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MainStatsModel" nillable="true" type="tns:MainStatsModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMainStatsModel" nillable="true" type="tns:ArrayOfMainStatsModel" />
  <xs:complexType name="MainStatsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupCount" type="xs:int" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpGroupCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainStatsModel" nillable="true" type="tns:MainStatsModel" />
  <xs:complexType name="ListModelOfNTB_BOARD_COMMENTaHPuSDKR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NTB_BOARD_COMMENT" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="ListData" nillable="true" type="q5:ArrayOfNTB_BOARD_COMMENT" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="ListData2" nillable="true" type="q6:ArrayOfNTB_BOARD_COMMENT" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNTB_BOARD_COMMENTaHPuSDKR" nillable="true" type="tns:ListModelOfNTB_BOARD_COMMENTaHPuSDKR" />
</xs:schema>