Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/IntegratedBoardService/IntegratedBoardService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNTB_BOARD_CONTENT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_BOARD_CONTENT" nillable="true" type="tns:NTB_BOARD_CONTENT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_BOARD_CONTENT" nillable="true" type="tns:ArrayOfNTB_BOARD_CONTENT" />
  <xs:complexType name="NTB_BOARD_CONTENT">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGREE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttachFileList" nillable="true" type="tns:ArrayOfNTB_ATTACH_FILE" />
      <xs:element minOccurs="0" name="BLIND_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOARD_CONTENT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="BOARD_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="COMMON_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CommentList" nillable="true" type="tns:ArrayOfNTB_BOARD_COMMENT" />
      <xs:element minOccurs="0" name="CommonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPTH" type="xs:int" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="END_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsComment" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFile" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReply" type="xs:boolean" />
      <xs:element minOccurs="0" name="KEYWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuSeq" type="xs:int" />
      <xs:element minOccurs="0" name="NOTICE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTB_BOARD" nillable="true" type="tns:NTB_BOARD" />
      <xs:element minOccurs="0" name="NTB_BOARD_COMMENT" nillable="true" type="tns:ArrayOfNTB_BOARD_COMMENT" />
      <xs:element minOccurs="0" name="PAGE_LINK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="READ_CNT" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPLY_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReplyList" nillable="true" type="tns:ArrayOfNTB_BOARD_CONTENT" />
      <xs:element minOccurs="0" name="SORD_ORDER" type="xs:int" />
      <xs:element minOccurs="0" name="START_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOP_BOARD_CONTENT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="Telno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UP_BOARD_CONTENT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="UP_COMMON_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpCommonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_YN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_BOARD_CONTENT" nillable="true" type="tns:NTB_BOARD_CONTENT" />
  <xs:complexType name="ArrayOfNTB_ATTACH_FILE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_ATTACH_FILE" nillable="true" type="tns:NTB_ATTACH_FILE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_ATTACH_FILE" nillable="true" type="tns:ArrayOfNTB_ATTACH_FILE" />
  <xs:complexType name="NTB_ATTACH_FILE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATTACH_FILE_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTENSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_SIZE" type="xs:int" />
      <xs:element minOccurs="0" name="REAL_FILE_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REAL_WEB_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TABLE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TABLE_KEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_UPLOAD_FILE_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_ATTACH_FILE" nillable="true" type="tns:NTB_ATTACH_FILE" />
  <xs:complexType name="ArrayOfNTB_BOARD_COMMENT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_BOARD_COMMENT" nillable="true" type="tns:NTB_BOARD_COMMENT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_BOARD_COMMENT" nillable="true" type="tns:ArrayOfNTB_BOARD_COMMENT" />
  <xs:complexType name="NTB_BOARD_COMMENT">
    <xs:sequence>
      <xs:element minOccurs="0" name="BLIND_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOARD_CONTENT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="COMMENT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTB_BOARD_CONTENT" nillable="true" type="tns:NTB_BOARD_CONTENT" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_IP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_BOARD_COMMENT" nillable="true" type="tns:NTB_BOARD_COMMENT" />
  <xs:complexType name="NTB_BOARD">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATTACH_FILE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BLIND_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOARD_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOARD_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="BOARD_TYPE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOTTOM_CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoardTypeCodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMMENT_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="KEYWORD_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTICE_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="NTB_BOARD_CONTENT" nillable="true" type="tns:ArrayOfNTB_BOARD_CONTENT" />
      <xs:element minOccurs="0" name="PASSWORD_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPLY_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCRAP_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOP_CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOP_NOTICE_YN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_BOARD" nillable="true" type="tns:NTB_BOARD" />
  <xs:complexType name="ArrayOfNTB_COMMON_CODE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_COMMON_CODE" nillable="true" type="tns:NTB_COMMON_CODE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_COMMON_CODE" nillable="true" type="tns:ArrayOfNTB_COMMON_CODE" />
  <xs:complexType name="NTB_COMMON_CODE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE_VALUE1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE_VALUE2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE_VALUE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE_VALUE4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE_VALUE5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMMON_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SORT_ORDER" type="xs:int" />
      <xs:element minOccurs="0" name="UP_COMMON_CODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_COMMON_CODE" nillable="true" type="tns:NTB_COMMON_CODE" />
  <xs:complexType name="NTB_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoardTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHANNEL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT_SEQ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CONTENT_TYPE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPTH" type="xs:int" />
      <xs:element minOccurs="0" name="FIX_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LINK_TYPE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LINK_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_NAME_DEPTH_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_NAME_DEPTH_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_NAME_DEPTH_3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTB_MENU_GROUP" nillable="true" type="tns:ArrayOfNTB_MENU_GROUP" />
      <xs:element minOccurs="0" name="PRG_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SORD_ORDER" type="xs:int" />
      <xs:element minOccurs="0" name="UP_MENU_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="sccode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_MENU" nillable="true" type="tns:NTB_MENU" />
  <xs:complexType name="ArrayOfNTB_MENU_GROUP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_MENU_GROUP" nillable="true" type="tns:NTB_MENU_GROUP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_MENU_GROUP" nillable="true" type="tns:ArrayOfNTB_MENU_GROUP" />
  <xs:complexType name="NTB_MENU_GROUP">
    <xs:sequence>
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="Href" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="NTB_GROUP" nillable="true" type="tns:NTB_GROUP" />
      <xs:element minOccurs="0" name="NTB_MENU" nillable="true" type="tns:NTB_MENU" />
      <xs:element minOccurs="0" name="READ_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WRITE_YN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_MENU_GROUP" nillable="true" type="tns:NTB_MENU_GROUP" />
  <xs:complexType name="NTB_GROUP">
    <xs:sequence>
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTB_MENU_GROUP" nillable="true" type="tns:ArrayOfNTB_MENU_GROUP" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAB_CMS_ADMIN" nillable="true" type="tns:ArrayOfTAB_CMS_ADMIN" />
      <xs:element minOccurs="0" name="USE_YN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_GROUP" nillable="true" type="tns:NTB_GROUP" />
  <xs:complexType name="ArrayOfTAB_CMS_ADMIN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_CMS_ADMIN" nillable="true" type="tns:TAB_CMS_ADMIN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_CMS_ADMIN" nillable="true" type="tns:ArrayOfTAB_CMS_ADMIN" />
  <xs:complexType name="TAB_CMS_ADMIN">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADMIN_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPROVAL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_SEQ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JOB_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_LOGIN_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LAST_LOGIN_IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_MOBILE_AUTH_NUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOGIN_FAIL_COUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MCLASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MISSLEE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLEVEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTB_GROUP" nillable="true" type="tns:NTB_GROUP" />
      <xs:element minOccurs="0" name="PART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PART_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PWD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartCodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAB_CMS_MENU" nillable="true" type="tns:ArrayOfTAB_CMS_MENU" />
      <xs:element minOccurs="0" name="WOWNET" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_CMS_ADMIN" nillable="true" type="tns:TAB_CMS_ADMIN" />
  <xs:complexType name="ArrayOfTAB_CMS_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_CMS_MENU" nillable="true" type="tns:TAB_CMS_MENU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_CMS_MENU" nillable="true" type="tns:ArrayOfTAB_CMS_MENU" />
  <xs:complexType name="TAB_CMS_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" name="BCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT_BOTTOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT_TOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONT_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISP_ORDER" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="DISP_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_ICON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSEQ" type="xs:int" />
      <xs:element minOccurs="0" name="PSEQ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_DISP_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUB_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAB_CMS_ADMIN" nillable="true" type="tns:ArrayOfTAB_CMS_ADMIN" />
      <xs:element minOccurs="0" name="TITLE_SUB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_CMS_MENU" nillable="true" type="tns:TAB_CMS_MENU" />
</xs:schema>