Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/IntegratedBoardService/IntegratedBoardService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Board" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Board" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Admin/IntegratedBoardService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:complexType name="IntegratedBoardCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="BOARD_CONTENT_SEQ" type="xs:int" />
          <xs:element minOccurs="0" name="BOARD_SEQ" type="xs:int" />
          <xs:element minOccurs="0" name="COMMON_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="END_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IngYn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="REPLY_YN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="START_DATE" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UP_COMMON_CODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VIEW_YN" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntegratedBoardCondition" nillable="true" type="tns:IntegratedBoardCondition" />
  <xs:complexType name="BoardContentCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q2:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BoardContentCondition" nillable="true" type="tns:BoardContentCondition" />
</xs:schema>