Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/NewsProgram89Service/NewsProgram89Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTItemPriceMst">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TItemPriceMst" nillable="true" type="tns:TItemPriceMst" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTItemPriceMst" nillable="true" type="tns:ArrayOfTItemPriceMst" />
  <xs:complexType name="TItemPriceMst">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARSFlag" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="AdminID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplyDetail" type="xs:int" />
      <xs:element minOccurs="0" name="CPItemID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CafeFlag" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="CafeLevel" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="CancelCafeLevel" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="CancelFlag" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ChargeType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ClassDcFlag" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CoopPointFlag" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="DeliveryAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeliveryAvail" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="DiscountRate" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="DisplayFlag" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="DisplayLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DupBuyFlag" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="DupDCFlag" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="DurationType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ExchangeFlag" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ExpireYMD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FYMD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GeneralFlag" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="GiftItemPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsAvailBonus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemID" type="xs:int" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemPriceID" type="xs:int" />
      <xs:element minOccurs="0" name="MaxAccessCnt" type="xs:int" />
      <xs:element minOccurs="0" name="Mileage" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReNewFlag" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ReductionFlag" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="RegDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SYMD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UseState" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TItemPriceMst" nillable="true" type="tns:TItemPriceMst" />
</xs:schema>