Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/BroadService/BroadService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
  <xs:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Broad" />
  <xs:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" />
  <xs:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS.NewsProgram" />
  <xs:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" />
  <xs:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.editVOD" />
  <xs:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
  <xs:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
  <xs:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db16.wowfa" />
  <xs:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db123.WOW4989" />
  <xs:element name="GetAtLive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="broadLiveID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetAtLiveResult" nillable="true" type="q1:NTB_BROAD_LIVE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListLive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Broad" minOccurs="0" name="condition" nillable="true" type="q2:BroadLiveCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="SearchListLiveResult" nillable="true" type="q3:ListModelOfNTB_BROAD_LIVEaHPuSDKR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="model" nillable="true" type="q4:NTB_BROAD_LIVE" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q5:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveLiveResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="broadLiveID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLiveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLiveList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="seqList" nillable="true" type="q6:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLiveListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pseq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetCategoryListResult" nillable="true" type="q7:ListModelOfTAB_CODEaHPuSDKR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" minOccurs="0" name="GetAtResult" nillable="true" type="q8:T_NEWS_PRG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtImgSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtImgScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" minOccurs="0" name="GetAtImgScheduleResult" nillable="true" type="q9:IMG_SCHEDULE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainAttachFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMainAttachFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetMainAttachFileResult" nillable="true" type="q10:NTB_ATTACH_FILE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubAttachFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubAttachFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetSubAttachFileResult" nillable="true" type="q11:NTB_ATTACH_FILE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRectangleAttachFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRectangleAttachFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetRectangleAttachFileResult" nillable="true" type="q12:NTB_ATTACH_FILE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailAttachFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThumbnailAttachFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetThumbnailAttachFileResult" nillable="true" type="q13:NTB_ATTACH_FILE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS.NewsProgram" minOccurs="0" name="condition" nillable="true" type="q14:NewsProgramCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="SearchListResult" nillable="true" type="q15:ListModelOfT_NEWS_PRGYfMTzeJu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListImgSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS.NewsProgram" minOccurs="0" name="condition" nillable="true" type="q16:NewsProgramCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListImgScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="SearchListImgScheduleResult" nillable="true" type="q17:ListModelOfIMG_SCHEDULEYfMTzeJu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" minOccurs="0" name="model" nillable="true" type="q18:T_NEWS_PRG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveScheduleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" minOccurs="0" name="model" nillable="true" type="q19:T_NEWS_PRG" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="mainAttachFile" nillable="true" type="q20:NTB_ATTACH_FILE" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="subAttachFile" nillable="true" type="q21:NTB_ATTACH_FILE" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="rectangleAttachFile" nillable="true" type="q22:NTB_ATTACH_FILE" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="thumbnailAttachFile" nillable="true" type="q23:NTB_ATTACH_FILE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFromMyProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" minOccurs="0" name="model" nillable="true" type="q24:T_NEWS_PRG" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="mainAttachFile" nillable="true" type="q25:NTB_ATTACH_FILE" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="subAttachFile" nillable="true" type="q26:NTB_ATTACH_FILE" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="rectangleAttachFile" nillable="true" type="q27:NTB_ATTACH_FILE" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="thumbnailAttachFile" nillable="true" type="q28:NTB_ATTACH_FILE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFromMyProgramResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelFileSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="model" nillable="true" type="q29:NTB_ATTACH_FILE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcelFileSaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExcelFile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExcelFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetExcelFileResult" nillable="true" type="q30:NTB_ATTACH_FILE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImgSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImgScheduleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWowListPartnerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWowListPartnerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" minOccurs="0" name="GetWowListPartnerListResult" nillable="true" type="q31:ArrayOfPro_wowList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramPartnerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramPartnerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetProgramPartnerListResult" nillable="true" type="q32:ArrayOfNTB_PROGRAM_PARTNER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProgramPartner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payNo" type="xs:int" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q33:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProgramPartnerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramPartner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramPartnerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramPartnerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramPartnerListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramAdminList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramAdminListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetProgramAdminListResult" nillable="true" type="q34:ArrayOfNTB_PROGRAM_ADMIN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProgramAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminSeq" type="xs:int" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q35:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProgramAdminResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminSeq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramAdminResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramAdminList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramAdminListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminProgram">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminSeq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminProgramResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAdminProgramResult" nillable="true" type="q36:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListRunDown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListRunDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" minOccurs="0" name="SearchListRunDownResult" nillable="true" type="q37:ArrayOfT_RUNDOWN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowRunDown">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowRunDownResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" minOccurs="0" name="GetNowRunDownResult" nillable="true" type="q38:T_RUNDOWN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListStockVod">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListStockVodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.editVOD" minOccurs="0" name="GetListStockVodResult" nillable="true" type="q39:ArrayOftblStockClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListMarket">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListMarketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="GetListMarketResult" nillable="true" type="q40:ArrayOfNUP_BROAD_MAIN_ARTICLE_SELECT_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProgramOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="model" nillable="true" type="q41:TAB_PGM_ORDER" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="attachFile" nillable="true" type="q42:NTB_ATTACH_FILE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProgramOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotice1">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotice1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetNotice1Result" nillable="true" type="q43:ArrayOfNTB_BOARD_CONTENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotice2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotice2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="GetNotice2Result" nillable="true" type="q44:ArrayOfTAB_LECTURES_SCHEDULE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotice3">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNotice3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetNotice3Result" nillable="true" type="q45:ArrayOfNTB_BOARD_CONTENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHoliDayCheck">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsHoliDayCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsHoliDayCheckResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWowNetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWowNetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" minOccurs="0" name="GetWowNetDataResult" nillable="true" type="q46:ArrayOfBestStockPro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWowNetData2">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWowNetData2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" minOccurs="0" name="GetWowNetData2Result" nillable="true" type="q47:ArrayOfUSP_GetRecommendPro3_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWowFaData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWowFaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db16.wowfa" minOccurs="0" name="GetWowFaDataResult" nillable="true" type="q48:ArrayOfWOW_M_BANNER" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWowFaDataLecture">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWowFaDataLectureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="GetWowFaDataLectureResult" nillable="true" type="q49:ArrayOfNUP_MAIN_COMMON_LECTURE_SELECT_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWowStarData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWowStarDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db123.WOW4989" minOccurs="0" name="GetWowStarDataResult" nillable="true" type="q50:ArrayOfwowstar_video_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWowStarDataStock">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWowStarDataStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db123.WOW4989" minOccurs="0" name="GetWowStarDataStockResult" nillable="true" type="q51:wowstar_p2p_wowtv_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJunMunGaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJunMunGaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" minOccurs="0" name="GetJunMunGaDataResult" nillable="true" type="q52:Pro_wow_junmunga_broadcast" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TickerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TickerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="TickerListResult" nillable="true" type="q53:ArrayOfDumyModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartnerEventItemPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartnerEventItemPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPartnerEventItemPriceResult" nillable="true" type="q54:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProWowWellList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProWowWellListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" minOccurs="0" name="GetProWowWellListResult" nillable="true" type="q55:ArrayOfUSP_GetBroadcast1ByWellList_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockKing3">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockKing3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" minOccurs="0" name="GetStockKing3Result" nillable="true" type="q56:ArrayOfPro_wowListStockKing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TodayStrategy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TodayStrategyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="TodayStrategyResult" nillable="true" type="q57:ArrayOfUSP_GetTabStrategetApplication_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnAirPartnerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnAirPartnerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" minOccurs="0" name="GetOnAirPartnerListResult" nillable="true" type="q58:ArrayOfusp_GetlivePro_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCornerVod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="scCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCornerVodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetCornerVodResult" nillable="true" type="q59:ListModelOfusp_GetCornerVODList_WEB_ResultgZrpW2fe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCornerVodAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currentIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCornerVodAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetCornerVodAllResult" nillable="true" type="q60:ListModelOfNUP_GetCornerVODList_WEB_ResultgZrpW2fe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuByProgramCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuByProgramCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetMenuByProgramCodeResult" nillable="true" type="q61:ArrayOfNTB_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuByCornerSeq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="scCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuByCornerSeqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetMenuByCornerSeqResult" nillable="true" type="q62:NTB_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="boardContentSeq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetTradeResult" nillable="true" type="q63:NTB_BOARD_CONTENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListRandom">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListRandomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="SearchListRandomResult" nillable="true" type="q64:ListModelOfT_NEWS_PRGYfMTzeJu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Migration">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMigrationProgramList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMigrationProgramListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" minOccurs="0" name="GetMigrationProgramListResult" nillable="true" type="q65:ArrayOfT_NEWS_PRG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrationProgramCornerList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q66:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MigrationProgramCornerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.editVOD" minOccurs="0" name="MigrationProgramCornerListResult" nillable="true" type="q67:ArrayOftblSubConerList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProgramList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programNameStart" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="programNameEnd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startIndex" type="xs:int" />
        <xs:element minOccurs="0" name="endIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProgramListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" minOccurs="0" name="GetAllProgramListResult" nillable="true" type="q68:ArrayOfNUP_GetAllProgramList_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProgramEtcList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startIndex" type="xs:int" />
        <xs:element minOccurs="0" name="endIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProgramEtcListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" minOccurs="0" name="GetAllProgramEtcListResult" nillable="true" type="q69:ArrayOfNUP_GetAllProgramEtcList_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CmsMainFileMigration">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CmsMainFileMigrationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtProgramGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programGroupSeq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtProgramGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetAtProgramGroupResult" nillable="true" type="q70:NTB_PROGRAM_GROUP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtByMainCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="masterProgramCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtByMainCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetAtByMainCodeResult" nillable="true" type="q71:NTB_PROGRAM_GROUP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListProgramGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Broad" minOccurs="0" name="condition" nillable="true" type="q72:BroadGroupCondition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchListProgramGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="SearchListProgramGroupResult" nillable="true" type="q73:ListModelOfNTB_PROGRAM_GROUPaHPuSDKR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProgramGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="model" nillable="true" type="q74:NTB_PROGRAM_GROUP" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q75:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProgramGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveProgramGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programGroupSeq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramGroupList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="seqList" nillable="true" type="q76:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramGroupListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtProgramTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAtProgramTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetAtProgramTemplateResult" nillable="true" type="q77:NTB_PROGRAM_TEMPLATE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProgramTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="model" nillable="true" type="q78:NTB_PROGRAM_TEMPLATE" />
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" minOccurs="0" name="newsProgram" nillable="true" type="q79:T_NEWS_PRG" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q80:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProgramTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveProgramTemplateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramTemplateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramTemplateGroupList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programTemplateSeq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramTemplateGroupListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetProgramTemplateGroupListResult" nillable="true" type="q81:ArrayOfNTB_PROGRAM_GROUP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramTemplateGroupListByGroupSeq">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programGroupSeq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramTemplateGroupListByGroupSeqResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="GetProgramTemplateGroupListByGroupSeqResult" nillable="true" type="q82:ArrayOfNTB_PROGRAM_TEMPLATE_GROUP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProgramTemplateGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programTemplateSeq" type="xs:int" />
        <xs:element minOccurs="0" name="programGroupSeq" type="xs:int" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q83:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProgramTemplateGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramTemplateGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programTemplateSeq" type="xs:int" />
        <xs:element minOccurs="0" name="programGroupSeq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramTemplateGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramTemplateGroupList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programTemplateSeq" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProgramTemplateGroupListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDownProgramTemplateGroupList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programTemplateSeq" type="xs:int" />
        <xs:element minOccurs="0" name="programGroupSeq" type="xs:int" />
        <xs:element minOccurs="0" name="isUp" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpDownProgramTemplateGroupListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFamilyList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFamilyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" minOccurs="0" name="GetFamilyListResult" nillable="true" type="q84:ArrayOfT_NEWS_PRG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChildListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" minOccurs="0" name="GetChildListResult" nillable="true" type="q85:ArrayOfT_NEWS_PRG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="programCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgramTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProgramTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>