Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/BroadService/BroadService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNUP_BROAD_MAIN_ARTICLE_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_BROAD_MAIN_ARTICLE_SELECT_Result" nillable="true" type="tns:NUP_BROAD_MAIN_ARTICLE_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_BROAD_MAIN_ARTICLE_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_BROAD_MAIN_ARTICLE_SELECT_Result" />
  <xs:complexType name="NUP_BROAD_MAIN_ARTICLE_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTICLEDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ARTIDX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ARTTITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMG_BANN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARAMETER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGDT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ROOTDIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="SUBDIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VODNUM" type="xs:int" />
      <xs:element minOccurs="0" name="insdate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_BROAD_MAIN_ARTICLE_SELECT_Result" nillable="true" type="tns:NUP_BROAD_MAIN_ARTICLE_SELECT_Result" />
</xs:schema>