Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/BroadService/BroadService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS.NewsProgram" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS.NewsProgram" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:complexType name="NewsProgramCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdminSeq" type="xs:int" />
          <xs:element minOccurs="0" name="AllProgramViewYn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BroadSectionCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BroadTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CategoryCode" type="xs:int" />
          <xs:element minOccurs="0" name="FameYn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IngYn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsFriday" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMonday" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSaturday" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSunday" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsThursday" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsTuesday" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsWednesday" type="xs:boolean" />
          <xs:element minOccurs="0" name="MainBottomViewYn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderByType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PointYn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProgramNameTermEnd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProgramNameTermStart" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PublishYn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NewsProgramCondition" nillable="true" type="tns:NewsProgramCondition" />
</xs:schema>