Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/BroadService/BroadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BroadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
      <xsd:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.Broad" />
      <xsd:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" />
      <xsd:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS.NewsProgram" />
      <xsd:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" />
      <xsd:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.editVOD" />
      <xsd:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
      <xsd:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
      <xsd:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db16.wowfa" />
      <xsd:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db123.WOW4989" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBroadLiveService_GetAtLive_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAtLive" />
  </wsdl:message>
  <wsdl:message name="IBroadLiveService_GetAtLive_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtLiveResponse" />
  </wsdl:message>
  <wsdl:message name="IBroadLiveService_SearchListLive_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchListLive" />
  </wsdl:message>
  <wsdl:message name="IBroadLiveService_SearchListLive_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListLiveResponse" />
  </wsdl:message>
  <wsdl:message name="IBroadLiveService_SaveLive_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveLive" />
  </wsdl:message>
  <wsdl:message name="IBroadLiveService_SaveLive_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveLiveResponse" />
  </wsdl:message>
  <wsdl:message name="IBroadLiveService_DeleteLive_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLive" />
  </wsdl:message>
  <wsdl:message name="IBroadLiveService_DeleteLive_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLiveResponse" />
  </wsdl:message>
  <wsdl:message name="IBroadLiveService_DeleteLiveList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLiveList" />
  </wsdl:message>
  <wsdl:message name="IBroadLiveService_DeleteLiveList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLiveListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetCategoryList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryList" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetCategoryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetAt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAt" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetAt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetAtImgSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAtImgSchedule" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetAtImgSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtImgScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetMainAttachFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMainAttachFile" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetMainAttachFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMainAttachFileResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetSubAttachFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubAttachFile" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetSubAttachFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubAttachFileResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetRectangleAttachFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRectangleAttachFile" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetRectangleAttachFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRectangleAttachFileResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetThumbnailAttachFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThumbnailAttachFile" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetThumbnailAttachFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThumbnailAttachFileResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_SearchList_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchList" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_SearchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_SearchListImgSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchListImgSchedule" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_SearchListImgSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListImgScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_SaveSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSchedule" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_SaveSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_SaveFromMyProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveFromMyProgram" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_SaveFromMyProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveFromMyProgramResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_ExcelFileSave_InputMessage">
    <wsdl:part name="parameters" element="tns:ExcelFileSave" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_ExcelFileSave_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExcelFileSaveResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetExcelFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExcelFile" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetExcelFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExcelFileResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_DeleteImgSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImgSchedule" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_DeleteImgSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteImgScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetWowListPartnerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWowListPartnerList" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetWowListPartnerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWowListPartnerListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetProgramPartnerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramPartnerList" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetProgramPartnerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramPartnerListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_AddProgramPartner_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProgramPartner" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_AddProgramPartner_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProgramPartnerResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_DeleteProgramPartner_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramPartner" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_DeleteProgramPartner_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramPartnerResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_DeleteProgramPartnerList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramPartnerList" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_DeleteProgramPartnerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramPartnerListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetProgramAdminList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramAdminList" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetProgramAdminList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramAdminListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_AddProgramAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProgramAdmin" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_AddProgramAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProgramAdminResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_DeleteProgramAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramAdmin" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_DeleteProgramAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramAdminResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_DeleteProgramAdminList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramAdminList" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_DeleteProgramAdminList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramAdminListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetAdminProgram_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminProgram" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetAdminProgram_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdminProgramResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_SearchListRunDown_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchListRunDown" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_SearchListRunDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListRunDownResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetNowRunDown_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNowRunDown" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetNowRunDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNowRunDownResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetListStockVod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListStockVod" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetListStockVod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListStockVodResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetListMarket_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListMarket" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetListMarket_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListMarketResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_ProgramOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ProgramOrder" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_ProgramOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProgramOrderResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetNotice1_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotice1" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetNotice1_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotice1Response" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetNotice2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotice2" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetNotice2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotice2Response" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetNotice3_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotice3" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetNotice3_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotice3Response" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_IsHoliDayCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:IsHoliDayCheck" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_IsHoliDayCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsHoliDayCheckResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetWowNetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWowNetData" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetWowNetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWowNetDataResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetWowNetData2_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWowNetData2" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetWowNetData2_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWowNetData2Response" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetWowFaData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWowFaData" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetWowFaData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWowFaDataResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetWowFaDataLecture_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWowFaDataLecture" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetWowFaDataLecture_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWowFaDataLectureResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetWowStarData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWowStarData" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetWowStarData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWowStarDataResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetWowStarDataStock_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWowStarDataStock" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetWowStarDataStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWowStarDataStockResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetJunMunGaData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJunMunGaData" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetJunMunGaData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJunMunGaDataResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_TickerList_InputMessage">
    <wsdl:part name="parameters" element="tns:TickerList" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_TickerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:TickerListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetPartnerEventItemPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnerEventItemPrice" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetPartnerEventItemPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartnerEventItemPriceResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetProWowWellList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProWowWellList" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetProWowWellList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProWowWellListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetStockKing3_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockKing3" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetStockKing3_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockKing3Response" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_TodayStrategy_InputMessage">
    <wsdl:part name="parameters" element="tns:TodayStrategy" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_TodayStrategy_OutputMessage">
    <wsdl:part name="parameters" element="tns:TodayStrategyResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetOnAirPartnerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOnAirPartnerList" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetOnAirPartnerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOnAirPartnerListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetCornerVod_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCornerVod" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetCornerVod_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCornerVodResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetCornerVodAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCornerVodAll" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetCornerVodAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCornerVodAllResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetMenuByProgramCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuByProgramCode" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetMenuByProgramCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuByProgramCodeResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetMenuByCornerSeq_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuByCornerSeq" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetMenuByCornerSeq_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuByCornerSeqResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetTrade_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrade" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetTrade_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_SearchListRandom_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchListRandom" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_SearchListRandom_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListRandomResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_Migration_InputMessage">
    <wsdl:part name="parameters" element="tns:Migration" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_Migration_OutputMessage">
    <wsdl:part name="parameters" element="tns:MigrationResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetMigrationProgramList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMigrationProgramList" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetMigrationProgramList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMigrationProgramListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_MigrationProgramCornerList_InputMessage">
    <wsdl:part name="parameters" element="tns:MigrationProgramCornerList" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_MigrationProgramCornerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:MigrationProgramCornerListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetAllProgramList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProgramList" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetAllProgramList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProgramListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetAllProgramEtcList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProgramEtcList" />
  </wsdl:message>
  <wsdl:message name="INewsProgramService_GetAllProgramEtcList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProgramEtcListResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramCmsAuthService_CmsMainFileMigration_InputMessage">
    <wsdl:part name="parameters" element="tns:CmsMainFileMigration" />
  </wsdl:message>
  <wsdl:message name="IProgramCmsAuthService_CmsMainFileMigration_OutputMessage">
    <wsdl:part name="parameters" element="tns:CmsMainFileMigrationResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramGroupService_GetAtProgramGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAtProgramGroup" />
  </wsdl:message>
  <wsdl:message name="IProgramGroupService_GetAtProgramGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtProgramGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramGroupService_GetAtByMainCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAtByMainCode" />
  </wsdl:message>
  <wsdl:message name="IProgramGroupService_GetAtByMainCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtByMainCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramGroupService_SearchListProgramGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchListProgramGroup" />
  </wsdl:message>
  <wsdl:message name="IProgramGroupService_SearchListProgramGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListProgramGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramGroupService_SaveProgramGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProgramGroup" />
  </wsdl:message>
  <wsdl:message name="IProgramGroupService_SaveProgramGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProgramGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramGroupService_DeleteProgramGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramGroup" />
  </wsdl:message>
  <wsdl:message name="IProgramGroupService_DeleteProgramGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramGroupService_DeleteProgramGroupList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramGroupList" />
  </wsdl:message>
  <wsdl:message name="IProgramGroupService_DeleteProgramGroupList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_GetAtProgramTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAtProgramTemplate" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_GetAtProgramTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtProgramTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_SaveProgramTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveProgramTemplate" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_SaveProgramTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveProgramTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_DeleteProgramTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramTemplate" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_DeleteProgramTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_GetProgramTemplateGroupList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramTemplateGroupList" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_GetProgramTemplateGroupList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramTemplateGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_GetProgramTemplateGroupListByGroupSeq_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramTemplateGroupListByGroupSeq" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_GetProgramTemplateGroupListByGroupSeq_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramTemplateGroupListByGroupSeqResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_AddProgramTemplateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProgramTemplateGroup" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_AddProgramTemplateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProgramTemplateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_DeleteProgramTemplateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramTemplateGroup" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_DeleteProgramTemplateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramTemplateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_DeleteProgramTemplateGroupList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramTemplateGroupList" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_DeleteProgramTemplateGroupList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProgramTemplateGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_UpDownProgramTemplateGroupList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpDownProgramTemplateGroupList" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_UpDownProgramTemplateGroupList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpDownProgramTemplateGroupListResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_GetFamilyList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFamilyList" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_GetFamilyList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFamilyListResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_GetChildList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChildList" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_GetChildList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChildListResponse" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_GetProgramType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramType" />
  </wsdl:message>
  <wsdl:message name="IProgramTemplateService_GetProgramType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgramTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="IBroadLiveService">
    <wsdl:operation name="GetAtLive">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadLiveService/GetAtLive" message="tns:IBroadLiveService_GetAtLive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroadLiveService/GetAtLiveResponse" message="tns:IBroadLiveService_GetAtLive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchListLive">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadLiveService/SearchListLive" message="tns:IBroadLiveService_SearchListLive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroadLiveService/SearchListLiveResponse" message="tns:IBroadLiveService_SearchListLive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveLive">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadLiveService/SaveLive" message="tns:IBroadLiveService_SaveLive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroadLiveService/SaveLiveResponse" message="tns:IBroadLiveService_SaveLive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLive">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadLiveService/DeleteLive" message="tns:IBroadLiveService_DeleteLive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroadLiveService/DeleteLiveResponse" message="tns:IBroadLiveService_DeleteLive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLiveList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBroadLiveService/DeleteLiveList" message="tns:IBroadLiveService_DeleteLiveList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBroadLiveService/DeleteLiveListResponse" message="tns:IBroadLiveService_DeleteLiveList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="INewsProgramService">
    <wsdl:operation name="GetCategoryList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetCategoryList" message="tns:INewsProgramService_GetCategoryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetCategoryListResponse" message="tns:INewsProgramService_GetCategoryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAt">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetAt" message="tns:INewsProgramService_GetAt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetAtResponse" message="tns:INewsProgramService_GetAt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAtImgSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetAtImgSchedule" message="tns:INewsProgramService_GetAtImgSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetAtImgScheduleResponse" message="tns:INewsProgramService_GetAtImgSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMainAttachFile">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetMainAttachFile" message="tns:INewsProgramService_GetMainAttachFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetMainAttachFileResponse" message="tns:INewsProgramService_GetMainAttachFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubAttachFile">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetSubAttachFile" message="tns:INewsProgramService_GetSubAttachFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetSubAttachFileResponse" message="tns:INewsProgramService_GetSubAttachFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRectangleAttachFile">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetRectangleAttachFile" message="tns:INewsProgramService_GetRectangleAttachFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetRectangleAttachFileResponse" message="tns:INewsProgramService_GetRectangleAttachFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetThumbnailAttachFile">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetThumbnailAttachFile" message="tns:INewsProgramService_GetThumbnailAttachFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetThumbnailAttachFileResponse" message="tns:INewsProgramService_GetThumbnailAttachFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/SearchList" message="tns:INewsProgramService_SearchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/SearchListResponse" message="tns:INewsProgramService_SearchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchListImgSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/SearchListImgSchedule" message="tns:INewsProgramService_SearchListImgSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/SearchListImgScheduleResponse" message="tns:INewsProgramService_SearchListImgSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/SaveSchedule" message="tns:INewsProgramService_SaveSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/SaveScheduleResponse" message="tns:INewsProgramService_SaveSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/Save" message="tns:INewsProgramService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/SaveResponse" message="tns:INewsProgramService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveFromMyProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/SaveFromMyProgram" message="tns:INewsProgramService_SaveFromMyProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/SaveFromMyProgramResponse" message="tns:INewsProgramService_SaveFromMyProgram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExcelFileSave">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/ExcelFileSave" message="tns:INewsProgramService_ExcelFileSave_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/ExcelFileSaveResponse" message="tns:INewsProgramService_ExcelFileSave_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExcelFile">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetExcelFile" message="tns:INewsProgramService_GetExcelFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetExcelFileResponse" message="tns:INewsProgramService_GetExcelFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/Delete" message="tns:INewsProgramService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/DeleteResponse" message="tns:INewsProgramService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteImgSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/DeleteImgSchedule" message="tns:INewsProgramService_DeleteImgSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/DeleteImgScheduleResponse" message="tns:INewsProgramService_DeleteImgSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWowListPartnerList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetWowListPartnerList" message="tns:INewsProgramService_GetWowListPartnerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetWowListPartnerListResponse" message="tns:INewsProgramService_GetWowListPartnerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramPartnerList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetProgramPartnerList" message="tns:INewsProgramService_GetProgramPartnerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetProgramPartnerListResponse" message="tns:INewsProgramService_GetProgramPartnerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProgramPartner">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/AddProgramPartner" message="tns:INewsProgramService_AddProgramPartner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/AddProgramPartnerResponse" message="tns:INewsProgramService_AddProgramPartner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramPartner">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/DeleteProgramPartner" message="tns:INewsProgramService_DeleteProgramPartner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/DeleteProgramPartnerResponse" message="tns:INewsProgramService_DeleteProgramPartner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramPartnerList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/DeleteProgramPartnerList" message="tns:INewsProgramService_DeleteProgramPartnerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/DeleteProgramPartnerListResponse" message="tns:INewsProgramService_DeleteProgramPartnerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramAdminList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetProgramAdminList" message="tns:INewsProgramService_GetProgramAdminList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetProgramAdminListResponse" message="tns:INewsProgramService_GetProgramAdminList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProgramAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/AddProgramAdmin" message="tns:INewsProgramService_AddProgramAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/AddProgramAdminResponse" message="tns:INewsProgramService_AddProgramAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/DeleteProgramAdmin" message="tns:INewsProgramService_DeleteProgramAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/DeleteProgramAdminResponse" message="tns:INewsProgramService_DeleteProgramAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramAdminList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/DeleteProgramAdminList" message="tns:INewsProgramService_DeleteProgramAdminList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/DeleteProgramAdminListResponse" message="tns:INewsProgramService_DeleteProgramAdminList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdminProgram">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetAdminProgram" message="tns:INewsProgramService_GetAdminProgram_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetAdminProgramResponse" message="tns:INewsProgramService_GetAdminProgram_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchListRunDown">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/SearchListRunDown" message="tns:INewsProgramService_SearchListRunDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/SearchListRunDownResponse" message="tns:INewsProgramService_SearchListRunDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNowRunDown">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetNowRunDown" message="tns:INewsProgramService_GetNowRunDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetNowRunDownResponse" message="tns:INewsProgramService_GetNowRunDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListStockVod">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetListStockVod" message="tns:INewsProgramService_GetListStockVod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetListStockVodResponse" message="tns:INewsProgramService_GetListStockVod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListMarket">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetListMarket" message="tns:INewsProgramService_GetListMarket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetListMarketResponse" message="tns:INewsProgramService_GetListMarket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProgramOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/ProgramOrder" message="tns:INewsProgramService_ProgramOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/ProgramOrderResponse" message="tns:INewsProgramService_ProgramOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotice1">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetNotice1" message="tns:INewsProgramService_GetNotice1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetNotice1Response" message="tns:INewsProgramService_GetNotice1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotice2">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetNotice2" message="tns:INewsProgramService_GetNotice2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetNotice2Response" message="tns:INewsProgramService_GetNotice2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotice3">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetNotice3" message="tns:INewsProgramService_GetNotice3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetNotice3Response" message="tns:INewsProgramService_GetNotice3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsHoliDayCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/IsHoliDayCheck" message="tns:INewsProgramService_IsHoliDayCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/IsHoliDayCheckResponse" message="tns:INewsProgramService_IsHoliDayCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWowNetData">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetWowNetData" message="tns:INewsProgramService_GetWowNetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetWowNetDataResponse" message="tns:INewsProgramService_GetWowNetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWowNetData2">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetWowNetData2" message="tns:INewsProgramService_GetWowNetData2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetWowNetData2Response" message="tns:INewsProgramService_GetWowNetData2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWowFaData">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetWowFaData" message="tns:INewsProgramService_GetWowFaData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetWowFaDataResponse" message="tns:INewsProgramService_GetWowFaData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWowFaDataLecture">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetWowFaDataLecture" message="tns:INewsProgramService_GetWowFaDataLecture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetWowFaDataLectureResponse" message="tns:INewsProgramService_GetWowFaDataLecture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWowStarData">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetWowStarData" message="tns:INewsProgramService_GetWowStarData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetWowStarDataResponse" message="tns:INewsProgramService_GetWowStarData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWowStarDataStock">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetWowStarDataStock" message="tns:INewsProgramService_GetWowStarDataStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetWowStarDataStockResponse" message="tns:INewsProgramService_GetWowStarDataStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetJunMunGaData">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetJunMunGaData" message="tns:INewsProgramService_GetJunMunGaData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetJunMunGaDataResponse" message="tns:INewsProgramService_GetJunMunGaData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TickerList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/TickerList" message="tns:INewsProgramService_TickerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/TickerListResponse" message="tns:INewsProgramService_TickerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPartnerEventItemPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetPartnerEventItemPrice" message="tns:INewsProgramService_GetPartnerEventItemPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetPartnerEventItemPriceResponse" message="tns:INewsProgramService_GetPartnerEventItemPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProWowWellList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetProWowWellList" message="tns:INewsProgramService_GetProWowWellList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetProWowWellListResponse" message="tns:INewsProgramService_GetProWowWellList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockKing3">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetStockKing3" message="tns:INewsProgramService_GetStockKing3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetStockKing3Response" message="tns:INewsProgramService_GetStockKing3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TodayStrategy">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/TodayStrategy" message="tns:INewsProgramService_TodayStrategy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/TodayStrategyResponse" message="tns:INewsProgramService_TodayStrategy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOnAirPartnerList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetOnAirPartnerList" message="tns:INewsProgramService_GetOnAirPartnerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetOnAirPartnerListResponse" message="tns:INewsProgramService_GetOnAirPartnerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCornerVod">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetCornerVod" message="tns:INewsProgramService_GetCornerVod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetCornerVodResponse" message="tns:INewsProgramService_GetCornerVod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCornerVodAll">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetCornerVodAll" message="tns:INewsProgramService_GetCornerVodAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetCornerVodAllResponse" message="tns:INewsProgramService_GetCornerVodAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuByProgramCode">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetMenuByProgramCode" message="tns:INewsProgramService_GetMenuByProgramCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetMenuByProgramCodeResponse" message="tns:INewsProgramService_GetMenuByProgramCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuByCornerSeq">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetMenuByCornerSeq" message="tns:INewsProgramService_GetMenuByCornerSeq_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetMenuByCornerSeqResponse" message="tns:INewsProgramService_GetMenuByCornerSeq_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrade">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetTrade" message="tns:INewsProgramService_GetTrade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetTradeResponse" message="tns:INewsProgramService_GetTrade_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchListRandom">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/SearchListRandom" message="tns:INewsProgramService_SearchListRandom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/SearchListRandomResponse" message="tns:INewsProgramService_SearchListRandom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Migration">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/Migration" message="tns:INewsProgramService_Migration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/MigrationResponse" message="tns:INewsProgramService_Migration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMigrationProgramList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetMigrationProgramList" message="tns:INewsProgramService_GetMigrationProgramList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetMigrationProgramListResponse" message="tns:INewsProgramService_GetMigrationProgramList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MigrationProgramCornerList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/MigrationProgramCornerList" message="tns:INewsProgramService_MigrationProgramCornerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/MigrationProgramCornerListResponse" message="tns:INewsProgramService_MigrationProgramCornerList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProgramList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetAllProgramList" message="tns:INewsProgramService_GetAllProgramList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetAllProgramListResponse" message="tns:INewsProgramService_GetAllProgramList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProgramEtcList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsProgramService/GetAllProgramEtcList" message="tns:INewsProgramService_GetAllProgramEtcList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsProgramService/GetAllProgramEtcListResponse" message="tns:INewsProgramService_GetAllProgramEtcList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IProgramCmsAuthService">
    <wsdl:operation name="CmsMainFileMigration">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramCmsAuthService/CmsMainFileMigration" message="tns:IProgramCmsAuthService_CmsMainFileMigration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramCmsAuthService/CmsMainFileMigrationResponse" message="tns:IProgramCmsAuthService_CmsMainFileMigration_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IProgramGroupService">
    <wsdl:operation name="GetAtProgramGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramGroupService/GetAtProgramGroup" message="tns:IProgramGroupService_GetAtProgramGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramGroupService/GetAtProgramGroupResponse" message="tns:IProgramGroupService_GetAtProgramGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAtByMainCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramGroupService/GetAtByMainCode" message="tns:IProgramGroupService_GetAtByMainCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramGroupService/GetAtByMainCodeResponse" message="tns:IProgramGroupService_GetAtByMainCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchListProgramGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramGroupService/SearchListProgramGroup" message="tns:IProgramGroupService_SearchListProgramGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramGroupService/SearchListProgramGroupResponse" message="tns:IProgramGroupService_SearchListProgramGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProgramGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramGroupService/SaveProgramGroup" message="tns:IProgramGroupService_SaveProgramGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramGroupService/SaveProgramGroupResponse" message="tns:IProgramGroupService_SaveProgramGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramGroupService/DeleteProgramGroup" message="tns:IProgramGroupService_DeleteProgramGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramGroupService/DeleteProgramGroupResponse" message="tns:IProgramGroupService_DeleteProgramGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramGroupList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramGroupService/DeleteProgramGroupList" message="tns:IProgramGroupService_DeleteProgramGroupList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramGroupService/DeleteProgramGroupListResponse" message="tns:IProgramGroupService_DeleteProgramGroupList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IProgramTemplateService">
    <wsdl:operation name="GetAtProgramTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramTemplateService/GetAtProgramTemplate" message="tns:IProgramTemplateService_GetAtProgramTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramTemplateService/GetAtProgramTemplateResponse" message="tns:IProgramTemplateService_GetAtProgramTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveProgramTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramTemplateService/SaveProgramTemplate" message="tns:IProgramTemplateService_SaveProgramTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramTemplateService/SaveProgramTemplateResponse" message="tns:IProgramTemplateService_SaveProgramTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramTemplateService/DeleteProgramTemplate" message="tns:IProgramTemplateService_DeleteProgramTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramTemplateService/DeleteProgramTemplateResponse" message="tns:IProgramTemplateService_DeleteProgramTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramTemplateGroupList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramTemplateService/GetProgramTemplateGroupList" message="tns:IProgramTemplateService_GetProgramTemplateGroupList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramTemplateService/GetProgramTemplateGroupListResponse" message="tns:IProgramTemplateService_GetProgramTemplateGroupList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramTemplateGroupListByGroupSeq">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramTemplateService/GetProgramTemplateGroupListByGroupSeq" message="tns:IProgramTemplateService_GetProgramTemplateGroupListByGroupSeq_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramTemplateService/GetProgramTemplateGroupListByGroupSeqResponse" message="tns:IProgramTemplateService_GetProgramTemplateGroupListByGroupSeq_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProgramTemplateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramTemplateService/AddProgramTemplateGroup" message="tns:IProgramTemplateService_AddProgramTemplateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramTemplateService/AddProgramTemplateGroupResponse" message="tns:IProgramTemplateService_AddProgramTemplateGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramTemplateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramTemplateService/DeleteProgramTemplateGroup" message="tns:IProgramTemplateService_DeleteProgramTemplateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramTemplateService/DeleteProgramTemplateGroupResponse" message="tns:IProgramTemplateService_DeleteProgramTemplateGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramTemplateGroupList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramTemplateService/DeleteProgramTemplateGroupList" message="tns:IProgramTemplateService_DeleteProgramTemplateGroupList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramTemplateService/DeleteProgramTemplateGroupListResponse" message="tns:IProgramTemplateService_DeleteProgramTemplateGroupList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpDownProgramTemplateGroupList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramTemplateService/UpDownProgramTemplateGroupList" message="tns:IProgramTemplateService_UpDownProgramTemplateGroupList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramTemplateService/UpDownProgramTemplateGroupListResponse" message="tns:IProgramTemplateService_UpDownProgramTemplateGroupList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFamilyList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramTemplateService/GetFamilyList" message="tns:IProgramTemplateService_GetFamilyList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramTemplateService/GetFamilyListResponse" message="tns:IProgramTemplateService_GetFamilyList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChildList">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramTemplateService/GetChildList" message="tns:IProgramTemplateService_GetChildList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramTemplateService/GetChildListResponse" message="tns:IProgramTemplateService_GetChildList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgramType">
      <wsdl:input wsaw:Action="http://tempuri.org/IProgramTemplateService/GetProgramType" message="tns:IProgramTemplateService_GetProgramType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProgramTemplateService/GetProgramTypeResponse" message="tns:IProgramTemplateService_GetProgramType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBroadLiveService" type="tns:IBroadLiveService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAtLive">
      <soap:operation soapAction="http://tempuri.org/IBroadLiveService/GetAtLive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchListLive">
      <soap:operation soapAction="http://tempuri.org/IBroadLiveService/SearchListLive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveLive">
      <soap:operation soapAction="http://tempuri.org/IBroadLiveService/SaveLive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLive">
      <soap:operation soapAction="http://tempuri.org/IBroadLiveService/DeleteLive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLiveList">
      <soap:operation soapAction="http://tempuri.org/IBroadLiveService/DeleteLiveList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_INewsProgramService" type="tns:INewsProgramService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCategoryList">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetCategoryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAt">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetAt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAtImgSchedule">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetAtImgSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainAttachFile">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetMainAttachFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubAttachFile">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetSubAttachFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRectangleAttachFile">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetRectangleAttachFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThumbnailAttachFile">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetThumbnailAttachFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchList">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/SearchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchListImgSchedule">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/SearchListImgSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSchedule">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/SaveSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFromMyProgram">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/SaveFromMyProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExcelFileSave">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/ExcelFileSave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExcelFile">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetExcelFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteImgSchedule">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/DeleteImgSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWowListPartnerList">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetWowListPartnerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgramPartnerList">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetProgramPartnerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProgramPartner">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/AddProgramPartner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramPartner">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/DeleteProgramPartner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramPartnerList">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/DeleteProgramPartnerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgramAdminList">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetProgramAdminList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProgramAdmin">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/AddProgramAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramAdmin">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/DeleteProgramAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramAdminList">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/DeleteProgramAdminList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminProgram">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetAdminProgram" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchListRunDown">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/SearchListRunDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNowRunDown">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetNowRunDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListStockVod">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetListStockVod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListMarket">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetListMarket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProgramOrder">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/ProgramOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotice1">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetNotice1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotice2">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetNotice2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotice3">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetNotice3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsHoliDayCheck">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/IsHoliDayCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWowNetData">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetWowNetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWowNetData2">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetWowNetData2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWowFaData">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetWowFaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWowFaDataLecture">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetWowFaDataLecture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWowStarData">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetWowStarData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWowStarDataStock">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetWowStarDataStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJunMunGaData">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetJunMunGaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TickerList">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/TickerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerEventItemPrice">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetPartnerEventItemPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProWowWellList">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetProWowWellList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockKing3">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetStockKing3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TodayStrategy">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/TodayStrategy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOnAirPartnerList">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetOnAirPartnerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCornerVod">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetCornerVod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCornerVodAll">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetCornerVodAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuByProgramCode">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetMenuByProgramCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuByCornerSeq">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetMenuByCornerSeq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrade">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetTrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchListRandom">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/SearchListRandom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Migration">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/Migration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMigrationProgramList">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetMigrationProgramList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MigrationProgramCornerList">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/MigrationProgramCornerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProgramList">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetAllProgramList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProgramEtcList">
      <soap:operation soapAction="http://tempuri.org/INewsProgramService/GetAllProgramEtcList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IProgramCmsAuthService" type="tns:IProgramCmsAuthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CmsMainFileMigration">
      <soap:operation soapAction="http://tempuri.org/IProgramCmsAuthService/CmsMainFileMigration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IProgramGroupService" type="tns:IProgramGroupService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAtProgramGroup">
      <soap:operation soapAction="http://tempuri.org/IProgramGroupService/GetAtProgramGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAtByMainCode">
      <soap:operation soapAction="http://tempuri.org/IProgramGroupService/GetAtByMainCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchListProgramGroup">
      <soap:operation soapAction="http://tempuri.org/IProgramGroupService/SearchListProgramGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProgramGroup">
      <soap:operation soapAction="http://tempuri.org/IProgramGroupService/SaveProgramGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramGroup">
      <soap:operation soapAction="http://tempuri.org/IProgramGroupService/DeleteProgramGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramGroupList">
      <soap:operation soapAction="http://tempuri.org/IProgramGroupService/DeleteProgramGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IProgramTemplateService" type="tns:IProgramTemplateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAtProgramTemplate">
      <soap:operation soapAction="http://tempuri.org/IProgramTemplateService/GetAtProgramTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProgramTemplate">
      <soap:operation soapAction="http://tempuri.org/IProgramTemplateService/SaveProgramTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramTemplate">
      <soap:operation soapAction="http://tempuri.org/IProgramTemplateService/DeleteProgramTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgramTemplateGroupList">
      <soap:operation soapAction="http://tempuri.org/IProgramTemplateService/GetProgramTemplateGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgramTemplateGroupListByGroupSeq">
      <soap:operation soapAction="http://tempuri.org/IProgramTemplateService/GetProgramTemplateGroupListByGroupSeq" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProgramTemplateGroup">
      <soap:operation soapAction="http://tempuri.org/IProgramTemplateService/AddProgramTemplateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramTemplateGroup">
      <soap:operation soapAction="http://tempuri.org/IProgramTemplateService/DeleteProgramTemplateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProgramTemplateGroupList">
      <soap:operation soapAction="http://tempuri.org/IProgramTemplateService/DeleteProgramTemplateGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpDownProgramTemplateGroupList">
      <soap:operation soapAction="http://tempuri.org/IProgramTemplateService/UpDownProgramTemplateGroupList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFamilyList">
      <soap:operation soapAction="http://tempuri.org/IProgramTemplateService/GetFamilyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChildList">
      <soap:operation soapAction="http://tempuri.org/IProgramTemplateService/GetChildList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgramType">
      <soap:operation soapAction="http://tempuri.org/IProgramTemplateService/GetProgramType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BroadService">
    <wsdl:port name="BasicHttpBinding_IBroadLiveService" binding="tns:BasicHttpBinding_IBroadLiveService">
      <soap:address location="http://localhost:8088/Broad/BroadService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_INewsProgramService" binding="tns:BasicHttpBinding_INewsProgramService">
      <soap:address location="http://localhost:8088/Broad/BroadService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IProgramCmsAuthService" binding="tns:BasicHttpBinding_IProgramCmsAuthService">
      <soap:address location="http://localhost:8088/Broad/BroadService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IProgramGroupService" binding="tns:BasicHttpBinding_IProgramGroupService">
      <soap:address location="http://localhost:8088/Broad/BroadService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IProgramTemplateService" binding="tns:BasicHttpBinding_IProgramTemplateService">
      <soap:address location="http://localhost:8088/Broad/BroadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>