Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/BroadService/BroadService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db16.wowfa" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db16.wowfa" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWOW_M_BANNER">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WOW_M_BANNER" nillable="true" type="tns:WOW_M_BANNER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWOW_M_BANNER" nillable="true" type="tns:ArrayOfWOW_M_BANNER" />
  <xs:complexType name="WOW_M_BANNER">
    <xs:sequence>
      <xs:element minOccurs="0" name="edate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="link_url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nSort" type="xs:int" />
      <xs:element minOccurs="0" name="position" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="post_img" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="post_num" type="xs:int" />
      <xs:element minOccurs="0" name="post_on" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="post_target" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="sdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WOW_M_BANNER" nillable="true" type="tns:WOW_M_BANNER" />
</xs:schema>