Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/IRService/IRService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTAB_STOCK_SITUATION">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_STOCK_SITUATION" nillable="true" type="tns:TAB_STOCK_SITUATION" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_STOCK_SITUATION" nillable="true" type="tns:ArrayOfTAB_STOCK_SITUATION" />
  <xs:complexType name="TAB_STOCK_SITUATION">
    <xs:sequence>
      <xs:element minOccurs="0" name="DISP_ORDER" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="STOCK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STOCK_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="STOCK_FLAG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_STOCK_SITUATION" nillable="true" type="tns:TAB_STOCK_SITUATION" />
</xs:schema>