Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/ChinaService/ChinaService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db35.chinaguide.Article" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db35.chinaguide.Article" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArticleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArticleInfo" nillable="true" type="tns:ArticleInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticleInfo" nillable="true" type="tns:ArrayOfArticleInfo" />
  <xs:complexType name="ArticleInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FieldName_L" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldName_S" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GICSNM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MakeDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MakeNM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewsNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockNM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCount" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArticleInfo" nillable="true" type="tns:ArticleInfo" />
</xs:schema>