Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/NewsAdService/NewsAdService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNTB_HARD_CODING_AD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_HARD_CODING_AD" nillable="true" type="tns:NTB_HARD_CODING_AD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_HARD_CODING_AD" nillable="true" type="tns:ArrayOfNTB_HARD_CODING_AD" />
  <xs:complexType name="NTB_HARD_CODING_AD">
    <xs:sequence>
      <xs:element minOccurs="0" name="AD_CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AD_GUBUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AD_TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_HARD_CODING_AD" nillable="true" type="tns:NTB_HARD_CODING_AD" />
</xs:schema>