Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/BannerService/BannerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.MyProgram" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.MyProgram" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/MyProgram/BannerService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:complexType name="BannerCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="BannerName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ProgramCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PublishYn" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BannerCondition" nillable="true" type="tns:BannerCondition" />
</xs:schema>