Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/BannerService/BannerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NTB_PROGRAM_BANNER">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachFile" nillable="true" type="tns:NTB_ATTACH_FILE" />
      <xs:element minOccurs="0" name="BANNER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="END_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LINK_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRG_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROGRAM_BANNER_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="PUBLISH_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="START_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_PROGRAM_BANNER" nillable="true" type="tns:NTB_PROGRAM_BANNER" />
  <xs:complexType name="NTB_ATTACH_FILE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATTACH_FILE_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTENSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_SIZE" type="xs:int" />
      <xs:element minOccurs="0" name="REAL_FILE_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REAL_WEB_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TABLE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TABLE_KEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_UPLOAD_FILE_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_ATTACH_FILE" nillable="true" type="tns:NTB_ATTACH_FILE" />
  <xs:complexType name="ArrayOfNTB_PROGRAM_BANNER">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_PROGRAM_BANNER" nillable="true" type="tns:NTB_PROGRAM_BANNER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_PROGRAM_BANNER" nillable="true" type="tns:ArrayOfNTB_PROGRAM_BANNER" />
</xs:schema>