Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/NewsGFCService/NewsGFCService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/NewsGFCService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" />
  <xs:complexType name="ListModelOfNewsGFCListSZYJwTGC">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NewsGFCList" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" minOccurs="0" name="ListData" nillable="true" type="q1:ArrayOfNewsGFCList" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" minOccurs="0" name="ListData2" nillable="true" type="q2:ArrayOfNewsGFCList" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNewsGFCListSZYJwTGC" nillable="true" type="tns:ListModelOfNewsGFCListSZYJwTGC" />
</xs:schema>