Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/NewsGFCService/NewsGFCService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewsGFCService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsGFCService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsGFCService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsGFCService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsGFCService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsGFCService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INewsGFCService_NewsGFCList_InputMessage">
    <wsdl:part name="parameters" element="tns:NewsGFCList" />
  </wsdl:message>
  <wsdl:message name="INewsGFCService_NewsGFCList_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewsGFCListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsGFCService_NewsGFCView_InputMessage">
    <wsdl:part name="parameters" element="tns:NewsGFCView" />
  </wsdl:message>
  <wsdl:message name="INewsGFCService_NewsGFCView_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewsGFCViewResponse" />
  </wsdl:message>
  <wsdl:message name="INewsGFCService_sendEmailGFC_InputMessage">
    <wsdl:part name="parameters" element="tns:sendEmailGFC" />
  </wsdl:message>
  <wsdl:message name="INewsGFCService_sendEmailGFC_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendEmailGFCResponse" />
  </wsdl:message>
  <wsdl:portType name="INewsGFCService">
    <wsdl:operation name="NewsGFCList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsGFCService/NewsGFCList" message="tns:INewsGFCService_NewsGFCList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsGFCService/NewsGFCListResponse" message="tns:INewsGFCService_NewsGFCList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewsGFCView">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsGFCService/NewsGFCView" message="tns:INewsGFCService_NewsGFCView_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsGFCService/NewsGFCViewResponse" message="tns:INewsGFCService_NewsGFCView_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendEmailGFC">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsGFCService/sendEmailGFC" message="tns:INewsGFCService_sendEmailGFC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsGFCService/sendEmailGFCResponse" message="tns:INewsGFCService_sendEmailGFC_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INewsGFCService" type="tns:INewsGFCService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NewsGFCList">
      <soap:operation soapAction="http://tempuri.org/INewsGFCService/NewsGFCList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsGFCView">
      <soap:operation soapAction="http://tempuri.org/INewsGFCService/NewsGFCView" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendEmailGFC">
      <soap:operation soapAction="http://tempuri.org/INewsGFCService/sendEmailGFC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsGFCService">
    <wsdl:port name="BasicHttpBinding_INewsGFCService" binding="tns:BasicHttpBinding_INewsGFCService">
      <soap:address location="http://localhost:8088/NewsCenter/NewsGFCService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>