Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/NewsGFCService/NewsGFCService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/NewsGFCService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/NewsGFCService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
  <xs:element name="NewsGFCList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchYear" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsGFCListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="NewsGFCListResult" nillable="true" type="q1:ListModelOfNewsGFCListSZYJwTGC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsGFCView">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="artid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewsGFCViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="NewsGFCViewResult" nillable="true" type="q2:usp_WOWTVNewsCenterView_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendEmailGFC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendEmailGFCResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>