Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/NewsGFCService/NewsGFCService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNewsGFCList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NewsGFCList" nillable="true" type="tns:NewsGFCList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNewsGFCList" nillable="true" type="tns:ArrayOfNewsGFCList" />
  <xs:complexType name="NewsGFCList">
    <xs:sequence>
      <xs:element minOccurs="0" name="articledate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="articleid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="arttype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="compcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="contents_img" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idx" type="xs:int" />
      <xs:element minOccurs="0" name="imgdir" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imgfile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="thumbnail_type1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="thumbnail_type2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="writer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsGFCList" nillable="true" type="tns:NewsGFCList" />
</xs:schema>