Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/BroadService/BroadService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTAB_LECTURES_SCHEDULE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_LECTURES_SCHEDULE" nillable="true" type="tns:TAB_LECTURES_SCHEDULE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_LECTURES_SCHEDULE" nillable="true" type="tns:ArrayOfTAB_LECTURES_SCHEDULE" />
  <xs:complexType name="TAB_LECTURES_SCHEDULE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Banner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ETC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURES_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURES_TIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSEQ" type="xs:int" />
      <xs:element minOccurs="0" name="PLACE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ROUGH_SKETCH_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="attendCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="operatingFee" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="pureSalesMoney" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="refundMoney" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="rentalFee" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="salesCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="salesMoney" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_LECTURES_SCHEDULE" nillable="true" type="tns:TAB_LECTURES_SCHEDULE" />
  <xs:complexType name="ArrayOfNUP_MAIN_COMMON_LECTURE_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_MAIN_COMMON_LECTURE_SELECT_Result" nillable="true" type="tns:NUP_MAIN_COMMON_LECTURE_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_MAIN_COMMON_LECTURE_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_MAIN_COMMON_LECTURE_SELECT_Result" />
  <xs:complexType name="NUP_MAIN_COMMON_LECTURE_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="EXPENSE" type="xs:int" />
      <xs:element minOccurs="0" name="GUBUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURES_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURES_TIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSEQ" type="xs:int" />
      <xs:element minOccurs="0" name="PLACE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROUGH_SKETCH_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_MAIN_COMMON_LECTURE_SELECT_Result" nillable="true" type="tns:NUP_MAIN_COMMON_LECTURE_SELECT_Result" />
  <xs:complexType name="ArrayOfUSP_GetTabStrategetApplication_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USP_GetTabStrategetApplication_Result" nillable="true" type="tns:USP_GetTabStrategetApplication_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSP_GetTabStrategetApplication_Result" nillable="true" type="tns:ArrayOfUSP_GetTabStrategetApplication_Result" />
  <xs:complexType name="USP_GetTabStrategetApplication_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FREAD_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MEMO_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PUBLICITY_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="READ_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RECOMMEND_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF_LEVEL" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF_STEP" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="SUB_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="market" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USP_GetTabStrategetApplication_Result" nillable="true" type="tns:USP_GetTabStrategetApplication_Result" />
</xs:schema>