Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/BroadService/BroadService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db123.WOW4989" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db123.WOW4989" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfwowstar_video_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="wowstar_video_Result" nillable="true" type="tns:wowstar_video_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfwowstar_video_Result" nillable="true" type="tns:ArrayOfwowstar_video_Result" />
  <xs:complexType name="wowstar_video_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="company_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="img" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vl_idx" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="wowstar_video_Result" nillable="true" type="tns:wowstar_video_Result" />
  <xs:complexType name="wowstar_p2p_wowtv_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="COLL_INFO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUND_END_TM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUND_JOIN_AMT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUND_JOIN_CNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUND_PROG_RATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUND_START_TM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fund_no" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAN_AMT_MAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAN_INTE_RATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAN_PERIOD_UNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOGO_IMG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MO_LINK_VIEW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OPEN_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PC_LINK_VIEW" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROVIDER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="THUMBNAIL_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="item_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="loan_period" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="wowstar_p2p_wowtv_Result" nillable="true" type="tns:wowstar_p2p_wowtv_Result" />
</xs:schema>