Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/BroadService/BroadService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NTB_BROAD_LIVE">
    <xs:sequence>
      <xs:element minOccurs="0" name="AFREECA_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="AFREECA_PAGE_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="AFREECA_STA_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AFREECA_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BROAD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BROAD_LIVE_ID" type="xs:int" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="END_HOUR" type="xs:int" />
      <xs:element minOccurs="0" name="END_MINUT" type="xs:int" />
      <xs:element minOccurs="0" name="FACEBOOK_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="FACEBOOK_PAGE_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="FACEBOOK_STA_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FACEBOOK_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KAKAO_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="KAKAO_PAGE_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="KAKAO_STA_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KAKAO_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAIN_VOD_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROGRAM_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUBLISH_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="START_HOUR" type="xs:int" />
      <xs:element minOccurs="0" name="START_MINUT" type="xs:int" />
      <xs:element minOccurs="0" name="YOUTUBE_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="YOUTUBE_PAGE_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="YOUTUBE_STA_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YOUTUBE_URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_BROAD_LIVE" nillable="true" type="tns:NTB_BROAD_LIVE" />
  <xs:complexType name="ArrayOfNTB_BROAD_LIVE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_BROAD_LIVE" nillable="true" type="tns:NTB_BROAD_LIVE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_BROAD_LIVE" nillable="true" type="tns:ArrayOfNTB_BROAD_LIVE" />
  <xs:complexType name="ArrayOfTAB_CODE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_CODE" nillable="true" type="tns:TAB_CODE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_CODE" nillable="true" type="tns:ArrayOfTAB_CODE" />
  <xs:complexType name="TAB_CODE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE_VAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISP_ORDER" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="MOD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MSEQ" type="xs:int" />
      <xs:element minOccurs="0" name="PSEQ" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_CODE" nillable="true" type="tns:TAB_CODE" />
  <xs:complexType name="NTB_ATTACH_FILE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATTACH_FILE_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTENSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_SIZE" type="xs:int" />
      <xs:element minOccurs="0" name="REAL_FILE_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REAL_WEB_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TABLE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TABLE_KEY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_UPLOAD_FILE_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_ATTACH_FILE" nillable="true" type="tns:NTB_ATTACH_FILE" />
  <xs:complexType name="ArrayOfNTB_PROGRAM_PARTNER">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_PROGRAM_PARTNER" nillable="true" type="tns:NTB_PROGRAM_PARTNER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_PROGRAM_PARTNER" nillable="true" type="tns:ArrayOfNTB_PROGRAM_PARTNER" />
  <xs:complexType name="NTB_PROGRAM_PARTNER">
    <xs:sequence>
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARTNER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRG_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pay_no" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_PROGRAM_PARTNER" nillable="true" type="tns:NTB_PROGRAM_PARTNER" />
  <xs:complexType name="ArrayOfNTB_PROGRAM_ADMIN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_PROGRAM_ADMIN" nillable="true" type="tns:NTB_PROGRAM_ADMIN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_PROGRAM_ADMIN" nillable="true" type="tns:ArrayOfNTB_PROGRAM_ADMIN" />
  <xs:complexType name="NTB_PROGRAM_ADMIN">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADMIN_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRG_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_PROGRAM_ADMIN" nillable="true" type="tns:NTB_PROGRAM_ADMIN" />
  <xs:complexType name="TAB_PGM_ORDER">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BROAD_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BROAD_TIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CATE_CODE" type="xs:decimal" />
      <xs:element minOccurs="0" name="CHARGE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMP_ADDR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMP_BUSINESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMP_CEO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMP_INDUSTRY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMP_LIC_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CMP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DPT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ETIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDER_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PGM_GUBUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PGM_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PGM_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RECEIPT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="STATUS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEL_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USE_VOD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIPCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_PGM_ORDER" nillable="true" type="tns:TAB_PGM_ORDER" />
  <xs:complexType name="ArrayOfNTB_BOARD_CONTENT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_BOARD_CONTENT" nillable="true" type="tns:NTB_BOARD_CONTENT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_BOARD_CONTENT" nillable="true" type="tns:ArrayOfNTB_BOARD_CONTENT" />
  <xs:complexType name="NTB_BOARD_CONTENT">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGREE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttachFileList" nillable="true" type="tns:ArrayOfNTB_ATTACH_FILE" />
      <xs:element minOccurs="0" name="BLIND_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOARD_CONTENT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="BOARD_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="COMMON_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CommentList" nillable="true" type="tns:ArrayOfNTB_BOARD_COMMENT" />
      <xs:element minOccurs="0" name="CommonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPTH" type="xs:int" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="END_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsComment" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsFile" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReply" type="xs:boolean" />
      <xs:element minOccurs="0" name="KEYWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_NICKNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MenuSeq" type="xs:int" />
      <xs:element minOccurs="0" name="NOTICE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTB_BOARD" nillable="true" type="tns:NTB_BOARD" />
      <xs:element minOccurs="0" name="NTB_BOARD_COMMENT" nillable="true" type="tns:ArrayOfNTB_BOARD_COMMENT" />
      <xs:element minOccurs="0" name="PAGE_LINK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="READ_CNT" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPLY_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReplyList" nillable="true" type="tns:ArrayOfNTB_BOARD_CONTENT" />
      <xs:element minOccurs="0" name="SORD_ORDER" type="xs:int" />
      <xs:element minOccurs="0" name="START_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOP_BOARD_CONTENT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="Telno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UP_BOARD_CONTENT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="UP_COMMON_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpCommonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_YN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_BOARD_CONTENT" nillable="true" type="tns:NTB_BOARD_CONTENT" />
  <xs:complexType name="ArrayOfNTB_ATTACH_FILE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_ATTACH_FILE" nillable="true" type="tns:NTB_ATTACH_FILE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_ATTACH_FILE" nillable="true" type="tns:ArrayOfNTB_ATTACH_FILE" />
  <xs:complexType name="ArrayOfNTB_BOARD_COMMENT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_BOARD_COMMENT" nillable="true" type="tns:NTB_BOARD_COMMENT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_BOARD_COMMENT" nillable="true" type="tns:ArrayOfNTB_BOARD_COMMENT" />
  <xs:complexType name="NTB_BOARD_COMMENT">
    <xs:sequence>
      <xs:element minOccurs="0" name="BLIND_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOARD_CONTENT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="COMMENT_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NICKNM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTB_BOARD_CONTENT" nillable="true" type="tns:NTB_BOARD_CONTENT" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_IP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_BOARD_COMMENT" nillable="true" type="tns:NTB_BOARD_COMMENT" />
  <xs:complexType name="NTB_BOARD">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ATTACH_FILE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BLIND_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOARD_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOARD_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="BOARD_TYPE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOTTOM_CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoardTypeCodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMMENT_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="KEYWORD_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTICE_COUNT" type="xs:int" />
      <xs:element minOccurs="0" name="NTB_BOARD_CONTENT" nillable="true" type="tns:ArrayOfNTB_BOARD_CONTENT" />
      <xs:element minOccurs="0" name="PASSWORD_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPLY_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCRAP_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOP_CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TOP_NOTICE_YN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_BOARD" nillable="true" type="tns:NTB_BOARD" />
  <xs:complexType name="ArrayOfNTB_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_MENU" nillable="true" type="tns:NTB_MENU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_MENU" nillable="true" type="tns:ArrayOfNTB_MENU" />
  <xs:complexType name="NTB_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoardTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHANNEL_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT_SEQ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CONTENT_TYPE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPTH" type="xs:int" />
      <xs:element minOccurs="0" name="FIX_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LINK_TYPE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LINK_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_NAME_DEPTH_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_NAME_DEPTH_2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_NAME_DEPTH_3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTB_MENU_GROUP" nillable="true" type="tns:ArrayOfNTB_MENU_GROUP" />
      <xs:element minOccurs="0" name="PRG_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SORD_ORDER" type="xs:int" />
      <xs:element minOccurs="0" name="UP_MENU_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="sccode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_MENU" nillable="true" type="tns:NTB_MENU" />
  <xs:complexType name="ArrayOfNTB_MENU_GROUP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_MENU_GROUP" nillable="true" type="tns:NTB_MENU_GROUP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_MENU_GROUP" nillable="true" type="tns:ArrayOfNTB_MENU_GROUP" />
  <xs:complexType name="NTB_MENU_GROUP">
    <xs:sequence>
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="Href" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="NTB_GROUP" nillable="true" type="tns:NTB_GROUP" />
      <xs:element minOccurs="0" name="NTB_MENU" nillable="true" type="tns:NTB_MENU" />
      <xs:element minOccurs="0" name="READ_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WRITE_YN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_MENU_GROUP" nillable="true" type="tns:NTB_MENU_GROUP" />
  <xs:complexType name="NTB_GROUP">
    <xs:sequence>
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTB_MENU_GROUP" nillable="true" type="tns:ArrayOfNTB_MENU_GROUP" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAB_CMS_ADMIN" nillable="true" type="tns:ArrayOfTAB_CMS_ADMIN" />
      <xs:element minOccurs="0" name="USE_YN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_GROUP" nillable="true" type="tns:NTB_GROUP" />
  <xs:complexType name="ArrayOfTAB_CMS_ADMIN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_CMS_ADMIN" nillable="true" type="tns:TAB_CMS_ADMIN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_CMS_ADMIN" nillable="true" type="tns:ArrayOfTAB_CMS_ADMIN" />
  <xs:complexType name="TAB_CMS_ADMIN">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADMIN_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="APPROVAL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_SEQ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IP_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JOB_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_LOGIN_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LAST_LOGIN_IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAST_MOBILE_AUTH_NUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOGIN_FAIL_COUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MCLASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MISSLEE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MLEVEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTB_GROUP" nillable="true" type="tns:NTB_GROUP" />
      <xs:element minOccurs="0" name="PART" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PART_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PREV_LAST_LOGIN_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PREV_LAST_LOGIN_IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PWD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartCodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAB_CMS_MENU" nillable="true" type="tns:ArrayOfTAB_CMS_MENU" />
      <xs:element minOccurs="0" name="WOWNET" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_CMS_ADMIN" nillable="true" type="tns:TAB_CMS_ADMIN" />
  <xs:complexType name="ArrayOfTAB_CMS_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_CMS_MENU" nillable="true" type="tns:TAB_CMS_MENU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_CMS_MENU" nillable="true" type="tns:ArrayOfTAB_CMS_MENU" />
  <xs:complexType name="TAB_CMS_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" name="BCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT_BOTTOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT_TOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONT_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DISP_ORDER" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="DISP_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_ICON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MENU_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSEQ" type="xs:int" />
      <xs:element minOccurs="0" name="PSEQ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_DISP_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUB_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAB_CMS_ADMIN" nillable="true" type="tns:ArrayOfTAB_CMS_ADMIN" />
      <xs:element minOccurs="0" name="TITLE_SUB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_CMS_MENU" nillable="true" type="tns:TAB_CMS_MENU" />
  <xs:complexType name="NTB_PROGRAM_GROUP">
    <xs:sequence>
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GROUP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MASTER_PRG_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MainAttachFile" nillable="true" type="tns:NTB_ATTACH_FILE" />
      <xs:element minOccurs="0" name="NTB_PROGRAM_TEMPLATE_GROUP" nillable="true" type="tns:ArrayOfNTB_PROGRAM_TEMPLATE_GROUP" />
      <xs:element minOccurs="0" name="PROGRAM_GROUP_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE_CODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_PROGRAM_GROUP" nillable="true" type="tns:NTB_PROGRAM_GROUP" />
  <xs:complexType name="ArrayOfNTB_PROGRAM_TEMPLATE_GROUP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_PROGRAM_TEMPLATE_GROUP" nillable="true" type="tns:NTB_PROGRAM_TEMPLATE_GROUP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_PROGRAM_TEMPLATE_GROUP" nillable="true" type="tns:ArrayOfNTB_PROGRAM_TEMPLATE_GROUP" />
  <xs:complexType name="NTB_PROGRAM_TEMPLATE_GROUP">
    <xs:sequence>
      <xs:element minOccurs="0" name="NTB_PROGRAM_GROUP" nillable="true" type="tns:NTB_PROGRAM_GROUP" />
      <xs:element minOccurs="0" name="NTB_PROGRAM_TEMPLATE" nillable="true" type="tns:NTB_PROGRAM_TEMPLATE" />
      <xs:element minOccurs="0" name="ORDER_INDEX" type="xs:int" />
      <xs:element minOccurs="0" name="PROGRAM_GROUP_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="PROGRAM_TEMPLATE_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_PROGRAM_TEMPLATE_GROUP" nillable="true" type="tns:NTB_PROGRAM_TEMPLATE_GROUP" />
  <xs:complexType name="NTB_PROGRAM_TEMPLATE">
    <xs:sequence>
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MainAttachFile" nillable="true" type="tns:NTB_ATTACH_FILE" />
      <xs:element minOccurs="0" name="NAVER_CAFE_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAVER_CAFE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAVER_READ_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAVER_READ_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTB_PROGRAM_TEMPLATE_GROUP" nillable="true" type="tns:ArrayOfNTB_PROGRAM_TEMPLATE_GROUP" />
      <xs:element minOccurs="0" name="PRG_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PROGRAM_TEMPLATE_SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RectangleAttachFile" nillable="true" type="tns:NTB_ATTACH_FILE" />
      <xs:element minOccurs="0" name="SubAttachFile" nillable="true" type="tns:NTB_ATTACH_FILE" />
      <xs:element minOccurs="0" name="TEMPLATE_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThumbnailAttachFile" nillable="true" type="tns:NTB_ATTACH_FILE" />
      <xs:element minOccurs="0" name="WOWNET_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WOWNET_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WOW_CAFE_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WOW_CAFE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WOW_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WOW_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YOUTUBE_READ_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YOUTUBE_READ_YN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_PROGRAM_TEMPLATE" nillable="true" type="tns:NTB_PROGRAM_TEMPLATE" />
  <xs:complexType name="ArrayOfNTB_PROGRAM_GROUP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_PROGRAM_GROUP" nillable="true" type="tns:NTB_PROGRAM_GROUP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_PROGRAM_GROUP" nillable="true" type="tns:ArrayOfNTB_PROGRAM_GROUP" />
</xs:schema>