Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/BroadService/BroadService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Broad/BroadService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="T_NEWS_PRG">
    <xs:sequence>
      <xs:element minOccurs="0" name="ANC1_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANC1_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANC2_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANC2_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AREA_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AREA_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AllProgramViewYn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BRO_END" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BRO_START" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BroadSectionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BroadTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CP_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryCode2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CategoryCode3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DELFLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DayOfWeekString" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ENCODING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FameYn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstFreeYn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImgSchedule" nillable="true" type="tns:IMG_SCHEDULE" />
      <xs:element minOccurs="0" name="IsFirst" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRenewal" type="xs:boolean" />
      <xs:element minOccurs="0" name="MainBottomViewYn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MainViewType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaverReadUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaverReadYn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PD2_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PD2_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PD_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PGMDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PGMDAY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PLAN_BROAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRG_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRG_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUBLISH_YN" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PartnerNameList" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="ProgramList" nillable="true" type="tns:TAB_PROGRAM_LIST" />
      <xs:element minOccurs="0" name="ProgramTemplateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramTemplateType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TD2_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TD2_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TD_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThumImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YouTubeReadUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YouTubeReadYn" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_NEWS_PRG" nillable="true" type="tns:T_NEWS_PRG" />
  <xs:complexType name="IMG_SCHEDULE">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoEnc" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="BroadTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CP_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENCODING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLAN_BROAD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUBLISH_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentProgramCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentProgramPoint" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramList" nillable="true" type="tns:TAB_PROGRAM_LIST" />
      <xs:element minOccurs="0" name="ProgramTemplateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramTemplateType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SERVICE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="SendType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bitrate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="corner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="edate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="file_front_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="folder_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="formation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hold_time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="img_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="img_name2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="img_path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="link_url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="now_broadcast" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pageformat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="parentid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="point" type="xs:int" />
      <xs:element minOccurs="0" name="prog_content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prog_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prog_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="proginfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rebroadcast" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="runtime" type="xs:int" />
      <xs:element minOccurs="0" name="sdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="web_state" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IMG_SCHEDULE" nillable="true" type="tns:IMG_SCHEDULE" />
  <xs:complexType name="TAB_PROGRAM_LIST">
    <xs:sequence>
      <xs:element minOccurs="0" name="CATE_CODE" type="xs:decimal" />
      <xs:element minOccurs="0" name="DEL_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ING_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NUM" type="xs:decimal" />
      <xs:element minOccurs="0" name="PGM_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PGM_LEVEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PGM_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SPC_YN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_PROGRAM_LIST" nillable="true" type="tns:TAB_PROGRAM_LIST" />
  <xs:complexType name="ArrayOfT_NEWS_PRG">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_NEWS_PRG" nillable="true" type="tns:T_NEWS_PRG" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_NEWS_PRG" nillable="true" type="tns:ArrayOfT_NEWS_PRG" />
  <xs:complexType name="ArrayOfIMG_SCHEDULE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IMG_SCHEDULE" nillable="true" type="tns:IMG_SCHEDULE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIMG_SCHEDULE" nillable="true" type="tns:ArrayOfIMG_SCHEDULE" />
  <xs:complexType name="ArrayOfT_RUNDOWN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_RUNDOWN" nillable="true" type="tns:T_RUNDOWN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_RUNDOWN" nillable="true" type="tns:ArrayOfT_RUNDOWN" />
  <xs:complexType name="T_RUNDOWN">
    <xs:sequence>
      <xs:element minOccurs="0" name="ANC1_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANC1_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANC2_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANC2_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AREA_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AREA_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASSIGNTIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="B_STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BroadWatchStatus" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CastNameList" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="DAY_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DELETE_DATETIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DELETE_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DELETE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DELETE_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DayOfWeekString" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="EDITOR_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDITOR_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="END_RUN_SEQ" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="INNING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFirst" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRenewal" type="xs:boolean" />
      <xs:element minOccurs="0" name="MAKE_DATETIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAKE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAKE_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PD2_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PD2_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PD_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PGMID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLAY_RUN_SEQ" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRG_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRG_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RBO_TIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REC_IMG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARKS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_END" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_START" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STANDBY_RUN_SEQ" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SUB_IMG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TD2_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TD2_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TD_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimePx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATE_DATETIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATE_NM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_RUNDOWN" nillable="true" type="tns:T_RUNDOWN" />
  <xs:complexType name="ArrayOfNUP_GetAllProgramList_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_GetAllProgramList_Result" nillable="true" type="tns:NUP_GetAllProgramList_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_GetAllProgramList_Result" nillable="true" type="tns:ArrayOfNUP_GetAllProgramList_Result" />
  <xs:complexType name="NUP_GetAllProgramList_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="PRG_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRG_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rownum" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="total" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_GetAllProgramList_Result" nillable="true" type="tns:NUP_GetAllProgramList_Result" />
  <xs:complexType name="ArrayOfNUP_GetAllProgramEtcList_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_GetAllProgramEtcList_Result" nillable="true" type="tns:NUP_GetAllProgramEtcList_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_GetAllProgramEtcList_Result" nillable="true" type="tns:ArrayOfNUP_GetAllProgramEtcList_Result" />
  <xs:complexType name="NUP_GetAllProgramEtcList_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="PRG_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRG_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rownum" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="total" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_GetAllProgramEtcList_Result" nillable="true" type="tns:NUP_GetAllProgramEtcList_Result" />
</xs:schema>