Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/MyActiveService/MyActiveService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db90.DNRS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/MyPage/MyActiveService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfT_RUNDOWN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_RUNDOWN" nillable="true" type="tns:T_RUNDOWN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_RUNDOWN" nillable="true" type="tns:ArrayOfT_RUNDOWN" />
  <xs:complexType name="T_RUNDOWN">
    <xs:sequence>
      <xs:element minOccurs="0" name="ANC1_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANC1_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANC2_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANC2_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AREA_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AREA_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ASSIGNTIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="B_STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BroadWatchStatus" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CastNameList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="DAY_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DELETE_DATETIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DELETE_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DELETE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DELETE_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIR" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DayOfWeekString" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="EDITOR_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDITOR_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="END_RUN_SEQ" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="INNING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFirst" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRenewal" type="xs:boolean" />
      <xs:element minOccurs="0" name="MAKE_DATETIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAKE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAKE_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PD2_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PD2_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PD_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PGMID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLAY_RUN_SEQ" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PRG_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRG_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RBO_TIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REC_IMG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMARKS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_END" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUN_START" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STANDBY_RUN_SEQ" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SUB_IMG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TD2_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TD2_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TD_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimePx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATE_DATETIME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPDATE_NM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_RUNDOWN" nillable="true" type="tns:T_RUNDOWN" />
</xs:schema>