Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/MyActiveService/MyActiveService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/MyPage/MyActiveService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db51.ARSConsult" />
  <xs:import schemaLocation="http://localhost:8088/MyPage/MyActiveService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db51.WOWMMS" />
  <xs:import schemaLocation="http://localhost:8088/MyPage/MyActiveService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
  <xs:import schemaLocation="http://localhost:8088/MyPage/MyActiveService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
  <xs:import schemaLocation="http://localhost:8088/MyPage/MyActiveService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
  <xs:import schemaLocation="http://localhost:8088/MyPage/MyActiveService.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" />
  <xs:import schemaLocation="http://localhost:8088/MyPage/MyActiveService.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB.MyPage" />
  <xs:import schemaLocation="http://localhost:8088/MyPage/MyActiveService.svc?xsd=xsd19" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" />
  <xs:complexType name="BaseCondition">
    <xs:sequence>
      <xs:element name="_x003C_CurrentIndex_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_CurrentMenuSeq_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PageSize_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseCondition" nillable="true" type="tns:BaseCondition" />
  <xs:complexType name="ListModelOfNUP_SC_LOG_SELECT_ResultHqTDG7z8">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NUP_SC_LOG_SELECT_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db51.ARSConsult" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db51.ARSConsult" minOccurs="0" name="ListData" nillable="true" type="q1:ArrayOfNUP_SC_LOG_SELECT_Result" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db51.ARSConsult" minOccurs="0" name="ListData2" nillable="true" type="q2:ArrayOfNUP_SC_LOG_SELECT_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNUP_SC_LOG_SELECT_ResultHqTDG7z8" nillable="true" type="tns:ListModelOfNUP_SC_LOG_SELECT_ResultHqTDG7z8" />
  <xs:complexType name="ListModelOfNUP_MMS_LOG_SELECT_Result2GyYEEQg">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NUP_MMS_LOG_SELECT_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db51.WOWMMS" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db51.WOWMMS" minOccurs="0" name="ListData" nillable="true" type="q3:ArrayOfNUP_MMS_LOG_SELECT_Result" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db51.WOWMMS" minOccurs="0" name="ListData2" nillable="true" type="q4:ArrayOfNUP_MMS_LOG_SELECT_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNUP_MMS_LOG_SELECT_Result2GyYEEQg" nillable="true" type="tns:ListModelOfNUP_MMS_LOG_SELECT_Result2GyYEEQg" />
  <xs:complexType name="LoginUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacebookInfo" nillable="true" type="tns:FacebookUserInfo" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KakaoInfo" nillable="true" type="tns:KakaoUserInfo" />
      <xs:element minOccurs="0" name="LoginByAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoginDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginFrom" type="tns:LoginDomain" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NaverInfo" nillable="true" type="tns:NaverUserInfo" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUserInfo" nillable="true" type="tns:LoginUserInfo" />
  <xs:complexType name="FacebookUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FacebookUserInfo" nillable="true" type="tns:FacebookUserInfo" />
  <xs:complexType name="KakaoUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KakaoUserInfo" nillable="true" type="tns:KakaoUserInfo" />
  <xs:simpleType name="LoginDomain">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IdPw" />
      <xs:enumeration value="Membership" />
      <xs:enumeration value="Kakao" />
      <xs:enumeration value="Facebook" />
      <xs:enumeration value="Naver" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LoginDomain" nillable="true" type="tns:LoginDomain" />
  <xs:complexType name="NaverUserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NaverUserInfo" nillable="true" type="tns:NaverUserInfo" />
  <xs:complexType name="ListModelOfJOIN_TAB_SCRAP_CONTENTtpbJ901r">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="JOIN_TAB_SCRAP_CONTENT" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="ListData" nillable="true" type="q5:ArrayOfJOIN_TAB_SCRAP_CONTENT" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="ListData2" nillable="true" type="q6:ArrayOfJOIN_TAB_SCRAP_CONTENT" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfJOIN_TAB_SCRAP_CONTENTtpbJ901r" nillable="true" type="tns:ListModelOfJOIN_TAB_SCRAP_CONTENTtpbJ901r" />
  <xs:complexType name="ListModelOfNUP_MYPIN_REPORTER_SELECT_Resultp95ZFpkp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NUP_MYPIN_REPORTER_SELECT_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData" nillable="true" type="q7:ArrayOfNUP_MYPIN_REPORTER_SELECT_Result" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData2" nillable="true" type="q8:ArrayOfNUP_MYPIN_REPORTER_SELECT_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNUP_MYPIN_REPORTER_SELECT_Resultp95ZFpkp" nillable="true" type="tns:ListModelOfNUP_MYPIN_REPORTER_SELECT_Resultp95ZFpkp" />
  <xs:complexType name="ListModelOfNTB_MYPIN_PROGRAMaHPuSDKR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NTB_MYPIN_PROGRAM" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="ListData" nillable="true" type="q9:ArrayOfNTB_MYPIN_PROGRAM" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="ListData2" nillable="true" type="q10:ArrayOfNTB_MYPIN_PROGRAM" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNTB_MYPIN_PROGRAMaHPuSDKR" nillable="true" type="tns:ListModelOfNTB_MYPIN_PROGRAMaHPuSDKR" />
  <xs:complexType name="ListModelOfNTB_MYPIN_PARTNERaHPuSDKR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NTB_MYPIN_PARTNER" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="ListData" nillable="true" type="q11:ArrayOfNTB_MYPIN_PARTNER" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="ListData2" nillable="true" type="q12:ArrayOfNTB_MYPIN_PARTNER" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNTB_MYPIN_PARTNERaHPuSDKR" nillable="true" type="tns:ListModelOfNTB_MYPIN_PARTNERaHPuSDKR" />
  <xs:complexType name="ListModelOfTAB_CONSULTATION_APPLICATIONtpbJ901r">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TAB_CONSULTATION_APPLICATION" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="ListData" nillable="true" type="q13:ArrayOfTAB_CONSULTATION_APPLICATION" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="ListData2" nillable="true" type="q14:ArrayOfTAB_CONSULTATION_APPLICATION" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfTAB_CONSULTATION_APPLICATIONtpbJ901r" nillable="true" type="tns:ListModelOfTAB_CONSULTATION_APPLICATIONtpbJ901r" />
  <xs:complexType name="ListModelOfTAB_BOARD_AAtpbJ901r">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TAB_BOARD_AA" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="ListData" nillable="true" type="q15:ArrayOfTAB_BOARD_AA" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="ListData2" nillable="true" type="q16:ArrayOfTAB_BOARD_AA" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfTAB_BOARD_AAtpbJ901r" nillable="true" type="tns:ListModelOfTAB_BOARD_AAtpbJ901r" />
  <xs:complexType name="ListModelOfUP_PORTAL_COUPON_LST_Resultd_Pshzuji">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UP_PORTAL_COUPON_LST_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" minOccurs="0" name="ListData" nillable="true" type="q17:ArrayOfUP_PORTAL_COUPON_LST_Result" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" minOccurs="0" name="ListData2" nillable="true" type="q18:ArrayOfUP_PORTAL_COUPON_LST_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfUP_PORTAL_COUPON_LST_Resultd_Pshzuji" nillable="true" type="tns:ListModelOfUP_PORTAL_COUPON_LST_Resultd_Pshzuji" />
  <xs:complexType name="ListModelOfUP_PORTAL_MYPAGE_PAYNCHARGE_UR_LST_Resultd_Pshzuji">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UP_PORTAL_MYPAGE_PAYNCHARGE_UR_LST_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" minOccurs="0" name="ListData" nillable="true" type="q19:ArrayOfUP_PORTAL_MYPAGE_PAYNCHARGE_UR_LST_Result" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" minOccurs="0" name="ListData2" nillable="true" type="q20:ArrayOfUP_PORTAL_MYPAGE_PAYNCHARGE_UR_LST_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfUP_PORTAL_MYPAGE_PAYNCHARGE_UR_LST_Resultd_Pshzuji" nillable="true" type="tns:ListModelOfUP_PORTAL_MYPAGE_PAYNCHARGE_UR_LST_Resultd_Pshzuji" />
  <xs:complexType name="ListModelOfUP_PORTAL_REFUND_LST_Resultd_Pshzuji">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UP_PORTAL_REFUND_LST_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" minOccurs="0" name="ListData" nillable="true" type="q21:ArrayOfUP_PORTAL_REFUND_LST_Result" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" minOccurs="0" name="ListData2" nillable="true" type="q22:ArrayOfUP_PORTAL_REFUND_LST_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfUP_PORTAL_REFUND_LST_Resultd_Pshzuji" nillable="true" type="tns:ListModelOfUP_PORTAL_REFUND_LST_Resultd_Pshzuji" />
  <xs:complexType name="ListModelOfMyOrderDeliveryAYyQgQLe">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="MyOrderDelivery" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB.MyPage" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB.MyPage" minOccurs="0" name="ListData" nillable="true" type="q23:ArrayOfMyOrderDelivery" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB.MyPage" minOccurs="0" name="ListData2" nillable="true" type="q24:ArrayOfMyOrderDelivery" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfMyOrderDeliveryAYyQgQLe" nillable="true" type="tns:ListModelOfMyOrderDeliveryAYyQgQLe" />
  <xs:complexType name="IntegratedBoardOfNTB_BOARD_CONTENTaHPuSDKR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="IntegratedBoardOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NTB_BOARD_CONTENT" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ListModelOfNTB_BOARD_CONTENTaHPuSDKR">
        <xs:sequence>
          <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="BoardInfo" nillable="true" type="q25:NTB_BOARD" />
          <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="CommonCodes" nillable="true" type="q26:ArrayOfNTB_COMMON_CODE" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IntegratedBoardOfNTB_BOARD_CONTENTaHPuSDKR" nillable="true" type="tns:IntegratedBoardOfNTB_BOARD_CONTENTaHPuSDKR" />
  <xs:complexType name="ListModelOfNTB_BOARD_CONTENTaHPuSDKR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NTB_BOARD_CONTENT" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="ListData" nillable="true" type="q27:ArrayOfNTB_BOARD_CONTENT" />
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" minOccurs="0" name="ListData2" nillable="true" type="q28:ArrayOfNTB_BOARD_CONTENT" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNTB_BOARD_CONTENTaHPuSDKR" nillable="true" type="tns:ListModelOfNTB_BOARD_CONTENTaHPuSDKR" />
  <xs:complexType name="ListModelOfNUP_MY_LECTURES_SELECT_ResulttpbJ901r">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NUP_MY_LECTURES_SELECT_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="ListData" nillable="true" type="q29:ArrayOfNUP_MY_LECTURES_SELECT_Result" />
      <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" minOccurs="0" name="ListData2" nillable="true" type="q30:ArrayOfNUP_MY_LECTURES_SELECT_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNUP_MY_LECTURES_SELECT_ResulttpbJ901r" nillable="true" type="tns:ListModelOfNUP_MY_LECTURES_SELECT_ResulttpbJ901r" />
  <xs:complexType name="ListModelOftblMyFavoriteJongMokG0lwexyN">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="tblMyFavoriteJongMok" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="ListData" nillable="true" type="q31:ArrayOftblMyFavoriteJongMok" />
      <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="ListData2" nillable="true" type="q32:ArrayOftblMyFavoriteJongMok" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOftblMyFavoriteJongMokG0lwexyN" nillable="true" type="tns:ListModelOftblMyFavoriteJongMokG0lwexyN" />
  <xs:complexType name="ListModelOfUP_PORTAL_MYPAGE_SERVICE_UR_LST_Resultd_Pshzuji">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UP_PORTAL_MYPAGE_SERVICE_UR_LST_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" minOccurs="0" name="ListData" nillable="true" type="q33:ArrayOfUP_PORTAL_MYPAGE_SERVICE_UR_LST_Result" />
      <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" minOccurs="0" name="ListData2" nillable="true" type="q34:ArrayOfUP_PORTAL_MYPAGE_SERVICE_UR_LST_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfUP_PORTAL_MYPAGE_SERVICE_UR_LST_Resultd_Pshzuji" nillable="true" type="tns:ListModelOfUP_PORTAL_MYPAGE_SERVICE_UR_LST_Resultd_Pshzuji" />
  <xs:complexType name="ListModelOfUP_PORTAL_MYPAGE_DELIVERY_UR_LST_Resultd_Pshzuji">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UP_PORTAL_MYPAGE_DELIVERY_UR_LST_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" minOccurs="0" name="ListData" nillable="true" type="q35:ArrayOfUP_PORTAL_MYPAGE_DELIVERY_UR_LST_Result" />
      <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.WOWTV_BILL_DB" minOccurs="0" name="ListData2" nillable="true" type="q36:ArrayOfUP_PORTAL_MYPAGE_DELIVERY_UR_LST_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfUP_PORTAL_MYPAGE_DELIVERY_UR_LST_Resultd_Pshzuji" nillable="true" type="tns:ListModelOfUP_PORTAL_MYPAGE_DELIVERY_UR_LST_Resultd_Pshzuji" />
</xs:schema>