Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/MyActiveService/MyActiveService16.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNUP_MYPIN_REPORTER_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_MYPIN_REPORTER_SELECT_Result" nillable="true" type="tns:NUP_MYPIN_REPORTER_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_MYPIN_REPORTER_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_MYPIN_REPORTER_SELECT_Result" />
  <xs:complexType name="NUP_MYPIN_REPORTER_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTICLE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ARTICLE_NEWS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPT_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPORTER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCRAPDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SEQ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="USER_NM" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_MYPIN_REPORTER_SELECT_Result" nillable="true" type="tns:NUP_MYPIN_REPORTER_SELECT_Result" />
</xs:schema>