Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/TvPlayerService/TvPlayerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Broad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Biz.Broad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Broad/TvPlayerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="LiveTvInfoModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DayOfTheWeekList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PartnerNameList" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="PlanBroad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LiveTvInfoModel" nillable="true" type="tns:LiveTvInfoModel" />
  <xs:complexType name="TvReplayInfoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BroadDate" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PartnerNameList" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="Point" type="xs:int" />
      <xs:element minOccurs="0" name="ProgramGubunCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgramName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TvReplayInfoModel" nillable="true" type="tns:TvReplayInfoModel" />
  <xs:complexType name="VodInfoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="InsertDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VodInfoModel" nillable="true" type="tns:VodInfoModel" />
</xs:schema>