Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/NewsAdService/NewsAdService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewsAdService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsAdService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsAdService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsAdService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsAdService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INewsAdService_GetHardCodingAdList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHardCodingAdList" />
  </wsdl:message>
  <wsdl:message name="INewsAdService_GetHardCodingAdList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHardCodingAdListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsAdService_GetHardCodingAdInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHardCodingAdInfo" />
  </wsdl:message>
  <wsdl:message name="INewsAdService_GetHardCodingAdInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHardCodingAdInfoResponse" />
  </wsdl:message>
  <wsdl:message name="INewsAdService_SetHardCodingAd_InputMessage">
    <wsdl:part name="parameters" element="tns:SetHardCodingAd" />
  </wsdl:message>
  <wsdl:message name="INewsAdService_SetHardCodingAd_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetHardCodingAdResponse" />
  </wsdl:message>
  <wsdl:portType name="INewsAdService">
    <wsdl:operation name="GetHardCodingAdList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsAdService/GetHardCodingAdList" message="tns:INewsAdService_GetHardCodingAdList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsAdService/GetHardCodingAdListResponse" message="tns:INewsAdService_GetHardCodingAdList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHardCodingAdInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsAdService/GetHardCodingAdInfo" message="tns:INewsAdService_GetHardCodingAdInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsAdService/GetHardCodingAdInfoResponse" message="tns:INewsAdService_GetHardCodingAdInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetHardCodingAd">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsAdService/SetHardCodingAd" message="tns:INewsAdService_SetHardCodingAd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsAdService/SetHardCodingAdResponse" message="tns:INewsAdService_SetHardCodingAd_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INewsAdService" type="tns:INewsAdService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHardCodingAdList">
      <soap:operation soapAction="http://tempuri.org/INewsAdService/GetHardCodingAdList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHardCodingAdInfo">
      <soap:operation soapAction="http://tempuri.org/INewsAdService/GetHardCodingAdInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetHardCodingAd">
      <soap:operation soapAction="http://tempuri.org/INewsAdService/SetHardCodingAd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsAdService">
    <wsdl:port name="BasicHttpBinding_INewsAdService" binding="tns:BasicHttpBinding_INewsAdService">
      <soap:address location="http://localhost:8088/NewsCenter/NewsAdService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>