Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/NewsAdService/NewsAdService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/NewsAdService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/NewsAdService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
  <xs:element name="GetHardCodingAdList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHardCodingAdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetHardCodingAdListResult" nillable="true" type="q1:ListModelOfNTB_HARD_CODING_ADp95ZFpkp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHardCodingAdInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHardCodingAdInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="GetHardCodingAdInfoResult" nillable="true" type="q2:NTB_HARD_CODING_AD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHardCodingAd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="hardCodingAdInfo" nillable="true" type="q3:NTB_HARD_CODING_AD" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUser" nillable="true" type="q4:LoginUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHardCodingAdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetHardCodingAdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>