Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/FinanceService/FinanceService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.broadcast" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_web_getBestProHintStocking_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_web_getBestProHintStocking_Result" nillable="true" type="tns:usp_web_getBestProHintStocking_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_web_getBestProHintStocking_Result" nillable="true" type="tns:ArrayOfusp_web_getBestProHintStocking_Result" />
  <xs:complexType name="usp_web_getBestProHintStocking_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Intro_Profile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvestKind" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEWphoto_big" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEWphoto_service" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEWphoto_small" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pro_Type" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Pro_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_ID_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wowtv_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="avgWeeklyItem" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="bestEarningRate" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_web_getBestProHintStocking_Result" nillable="true" type="tns:usp_web_getBestProHintStocking_Result" />
  <xs:complexType name="ArrayOfusp_web_getWorldProHintPartner_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_web_getWorldProHintPartner_Result" nillable="true" type="tns:usp_web_getWorldProHintPartner_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_web_getWorldProHintPartner_Result" nillable="true" type="tns:ArrayOfusp_web_getWorldProHintPartner_Result" />
  <xs:complexType name="usp_web_getWorldProHintPartner_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Intro_Profile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InvestKind" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEWphoto_big" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEWphoto_service" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEWphoto_small" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pro_Type" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Pro_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Product_ID_1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Profile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wowtv_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="avgWeeklyItem" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="bestEarningRate" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_web_getWorldProHintPartner_Result" nillable="true" type="tns:usp_web_getWorldProHintPartner_Result" />
</xs:schema>