Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/FinanceService/FinanceService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock.Finance" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock.Finance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Finance/FinanceService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/Finance/FinanceService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" />
  <xs:complexType name="StockInvestorCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="CName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="K_gbn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartCode2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockInvestorCondition" nillable="true" type="tns:StockInvestorCondition" />
  <xs:complexType name="NoticeStockCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="ArjCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FContent" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FDataDay" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FSeq" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NoticeStockCondition" nillable="true" type="tns:NoticeStockCondition" />
  <xs:complexType name="ChartCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q2:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="Class_1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Class_2" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChartCondition" nillable="true" type="tns:ChartCondition" />
  <xs:complexType name="CurrentAnalysisCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q3:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="ArjCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchStr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CurrentAnalysisCondition" nillable="true" type="tns:CurrentAnalysisCondition" />
  <xs:complexType name="MyFavoriteStockCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArjCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="loginUserInfo" nillable="true" type="q4:LoginUserInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyFavoriteStockCondition" nillable="true" type="tns:MyFavoriteStockCondition" />
  <xs:complexType name="HolidayCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q5:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="CheckDt" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HolidayCondition" nillable="true" type="tns:HolidayCondition" />
  <xs:complexType name="ExchangeCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExchangeCondition" nillable="true" type="tns:ExchangeCondition" />
  <xs:complexType name="SiseHolyCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HOLY_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MARKET_DT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiseHolyCondition" nillable="true" type="tns:SiseHolyCondition" />
  <xs:complexType name="FinanceCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q6:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="AriticleId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BoardType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchStr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TabSeq" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FinanceCondition" nillable="true" type="tns:FinanceCondition" />
  <xs:complexType name="StockInfoModelOfusp_GetSiseCurrentKospi_Resultusp_getSiseMainmergecode_ResultYgN18lpt">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="StockInfoModelOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock.Finance" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="usp_GetSiseCurrentKospi_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" />
          <GenericParameter Name="usp_getSiseMainmergecode_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="StockInfo" nillable="true" type="q7:usp_GetSiseCurrentKospi_Result" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="ThemaInfo" nillable="true" type="q8:usp_getSiseMainmergecode_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockInfoModelOfusp_GetSiseCurrentKospi_Resultusp_getSiseMainmergecode_ResultYgN18lpt" nillable="true" type="tns:StockInfoModelOfusp_GetSiseCurrentKospi_Resultusp_getSiseMainmergecode_ResultYgN18lpt" />
  <xs:complexType name="StockInfoModelOfusp_GetSiseCurrentKosdaq_Resultusp_getSiseMainmergecode_ResultYgN18lpt">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="StockInfoModelOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock.Finance" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="usp_GetSiseCurrentKosdaq_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" />
          <GenericParameter Name="usp_getSiseMainmergecode_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="StockInfo" nillable="true" type="q9:usp_GetSiseCurrentKosdaq_Result" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="ThemaInfo" nillable="true" type="q10:usp_getSiseMainmergecode_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockInfoModelOfusp_GetSiseCurrentKosdaq_Resultusp_getSiseMainmergecode_ResultYgN18lpt" nillable="true" type="tns:StockInfoModelOfusp_GetSiseCurrentKosdaq_Resultusp_getSiseMainmergecode_ResultYgN18lpt" />
  <xs:complexType name="StockInfoModelOfusp_GetSiseCurrent_Resultusp_getSiseMainmergecode_ResultYgN18lpt">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="StockInfoModelOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock.Finance" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="usp_GetSiseCurrent_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" />
          <GenericParameter Name="usp_getSiseMainmergecode_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="StockInfo" nillable="true" type="q11:usp_GetSiseCurrent_Result" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="ThemaInfo" nillable="true" type="q12:usp_getSiseMainmergecode_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockInfoModelOfusp_GetSiseCurrent_Resultusp_getSiseMainmergecode_ResultYgN18lpt" nillable="true" type="tns:StockInfoModelOfusp_GetSiseCurrent_Resultusp_getSiseMainmergecode_ResultYgN18lpt" />
  <xs:complexType name="StockInfoModelOfusp_GetSiseCurrentKPI_Resultusp_getSiseMainmergecode_ResultYgN18lpt">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="StockInfoModelOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock.Finance" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="usp_GetSiseCurrentKPI_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" />
          <GenericParameter Name="usp_getSiseMainmergecode_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="StockInfo" nillable="true" type="q13:usp_GetSiseCurrentKPI_Result" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="ThemaInfo" nillable="true" type="q14:usp_getSiseMainmergecode_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StockInfoModelOfusp_GetSiseCurrentKPI_Resultusp_getSiseMainmergecode_ResultYgN18lpt" nillable="true" type="tns:StockInfoModelOfusp_GetSiseCurrentKPI_Resultusp_getSiseMainmergecode_ResultYgN18lpt" />
  <xs:complexType name="IndustryCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q15:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="Market" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MenuSeq" type="xs:int" />
          <xs:element minOccurs="0" name="OrderBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PartName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TargetDT" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ViewMode" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IndustryCondition" nillable="true" type="tns:IndustryCondition" />
  <xs:complexType name="IndustryInfoModel">
    <xs:sequence>
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="DetailList" nillable="true" type="q16:ListModelOfusp_GetIndustryDetail_ResultG0lwexyN" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="KosdaqIndustryPart" nillable="true" type="q17:ArrayOft_kosdaq_part" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="KospiIndustryPart" nillable="true" type="q18:ArrayOft_part" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="MarketSearchTop3List" nillable="true" type="q19:ListModelOfMarketResearchModelV5IvmxGQ" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="StockInfo" nillable="true" type="q20:usp_web_getDomesticIndustryIndex_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndustryInfoModel" nillable="true" type="tns:IndustryInfoModel" />
  <xs:complexType name="ArrayOfMarketResearchModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MarketResearchModel" nillable="true" type="tns:MarketResearchModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarketResearchModel" nillable="true" type="tns:ArrayOfMarketResearchModel" />
  <xs:complexType name="MarketResearchModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" base="q21:TAB_MARKET_RESEARCH">
        <xs:sequence>
          <xs:element minOccurs="0" name="MarketName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MarketResearchModel" nillable="true" type="tns:MarketResearchModel" />
  <xs:complexType name="ThemaCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="PartNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThemaCondition" nillable="true" type="tns:ThemaCondition" />
  <xs:complexType name="UpperCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q22:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="Market" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpperCondition" nillable="true" type="tns:UpperCondition" />
  <xs:complexType name="LowerCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q23:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="Market" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LowerCondition" nillable="true" type="tns:LowerCondition" />
  <xs:complexType name="MarketCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q24:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="Market" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MarketCondition" nillable="true" type="tns:MarketCondition" />
  <xs:complexType name="InvestCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q25:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="fromDate" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvestCondition" nillable="true" type="tns:InvestCondition" />
  <xs:complexType name="UsaIndustryCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q26:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="PartName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UsaIndustryCondition" nillable="true" type="tns:UsaIndustryCondition" />
  <xs:complexType name="HpCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Trid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HpCondition" nillable="true" type="tns:HpCondition" />
  <xs:complexType name="RankingCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="RnkTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sect" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RankingCondition" nillable="true" type="tns:RankingCondition" />
</xs:schema>