Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/FinanceService/FinanceService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.Finance" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet.Finance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DiscurssionCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArjCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiscurssionCondition" nillable="true" type="tns:DiscurssionCondition" />
  <xs:complexType name="ConsultCondition">
    <xs:sequence>
      <xs:element minOccurs="0" name="BCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultCondition" nillable="true" type="tns:ConsultCondition" />
</xs:schema>