Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/FinanceService/FinanceService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_web_getStockDiscussionTop9List_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_web_getStockDiscussionTop9List_Result" nillable="true" type="tns:usp_web_getStockDiscussionTop9List_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_web_getStockDiscussionTop9List_Result" nillable="true" type="tns:ArrayOfusp_web_getStockDiscussionTop9List_Result" />
  <xs:complexType name="usp_web_getStockDiscussionTop9List_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASTROMANCY_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMOTICON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUBUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEMO_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PUBLICITY_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="READ_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RECOMMEND_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF_LEVEL" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF_STEP" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REVERSE_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="SOURCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_FLAG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_web_getStockDiscussionTop9List_Result" nillable="true" type="tns:usp_web_getStockDiscussionTop9List_Result" />
  <xs:complexType name="ArrayOfusp_web_getStockConsultTop9List_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_web_getStockConsultTop9List_Result" nillable="true" type="tns:usp_web_getStockConsultTop9List_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_web_getStockConsultTop9List_Result" nillable="true" type="tns:ArrayOfusp_web_getStockConsultTop9List_Result" />
  <xs:complexType name="usp_web_getStockConsultTop9List_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUTUREWIZ_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REF" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF_STEP" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_web_getStockConsultTop9List_Result" nillable="true" type="tns:usp_web_getStockConsultTop9List_Result" />
  <xs:complexType name="ArrayOfTAB_STRATEGY_APPLICATION">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_STRATEGY_APPLICATION" nillable="true" type="tns:TAB_STRATEGY_APPLICATION" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_STRATEGY_APPLICATION" nillable="true" type="tns:ArrayOfTAB_STRATEGY_APPLICATION" />
  <xs:complexType name="TAB_STRATEGY_APPLICATION">
    <xs:sequence>
      <xs:element minOccurs="0" name="BCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHECK_SUB" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FREAD_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MARKET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEMO_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PUBLICITY_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="READ_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RECOMMEND_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF_LEVEL" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF_STEP" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="SUB_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOICE_LINK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isMainBold" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isMainHead" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isMainList" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="isSMS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itype" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_STRATEGY_APPLICATION" nillable="true" type="tns:TAB_STRATEGY_APPLICATION" />
</xs:schema>