Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/FinanceService/FinanceService10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowcafe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowcafe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_web_select_stock_cafe_list_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_web_select_stock_cafe_list_Result" nillable="true" type="tns:usp_web_select_stock_cafe_list_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_web_select_stock_cafe_list_Result" nillable="true" type="tns:ArrayOfusp_web_select_stock_cafe_list_Result" />
  <xs:complexType name="usp_web_select_stock_cafe_list_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="boardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="boardcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cafecode" type="xs:int" />
      <xs:element minOccurs="0" name="cafedomain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="num" type="xs:int" />
      <xs:element minOccurs="0" name="regdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_web_select_stock_cafe_list_Result" nillable="true" type="tns:usp_web_select_stock_cafe_list_Result" />
</xs:schema>