Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/OpinionService/OpinionService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="tblPlanArticle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CLASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COLUMNLIST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTRACTION_TEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMG_BANN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMG_HOTISSUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMG_LIST" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMG_MAIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMG_NEWS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ORDERN" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="ORDERN_HOT" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="ORDERN_HOT_ARTICLE" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="ORDERN_SERIES" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="ORDERN_STORYBANK" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="ORDERN_THEME" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REMRK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REVISE_TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UP_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VIEW_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VW_FROM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VW_TO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblPlanArticle" nillable="true" type="tns:tblPlanArticle" />
  <xs:complexType name="ArrayOfNUP_NEWS_SECTION_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_NEWS_SECTION_SELECT_Result" nillable="true" type="tns:NUP_NEWS_SECTION_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_NEWS_SECTION_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_NEWS_SECTION_SELECT_Result" />
  <xs:complexType name="NUP_NEWS_SECTION_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ARTICLEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENTS_CUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPT_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_DIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_FILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_RRELATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPORTER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROWCNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ROWNUM" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SECTION_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOD_NUM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WOWCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_NEWS_SECTION_SELECT_Result" nillable="true" type="tns:NUP_NEWS_SECTION_SELECT_Result" />
  <xs:complexType name="ArrayOftblPlanArticle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblPlanArticle" nillable="true" type="tns:tblPlanArticle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblPlanArticle" nillable="true" type="tns:ArrayOftblPlanArticle" />
</xs:schema>