Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/NewsQuickMenuService/QuickMenuService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuickMenuService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/QuickMenuService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/QuickMenuService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/QuickMenuService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuickMenuService_GetQuickMenuMypinReporter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuickMenuMypinReporter" />
  </wsdl:message>
  <wsdl:message name="IQuickMenuService_GetQuickMenuMypinReporter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuickMenuMypinReporterResponse" />
  </wsdl:message>
  <wsdl:message name="IQuickMenuService_GetQuickMenuMypinNews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuickMenuMypinNews" />
  </wsdl:message>
  <wsdl:message name="IQuickMenuService_GetQuickMenuMypinNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuickMenuMypinNewsResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuickMenuService">
    <wsdl:operation name="GetQuickMenuMypinReporter">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuickMenuService/GetQuickMenuMypinReporter" message="tns:IQuickMenuService_GetQuickMenuMypinReporter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuickMenuService/GetQuickMenuMypinReporterResponse" message="tns:IQuickMenuService_GetQuickMenuMypinReporter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuickMenuMypinNews">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuickMenuService/GetQuickMenuMypinNews" message="tns:IQuickMenuService_GetQuickMenuMypinNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuickMenuService/GetQuickMenuMypinNewsResponse" message="tns:IQuickMenuService_GetQuickMenuMypinNews_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuickMenuService" type="tns:IQuickMenuService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuickMenuMypinReporter">
      <soap:operation soapAction="http://tempuri.org/IQuickMenuService/GetQuickMenuMypinReporter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuickMenuMypinNews">
      <soap:operation soapAction="http://tempuri.org/IQuickMenuService/GetQuickMenuMypinNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuickMenuService">
    <wsdl:port name="BasicHttpBinding_IQuickMenuService" binding="tns:BasicHttpBinding_IQuickMenuService">
      <soap:address location="http://localhost:8088/NewsCenter/QuickMenuService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>