Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/NewsQuickMenuService/QuickMenuService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/QuickMenuService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
  <xs:element name="GetQuickMenuMypinReporter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="topN" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuickMenuMypinReporterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="GetQuickMenuMypinReporterResult" nillable="true" type="q1:ArrayOfNUP_QUICKMENU_MYPIN_REPORTER_SELECT_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuickMenuMypinNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="topN" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuickMenuMypinNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="GetQuickMenuMypinNewsResult" nillable="true" type="q2:ArrayOfNUP_QUICKMENU_MYPIN_NEWS_SELECT_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>