Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/NewsCmtManageService/NewsCmtManage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewsCmtManage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsCmtManageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsCmtManageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsCmtManageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsCmtManageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsCmtManageService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsCmtManageService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsCmtManageService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCmt" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsCmtManageService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INewsCmtManageService_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="INewsCmtManageService_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsCmtManageService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="INewsCmtManageService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="INewsCmtManageService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="INewsCmtManageService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="INewsCmtManageService_GetCommentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentList" />
  </wsdl:message>
  <wsdl:message name="INewsCmtManageService_GetCommentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsCmtManageService_SaveComment_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveComment" />
  </wsdl:message>
  <wsdl:message name="INewsCmtManageService_SaveComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCommentResponse" />
  </wsdl:message>
  <wsdl:message name="INewsCmtManageService_DeleteComment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComment" />
  </wsdl:message>
  <wsdl:message name="INewsCmtManageService_DeleteComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCommentResponse" />
  </wsdl:message>
  <wsdl:portType name="INewsCmtManageService">
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsCmtManageService/GetList" message="tns:INewsCmtManageService_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsCmtManageService/GetListResponse" message="tns:INewsCmtManageService_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsCmtManageService/Delete" message="tns:INewsCmtManageService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsCmtManageService/DeleteResponse" message="tns:INewsCmtManageService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsCmtManageService/Update" message="tns:INewsCmtManageService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsCmtManageService/UpdateResponse" message="tns:INewsCmtManageService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsCmtManageService/GetCommentList" message="tns:INewsCmtManageService_GetCommentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsCmtManageService/GetCommentListResponse" message="tns:INewsCmtManageService_GetCommentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveComment">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsCmtManageService/SaveComment" message="tns:INewsCmtManageService_SaveComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsCmtManageService/SaveCommentResponse" message="tns:INewsCmtManageService_SaveComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsCmtManageService/DeleteComment" message="tns:INewsCmtManageService_DeleteComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsCmtManageService/DeleteCommentResponse" message="tns:INewsCmtManageService_DeleteComment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INewsCmtManageService" type="tns:INewsCmtManageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/INewsCmtManageService/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/INewsCmtManageService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/INewsCmtManageService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentList">
      <soap:operation soapAction="http://tempuri.org/INewsCmtManageService/GetCommentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveComment">
      <soap:operation soapAction="http://tempuri.org/INewsCmtManageService/SaveComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <soap:operation soapAction="http://tempuri.org/INewsCmtManageService/DeleteComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsCmtManage">
    <wsdl:port name="BasicHttpBinding_INewsCmtManageService" binding="tns:BasicHttpBinding_INewsCmtManageService">
      <soap:address location="http://localhost:8088/NewsCenter/NewsCmtManageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>