Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/CharacterStockService/CharacterStockService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock.Finance" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock.Finance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Finance/CharacterStockService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
  <xs:import schemaLocation="http://localhost:8088/Finance/CharacterStockService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" />
  <xs:complexType name="ArrayOfCharacterStockModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CharacterStockModel" nillable="true" type="tns:CharacterStockModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCharacterStockModel" nillable="true" type="tns:ArrayOfCharacterStockModel" />
  <xs:complexType name="CharacterStockModel">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="NewsData" nillable="true" type="q1:NUP_NEWS_SECTION_SELECT_Result" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" minOccurs="0" name="StockData" nillable="true" type="q2:usp_GetStockPrice_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CharacterStockModel" nillable="true" type="tns:CharacterStockModel" />
</xs:schema>