Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/CharacterStockService/CharacterStockService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.editVOD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.editVOD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_byStockCodeGetVOD_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_byStockCodeGetVOD_Result" nillable="true" type="tns:usp_byStockCodeGetVOD_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_byStockCodeGetVOD_Result" nillable="true" type="tns:ArrayOfusp_byStockCodeGetVOD_Result" />
  <xs:complexType name="usp_byStockCodeGetVOD_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image_S" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Writer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="delflag" type="xs:int" />
      <xs:element minOccurs="0" name="insdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="instime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stockcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stockname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uptDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vodListID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="vodNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_byStockCodeGetVOD_Result" nillable="true" type="tns:usp_byStockCodeGetVOD_Result" />
</xs:schema>