Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/FinanceService/FinanceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.editVOD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.editVOD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_web_vodTop6List_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_web_vodTop6List_Result" nillable="true" type="tns:usp_web_vodTop6List_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_web_vodTop6List_Result" nillable="true" type="tns:ArrayOfusp_web_vodTop6List_Result" />
  <xs:complexType name="usp_web_vodTop6List_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTICLEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CTCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DELFLAG" type="xs:int" />
      <xs:element minOccurs="0" name="DISP_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDITFILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDITFOLDER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_S" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OPERATOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STOCKNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUBJECT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UPTDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VODLISTID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VODNUM" type="xs:int" />
      <xs:element minOccurs="0" name="WRITER" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_web_vodTop6List_Result" nillable="true" type="tns:usp_web_vodTop6List_Result" />
  <xs:complexType name="ArrayOfusp_web_listSubTopvod6_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_web_listSubTopvod6_Result" nillable="true" type="tns:usp_web_listSubTopvod6_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_web_listSubTopvod6_Result" nillable="true" type="tns:ArrayOfusp_web_listSubTopvod6_Result" />
  <xs:complexType name="usp_web_listSubTopvod6_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image_S" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Writer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ctName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="delflag" type="xs:int" />
      <xs:element minOccurs="0" name="insdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="instime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uptDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vodListID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="vodNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_web_listSubTopvod6_Result" nillable="true" type="tns:usp_web_listSubTopvod6_Result" />
  <xs:complexType name="ArrayOfusp_web_vodList_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_web_vodList_Result" nillable="true" type="tns:usp_web_vodList_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_web_vodList_Result" nillable="true" type="tns:ArrayOfusp_web_vodList_Result" />
  <xs:complexType name="usp_web_vodList_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image_S" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Writer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ctName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ctcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="delflag" type="xs:int" />
      <xs:element minOccurs="0" name="insdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stockcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stockname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uptDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vodListID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="vodNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_web_vodList_Result" nillable="true" type="tns:usp_web_vodList_Result" />
  <xs:complexType name="ArrayOfusp_web_getInvestVodList_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_web_getInvestVodList_Result" nillable="true" type="tns:usp_web_getInvestVodList_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_web_getInvestVodList_Result" nillable="true" type="tns:ArrayOfusp_web_getInvestVodList_Result" />
  <xs:complexType name="usp_web_getInvestVodList_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EditFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image_S" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Writer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ctName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="delflag" type="xs:int" />
      <xs:element minOccurs="0" name="insdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="instime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uptDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vodListID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="vodNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_web_getInvestVodList_Result" nillable="true" type="tns:usp_web_getInvestVodList_Result" />
</xs:schema>