Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/FinanceService/FinanceService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArticleStock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArticleStock" nillable="true" type="tns:ArticleStock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticleStock" nillable="true" type="tns:ArrayOfArticleStock" />
  <xs:complexType name="ArticleStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticleDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ArticleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prompt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArticleStock" nillable="true" type="tns:ArticleStock" />
  <xs:complexType name="ArrayOfNUP_NEWS_SECTION_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_NEWS_SECTION_SELECT_Result" nillable="true" type="tns:NUP_NEWS_SECTION_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_NEWS_SECTION_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_NEWS_SECTION_SELECT_Result" />
  <xs:complexType name="NUP_NEWS_SECTION_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ARTICLEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENTS_CUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_DIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_FILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROWCNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ROWNUM" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SECTION_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="THUMBNAIL_FILENM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOD_NUM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WOWCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_NEWS_SECTION_SELECT_Result" nillable="true" type="tns:NUP_NEWS_SECTION_SELECT_Result" />
</xs:schema>