Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/MemberJoinService/JoinService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/Member/JoinService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" />
  <xs:import schemaLocation="http://localhost:8088/Member/JoinService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8088/Member/JoinService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" />
  <xs:element name="JoinCheckIpin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="encryptedData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parameter1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parameter2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parameter3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinCheckIpinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="JoinCheckIpinResult" nillable="true" type="q1:JoinCheckIpinResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinCheckSms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encryptedData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinCheckSmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="JoinCheckSmsResult" nillable="true" type="q2:JoinCheckSmsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinCheckForeign">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ssno1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ssno2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinCheckForeignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="JoinCheckForeignResult" nillable="true" type="q3:JoinCheckForeignResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistUserIpin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="request" nillable="true" type="q4:RegistUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistUserIpinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="RegistUserIpinResult" nillable="true" type="q5:RegistUserResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistUserSms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="request" nillable="true" type="q6:RegistUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistUserSmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="RegistUserSmsResult" nillable="true" type="q7:RegistUserResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistUserForeign">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="request" nillable="true" type="q8:RegistUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistUserForeignResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="RegistUserForeignResult" nillable="true" type="q9:RegistUserResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistUserCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="request" nillable="true" type="q10:RegistUserRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistUserCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="RegistUserCompanyResult" nillable="true" type="q11:RegistUserResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSido">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSidoResult" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGugun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sido" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGugunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGugunResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchKeyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" minOccurs="0" name="GetAddressResult" nillable="true" type="q14:ArrayOftblPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserIdDuplicated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserIdDuplicatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserIdDuplicatedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNickNameDuplicated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsNickNameDuplicatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsNickNameDuplicatedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileSendSMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mobile1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobile3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileSendSMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MobileSendSMSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ssno1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ssno2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ssno3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isMobile" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="EmailAuthResult" nillable="true" type="q15:EmailAuthResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailAuthComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNumber" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailAuthCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill.Member" minOccurs="0" name="EmailAuthCompleteResult" nillable="true" type="q16:EmailAuthCompleteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillingServiceTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillingServiceTestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailSendTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mailCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromEmail" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contents" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmailSendTestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>