Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/MemberJoinService/JoinService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db89.wowbill" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftblPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblPost" nillable="true" type="tns:tblPost" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblPost" nillable="true" type="tns:ArrayOftblPost" />
  <xs:complexType name="tblPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="bungi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gugun" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postId" type="xs:int" />
      <xs:element minOccurs="0" name="sido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zipcode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblPost" nillable="true" type="tns:tblPost" />
</xs:schema>