Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/MyActiveService/MyActiveService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftblMyFavoriteJongMok">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblMyFavoriteJongMok" nillable="true" type="tns:tblMyFavoriteJongMok" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblMyFavoriteJongMok" nillable="true" type="tns:ArrayOftblMyFavoriteJongMok" />
  <xs:complexType name="tblMyFavoriteJongMok">
    <xs:sequence>
      <xs:element minOccurs="0" name="Groupid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="arj_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="banner" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="capital" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="chg_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="curr_price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="data_day" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="final_price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="foreinerbuy" type="xs:long" />
      <xs:element minOccurs="0" name="gubun" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="high_price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="highest_price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idx" type="xs:int" />
      <xs:element minOccurs="0" name="init_price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="k_gbn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="list_num" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="list_price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="list_sum" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="low_price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="lowest_price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="mkt_halt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="net_chg" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="net_turnover" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="net_vol" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="orderNo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="orgbuy" type="xs:long" />
      <xs:element minOccurs="0" name="part_code1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="part_code2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stock_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stock_nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stock_wanname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stockcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usernumber" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblMyFavoriteJongMok" nillable="true" type="tns:tblMyFavoriteJongMok" />
  <xs:complexType name="ArrayOftblStockBatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblStockBatch" nillable="true" type="tns:tblStockBatch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblStockBatch" nillable="true" type="tns:ArrayOftblStockBatch" />
  <xs:complexType name="tblStockBatch">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AmountScale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AroundReg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BPS" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BPS_Expect" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BadFaith" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BasePrice" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BasePriceChange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BidHigh" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BidLow" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Capital" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Class_L" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Class_M" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Class_S" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClosePrice" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CloseType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DangerSign" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dispose" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EPS" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EPS_Expect" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventEndDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventStartDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptOpen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExistEndDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExistStartDT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Industry_L" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Industry_M" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Industry_S" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InsertDT" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IssuePrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KOSDAQ150" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KOSPI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KOSPI100" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KOSPI50" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KOSTAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KP200Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KRX100" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LimitHigh" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LimitLow" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ListCount" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ListDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LockType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LossType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Market" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PBR" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PER" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ParChange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PeopleItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PreferenceItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SRI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SettlementDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareIndex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShareMoney" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ShareRate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Share_Expect" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StockCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalMoney" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TotalVol" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TradeDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeStop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValuationPrice" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WarningType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="engName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="korName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblStockBatch" nillable="true" type="tns:tblStockBatch" />
  <xs:complexType name="ArrayOfTAB_MY_STOCK">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_MY_STOCK" nillable="true" type="tns:TAB_MY_STOCK" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_MY_STOCK" nillable="true" type="tns:ArrayOfTAB_MY_STOCK" />
  <xs:complexType name="TAB_MY_STOCK">
    <xs:sequence>
      <xs:element minOccurs="0" name="BUY_PRICE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="QTY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="STOCKCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERNUMBER" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="k_stock_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="k_stock_wanname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="now_price" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_MY_STOCK" nillable="true" type="tns:TAB_MY_STOCK" />
</xs:schema>