Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/MyActiveService/MyActiveService9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wownet" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/MyPage/MyActiveService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/MyPage/MyActiveService.svc?xsd=xsd16" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowcafe" />
  <xs:complexType name="ArrayOfTAB_SCRAP_CATEGORY">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_SCRAP_CATEGORY" nillable="true" type="tns:TAB_SCRAP_CATEGORY" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_SCRAP_CATEGORY" nillable="true" type="tns:ArrayOfTAB_SCRAP_CATEGORY" />
  <xs:complexType name="TAB_SCRAP_CATEGORY">
    <xs:sequence>
      <xs:element minOccurs="0" name="FOLDER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUBUN" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_SCRAP_CATEGORY" nillable="true" type="tns:TAB_SCRAP_CATEGORY" />
  <xs:complexType name="ArrayOfTAB_SCRAP_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_SCRAP_MENU" nillable="true" type="tns:TAB_SCRAP_MENU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_SCRAP_MENU" nillable="true" type="tns:ArrayOfTAB_SCRAP_MENU" />
  <xs:complexType name="TAB_SCRAP_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" name="DISP_ORDER" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="FOLDER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSEQ" type="xs:int" />
      <xs:element minOccurs="0" name="PSEQ" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_SCRAP_MENU" nillable="true" type="tns:TAB_SCRAP_MENU" />
  <xs:complexType name="MyPinCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="GroupSeq" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="SearchText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MyPinCondition" nillable="true" type="tns:MyPinCondition" />
  <xs:complexType name="ArrayOfJOIN_TAB_SCRAP_CONTENT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JOIN_TAB_SCRAP_CONTENT" nillable="true" type="tns:JOIN_TAB_SCRAP_CONTENT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJOIN_TAB_SCRAP_CONTENT" nillable="true" type="tns:ArrayOfJOIN_TAB_SCRAP_CONTENT" />
  <xs:complexType name="JOIN_TAB_SCRAP_CONTENT">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TAB_SCRAP_CONTENT">
        <xs:sequence>
          <xs:element minOccurs="0" name="FOLDER_NAME" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HashTag" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JOIN_TAB_SCRAP_CONTENT" nillable="true" type="tns:JOIN_TAB_SCRAP_CONTENT" />
  <xs:complexType name="TAB_SCRAP_CONTENT">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArticleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BSEQ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRO_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SCRAPDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_SCRAP_CONTENT" nillable="true" type="tns:TAB_SCRAP_CONTENT" />
  <xs:complexType name="MyWriteCollectCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q2:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="LoginId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MyWriteCollectCondition" nillable="true" type="tns:MyWriteCollectCondition" />
  <xs:complexType name="ArrayOfTAB_CONSULTATION_APPLICATION">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_CONSULTATION_APPLICATION" nillable="true" type="tns:TAB_CONSULTATION_APPLICATION" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_CONSULTATION_APPLICATION" nillable="true" type="tns:ArrayOfTAB_CONSULTATION_APPLICATION" />
  <xs:complexType name="TAB_CONSULTATION_APPLICATION">
    <xs:sequence>
      <xs:element minOccurs="0" name="AGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AVERAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BCOST" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BEST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BEST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BROOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BSEQ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BUY_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAFE_REF" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CAREER" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="CHARACTER" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="CNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CRITICISM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FUTUREWIZ_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GRAVITY" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="INVESTMENT_OPTION" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ITEM_GRAVITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAKET" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="MEMO_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MSN_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MY_WRITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PUBLICITY_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="READ_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RECOMMEND_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF_STEP" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RELIANCE" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SCALE" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="SEX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VODID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VODTYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_CONSULTATION_APPLICATION" nillable="true" type="tns:TAB_CONSULTATION_APPLICATION" />
  <xs:complexType name="ArrayOfTAB_BOARD_AA">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TAB_BOARD_AA" nillable="true" type="tns:TAB_BOARD_AA" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTAB_BOARD_AA" nillable="true" type="tns:ArrayOfTAB_BOARD_AA" />
  <xs:complexType name="TAB_BOARD_AA">
    <xs:sequence>
      <xs:element minOccurs="0" name="ASTROMANCY_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ASTROMANCY_NUM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMOTICON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUBUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MEMO_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MY_WRITE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PUBLICITY_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="READ_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RECOMMEND_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF_LEVEL" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REF_STEP" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REG_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REPORT_CODE_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REVERSE_CNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
      <xs:element minOccurs="0" name="SOURCE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEMP_GBN" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TEMP_NUM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_FLAG" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TAB_BOARD_AA" nillable="true" type="tns:TAB_BOARD_AA" />
  <xs:complexType name="ArrayOfFN_JOIN_CAFE_LIST_New_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FN_JOIN_CAFE_LIST_New_Result" nillable="true" type="tns:FN_JOIN_CAFE_LIST_New_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFN_JOIN_CAFE_LIST_New_Result" nillable="true" type="tns:ArrayOfFN_JOIN_CAFE_LIST_New_Result" />
  <xs:complexType name="FN_JOIN_CAFE_LIST_New_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CAFECODE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CAFEDOMAIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAFEEXPLANATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAFEMASTER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAFENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GRADELEVEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GRADENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JOINDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MEMBERCOUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="OPEN_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RANK" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="REGDATE" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowcafe" minOccurs="0" name="TopNewBoardList" nillable="true" type="q3:ArrayOfusp_Select_TopNewBoard_Result" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowcafe" minOccurs="0" name="TopnewBoardSakalList" nillable="true" type="q4:ArrayOfusp_Select_TopNewBoard_sakal_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FN_JOIN_CAFE_LIST_New_Result" nillable="true" type="tns:FN_JOIN_CAFE_LIST_New_Result" />
  <xs:complexType name="ArrayOfNUP_MY_LECTURES_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_MY_LECTURES_SELECT_Result" nillable="true" type="tns:NUP_MY_LECTURES_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_MY_LECTURES_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_MY_LECTURES_SELECT_Result" />
  <xs:complexType name="NUP_MY_LECTURES_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUBUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LECTURES_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MSEQ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PARTNER_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLACE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SEQ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_MY_LECTURES_SELECT_Result" nillable="true" type="tns:NUP_MY_LECTURES_SELECT_Result" />
</xs:schema>