Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/MyActiveService/MyActiveService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db51.ARSConsult" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db51.ARSConsult" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/MyPage/MyActiveService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:complexType name="ScLogCondition">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" base="q1:BaseCondition">
        <xs:sequence>
          <xs:element minOccurs="0" name="Msg" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SearchType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ScLogCondition" nillable="true" type="tns:ScLogCondition" />
  <xs:complexType name="ArrayOfNUP_SC_LOG_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_SC_LOG_SELECT_Result" nillable="true" type="tns:NUP_SC_LOG_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_SC_LOG_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_SC_LOG_SELECT_Result" />
  <xs:complexType name="NUP_SC_LOG_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ROWCNT" type="xs:int" />
      <xs:element minOccurs="0" name="ROWNUM" type="xs:long" />
      <xs:element minOccurs="0" name="TR_CALLBACK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TR_ETC1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TR_ETC3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TR_ETC4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TR_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TR_MSG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TR_RSLTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TR_SENDDATE" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_SC_LOG_SELECT_Result" nillable="true" type="tns:NUP_SC_LOG_SELECT_Result" />
</xs:schema>