Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/MyActiveService/MyActiveService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowcafe" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowcafe" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfusp_Select_TopNewBoard_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_Select_TopNewBoard_Result" nillable="true" type="tns:usp_Select_TopNewBoard_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_Select_TopNewBoard_Result" nillable="true" type="tns:ArrayOfusp_Select_TopNewBoard_Result" />
  <xs:complexType name="usp_Select_TopNewBoard_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num" type="xs:int" />
      <xs:element minOccurs="0" name="ReadCount" type="xs:int" />
      <xs:element minOccurs="0" name="RegDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="boardcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="listflag" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="sinceH" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Select_TopNewBoard_Result" nillable="true" type="tns:usp_Select_TopNewBoard_Result" />
  <xs:complexType name="ArrayOfusp_Select_TopNewBoard_sakal_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="usp_Select_TopNewBoard_sakal_Result" nillable="true" type="tns:usp_Select_TopNewBoard_sakal_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfusp_Select_TopNewBoard_sakal_Result" nillable="true" type="tns:ArrayOfusp_Select_TopNewBoard_sakal_Result" />
  <xs:complexType name="usp_Select_TopNewBoard_sakal_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoardCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BoardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListFlag" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Num" type="xs:int" />
      <xs:element minOccurs="0" name="ReadCount" type="xs:int" />
      <xs:element minOccurs="0" name="RegDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sinceH" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="usp_Select_TopNewBoard_sakal_Result" nillable="true" type="tns:usp_Select_TopNewBoard_sakal_Result" />
</xs:schema>