Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/TextAndLinkService/TextAndLinkService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/TextAndLinkService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.TextAndLink" />
  <xs:complexType name="ListModelOfJOIN_TXTNLINK_CODEHNYAxlfz">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="JOIN_TXTNLINK_CODE" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.TextAndLink" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.TextAndLink" minOccurs="0" name="ListData" nillable="true" type="q1:ArrayOfJOIN_TXTNLINK_CODE" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.TextAndLink" minOccurs="0" name="ListData2" nillable="true" type="q2:ArrayOfJOIN_TXTNLINK_CODE" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfJOIN_TXTNLINK_CODEHNYAxlfz" nillable="true" type="tns:ListModelOfJOIN_TXTNLINK_CODEHNYAxlfz" />
  <xs:complexType name="LoginUser">
    <xs:sequence>
      <xs:element name="_x003C_AdminSeq_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Ip_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LastLoginDate_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_LoginId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MenuList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfAdminMenuItem" />
      <xs:element name="_x003C_PartCodeName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginUser" nillable="true" type="tns:LoginUser" />
  <xs:complexType name="ArrayOfAdminMenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminMenuItem" nillable="true" type="tns:AdminMenuItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdminMenuItem" nillable="true" type="tns:ArrayOfAdminMenuItem" />
  <xs:complexType name="AdminMenuItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Href" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRead" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWrite" type="xs:boolean" />
      <xs:element minOccurs="0" name="MenuSeq" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminMenuItem" nillable="true" type="tns:AdminMenuItem" />
</xs:schema>