Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/NewsMainService/NewsMainService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/NewsMainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/NewsMainService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetNewsMainNewsstand">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainNewsstandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetNewsMainNewsstandResult" nillable="true" type="q1:ListModelOfNUP_NEWS_MAIN_NEWSSTAND_SELECT_Resultp95ZFpkp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainOpinionList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainOpinionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetNewsMainOpinionListResult" nillable="true" type="q2:ListModelOfNUP_NEWS_MAIN_OPINION_SELECT_Resultp95ZFpkp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainMarketIssueList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainMarketIssueListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetNewsMainMarketIssueListResult" nillable="true" type="q3:ListModelOfNUP_NEWS_MAIN_MARKET_ISSUE_SELECT_Resultp95ZFpkp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainEntSpoList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchGubun" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="articleIdList" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainEntSpoListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetNewsMainEntSpoListResult" nillable="true" type="q5:ListModelOfNUP_NEWS_MAIN_ENT_SPO_SELECT_Resultp95ZFpkp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainVodList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchGubun" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="topN" nillable="true" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="articleIdList" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainVodListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetNewsMainVodListResult" nillable="true" type="q7:ListModelOfNUP_NEWS_MAIN_VOD_SELECT_Resultp95ZFpkp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainCardList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchGubun" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="topN" nillable="true" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="articleIdList" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainCardListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetNewsMainCardListResult" nillable="true" type="q9:ListModelOfNUP_NEWS_MAIN_CARD_SELECT_Resultp95ZFpkp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainSectionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchGubun" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="topN" nillable="true" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="articleIdList" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainSectionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetNewsMainSectionListResult" nillable="true" type="q11:ListModelOfNUP_NEWS_MAIN_SECTION_SELECT_Resultp95ZFpkp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainYList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="articleIdList" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainYListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetNewsMainYListResult" nillable="true" type="q13:ListModelOfNUP_NEWS_MAIN_LIST_Y_SELECT_Resultp95ZFpkp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainMarketList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchGubun" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="topN" type="xs:int" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="articleIdList" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainMarketListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetNewsMainMarketListResult" nillable="true" type="q15:ListModelOfNUP_NEWS_MAIN_MARKET_SELECT_Resultp95ZFpkp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainLandList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsMainLandListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" minOccurs="0" name="GetNewsMainLandListResult" nillable="true" type="q16:ListModelOfNUP_NEWS_MAIN_LAND_SELECT_Resultp95ZFpkp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>