Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/NewsMainService/NewsMainService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewsMainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsMainService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsMainService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsMainService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsMainService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
      <xsd:import schemaLocation="http://localhost:8088/NewsCenter/NewsMainService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INewsMainService_GetNewsMainNewsstand_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainNewsstand" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainNewsstand_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainNewsstandResponse" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainOpinionList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainOpinionList" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainOpinionList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainOpinionListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainMarketIssueList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainMarketIssueList" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainMarketIssueList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainMarketIssueListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainEntSpoList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainEntSpoList" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainEntSpoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainEntSpoListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainVodList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainVodList" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainVodList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainVodListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainCardList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainCardList" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainCardList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainCardListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainSectionList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainSectionList" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainSectionList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainSectionListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainYList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainYList" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainYList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainYListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainMarketList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainMarketList" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainMarketList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainMarketListResponse" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainLandList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainLandList" />
  </wsdl:message>
  <wsdl:message name="INewsMainService_GetNewsMainLandList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsMainLandListResponse" />
  </wsdl:message>
  <wsdl:portType name="INewsMainService">
    <wsdl:operation name="GetNewsMainNewsstand">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainNewsstand" message="tns:INewsMainService_GetNewsMainNewsstand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainNewsstandResponse" message="tns:INewsMainService_GetNewsMainNewsstand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainOpinionList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainOpinionList" message="tns:INewsMainService_GetNewsMainOpinionList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainOpinionListResponse" message="tns:INewsMainService_GetNewsMainOpinionList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainMarketIssueList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainMarketIssueList" message="tns:INewsMainService_GetNewsMainMarketIssueList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainMarketIssueListResponse" message="tns:INewsMainService_GetNewsMainMarketIssueList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainEntSpoList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainEntSpoList" message="tns:INewsMainService_GetNewsMainEntSpoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainEntSpoListResponse" message="tns:INewsMainService_GetNewsMainEntSpoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainVodList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainVodList" message="tns:INewsMainService_GetNewsMainVodList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainVodListResponse" message="tns:INewsMainService_GetNewsMainVodList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainCardList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainCardList" message="tns:INewsMainService_GetNewsMainCardList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainCardListResponse" message="tns:INewsMainService_GetNewsMainCardList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainSectionList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainSectionList" message="tns:INewsMainService_GetNewsMainSectionList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainSectionListResponse" message="tns:INewsMainService_GetNewsMainSectionList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainYList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainYList" message="tns:INewsMainService_GetNewsMainYList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainYListResponse" message="tns:INewsMainService_GetNewsMainYList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainMarketList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainMarketList" message="tns:INewsMainService_GetNewsMainMarketList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainMarketListResponse" message="tns:INewsMainService_GetNewsMainMarketList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainLandList">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainLandList" message="tns:INewsMainService_GetNewsMainLandList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsMainService/GetNewsMainLandListResponse" message="tns:INewsMainService_GetNewsMainLandList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INewsMainService" type="tns:INewsMainService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNewsMainNewsstand">
      <soap:operation soapAction="http://tempuri.org/INewsMainService/GetNewsMainNewsstand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainOpinionList">
      <soap:operation soapAction="http://tempuri.org/INewsMainService/GetNewsMainOpinionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainMarketIssueList">
      <soap:operation soapAction="http://tempuri.org/INewsMainService/GetNewsMainMarketIssueList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainEntSpoList">
      <soap:operation soapAction="http://tempuri.org/INewsMainService/GetNewsMainEntSpoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainVodList">
      <soap:operation soapAction="http://tempuri.org/INewsMainService/GetNewsMainVodList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainCardList">
      <soap:operation soapAction="http://tempuri.org/INewsMainService/GetNewsMainCardList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainSectionList">
      <soap:operation soapAction="http://tempuri.org/INewsMainService/GetNewsMainSectionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainYList">
      <soap:operation soapAction="http://tempuri.org/INewsMainService/GetNewsMainYList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainMarketList">
      <soap:operation soapAction="http://tempuri.org/INewsMainService/GetNewsMainMarketList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsMainLandList">
      <soap:operation soapAction="http://tempuri.org/INewsMainService/GetNewsMainLandList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsMainService">
    <wsdl:port name="BasicHttpBinding_INewsMainService" binding="tns:BasicHttpBinding_INewsMainService">
      <soap:address location="http://localhost:8088/NewsCenter/NewsMainService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>