Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/HubBusinessService/HubBusinessService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNTB_HUB_BUSINESS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NTB_HUB_BUSINESS" nillable="true" type="tns:NTB_HUB_BUSINESS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNTB_HUB_BUSINESS" nillable="true" type="tns:ArrayOfNTB_HUB_BUSINESS" />
  <xs:complexType name="NTB_HUB_BUSINESS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HUB_IMAGE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HUB_URL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOD_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OPEN_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REG_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="REG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SEQ" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NTB_HUB_BUSINESS" nillable="true" type="tns:NTB_HUB_BUSINESS" />
</xs:schema>