Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/NewsMainService/NewsMainService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8088/NewsCenter/NewsMainService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
  <xs:complexType name="ListModelOfNUP_NEWS_MAIN_NEWSSTAND_SELECT_Resultp95ZFpkp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NUP_NEWS_MAIN_NEWSSTAND_SELECT_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData" nillable="true" type="q1:ArrayOfNUP_NEWS_MAIN_NEWSSTAND_SELECT_Result" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData2" nillable="true" type="q2:ArrayOfNUP_NEWS_MAIN_NEWSSTAND_SELECT_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNUP_NEWS_MAIN_NEWSSTAND_SELECT_Resultp95ZFpkp" nillable="true" type="tns:ListModelOfNUP_NEWS_MAIN_NEWSSTAND_SELECT_Resultp95ZFpkp" />
  <xs:complexType name="ListModelOfNUP_NEWS_MAIN_OPINION_SELECT_Resultp95ZFpkp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NUP_NEWS_MAIN_OPINION_SELECT_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData" nillable="true" type="q3:ArrayOfNUP_NEWS_MAIN_OPINION_SELECT_Result" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData2" nillable="true" type="q4:ArrayOfNUP_NEWS_MAIN_OPINION_SELECT_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNUP_NEWS_MAIN_OPINION_SELECT_Resultp95ZFpkp" nillable="true" type="tns:ListModelOfNUP_NEWS_MAIN_OPINION_SELECT_Resultp95ZFpkp" />
  <xs:complexType name="ListModelOfNUP_NEWS_MAIN_MARKET_ISSUE_SELECT_Resultp95ZFpkp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NUP_NEWS_MAIN_MARKET_ISSUE_SELECT_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData" nillable="true" type="q5:ArrayOfNUP_NEWS_MAIN_MARKET_ISSUE_SELECT_Result" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData2" nillable="true" type="q6:ArrayOfNUP_NEWS_MAIN_MARKET_ISSUE_SELECT_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNUP_NEWS_MAIN_MARKET_ISSUE_SELECT_Resultp95ZFpkp" nillable="true" type="tns:ListModelOfNUP_NEWS_MAIN_MARKET_ISSUE_SELECT_Resultp95ZFpkp" />
  <xs:complexType name="ListModelOfNUP_NEWS_MAIN_ENT_SPO_SELECT_Resultp95ZFpkp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NUP_NEWS_MAIN_ENT_SPO_SELECT_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData" nillable="true" type="q7:ArrayOfNUP_NEWS_MAIN_ENT_SPO_SELECT_Result" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData2" nillable="true" type="q8:ArrayOfNUP_NEWS_MAIN_ENT_SPO_SELECT_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNUP_NEWS_MAIN_ENT_SPO_SELECT_Resultp95ZFpkp" nillable="true" type="tns:ListModelOfNUP_NEWS_MAIN_ENT_SPO_SELECT_Resultp95ZFpkp" />
  <xs:complexType name="ListModelOfNUP_NEWS_MAIN_VOD_SELECT_Resultp95ZFpkp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NUP_NEWS_MAIN_VOD_SELECT_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData" nillable="true" type="q9:ArrayOfNUP_NEWS_MAIN_VOD_SELECT_Result" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData2" nillable="true" type="q10:ArrayOfNUP_NEWS_MAIN_VOD_SELECT_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNUP_NEWS_MAIN_VOD_SELECT_Resultp95ZFpkp" nillable="true" type="tns:ListModelOfNUP_NEWS_MAIN_VOD_SELECT_Resultp95ZFpkp" />
  <xs:complexType name="ListModelOfNUP_NEWS_MAIN_CARD_SELECT_Resultp95ZFpkp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NUP_NEWS_MAIN_CARD_SELECT_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData" nillable="true" type="q11:ArrayOfNUP_NEWS_MAIN_CARD_SELECT_Result" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData2" nillable="true" type="q12:ArrayOfNUP_NEWS_MAIN_CARD_SELECT_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNUP_NEWS_MAIN_CARD_SELECT_Resultp95ZFpkp" nillable="true" type="tns:ListModelOfNUP_NEWS_MAIN_CARD_SELECT_Resultp95ZFpkp" />
  <xs:complexType name="ListModelOfNUP_NEWS_MAIN_SECTION_SELECT_Resultp95ZFpkp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NUP_NEWS_MAIN_SECTION_SELECT_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData" nillable="true" type="q13:ArrayOfNUP_NEWS_MAIN_SECTION_SELECT_Result" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData2" nillable="true" type="q14:ArrayOfNUP_NEWS_MAIN_SECTION_SELECT_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNUP_NEWS_MAIN_SECTION_SELECT_Resultp95ZFpkp" nillable="true" type="tns:ListModelOfNUP_NEWS_MAIN_SECTION_SELECT_Resultp95ZFpkp" />
  <xs:complexType name="ListModelOfNUP_NEWS_MAIN_LIST_Y_SELECT_Resultp95ZFpkp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NUP_NEWS_MAIN_LIST_Y_SELECT_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData" nillable="true" type="q15:ArrayOfNUP_NEWS_MAIN_LIST_Y_SELECT_Result" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData2" nillable="true" type="q16:ArrayOfNUP_NEWS_MAIN_LIST_Y_SELECT_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNUP_NEWS_MAIN_LIST_Y_SELECT_Resultp95ZFpkp" nillable="true" type="tns:ListModelOfNUP_NEWS_MAIN_LIST_Y_SELECT_Resultp95ZFpkp" />
  <xs:complexType name="ListModelOfNUP_NEWS_MAIN_MARKET_SELECT_Resultp95ZFpkp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NUP_NEWS_MAIN_MARKET_SELECT_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData" nillable="true" type="q17:ArrayOfNUP_NEWS_MAIN_MARKET_SELECT_Result" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData2" nillable="true" type="q18:ArrayOfNUP_NEWS_MAIN_MARKET_SELECT_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNUP_NEWS_MAIN_MARKET_SELECT_Resultp95ZFpkp" nillable="true" type="tns:ListModelOfNUP_NEWS_MAIN_MARKET_SELECT_Resultp95ZFpkp" />
  <xs:complexType name="ListModelOfNUP_NEWS_MAIN_LAND_SELECT_Resultp95ZFpkp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ListModelOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="NUP_NEWS_MAIN_LAND_SELECT_Result" Namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="AddInfoInt1" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt2" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoInt3" type="xs:int" />
      <xs:element minOccurs="0" name="AddInfoString1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddInfoString3" nillable="true" type="xs:string" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData" nillable="true" type="q19:ArrayOfNUP_NEWS_MAIN_LAND_SELECT_Result" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" minOccurs="0" name="ListData2" nillable="true" type="q20:ArrayOfNUP_NEWS_MAIN_LAND_SELECT_Result" />
      <xs:element minOccurs="0" name="TotalDataCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListModelOfNUP_NEWS_MAIN_LAND_SELECT_Resultp95ZFpkp" nillable="true" type="tns:ListModelOfNUP_NEWS_MAIN_LAND_SELECT_Resultp95ZFpkp" />
</xs:schema>