Wow.Tv.FrontWeb/Wow.Tv.FrontWebMobile/Connected Services/NewsMainService/NewsMainService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNUP_NEWS_MAIN_NEWSSTAND_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_NEWS_MAIN_NEWSSTAND_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_NEWSSTAND_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_NEWS_MAIN_NEWSSTAND_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_NEWS_MAIN_NEWSSTAND_SELECT_Result" />
  <xs:complexType name="NUP_NEWS_MAIN_NEWSSTAND_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ARTICLEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOLD_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENTS_CUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIFF_TIME_HOUR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GUBUN_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_DIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_FILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_RRELATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LASTT_TIME_HOUR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LAST_TIME_MIN" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RANK" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ROWNUM" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="THUMBNAIL_FILENM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TMPTITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOD_NUM" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_NEWS_MAIN_NEWSSTAND_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_NEWSSTAND_SELECT_Result" />
  <xs:complexType name="ArrayOfNUP_NEWS_MAIN_OPINION_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_NEWS_MAIN_OPINION_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_OPINION_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_NEWS_MAIN_OPINION_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_NEWS_MAIN_OPINION_SELECT_Result" />
  <xs:complexType name="NUP_NEWS_MAIN_OPINION_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ARTICLEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLASS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COLUMNLIST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COLUMNLIST_PHOTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COLUMN_GUBUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENTS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTRACTION_TEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLAN_LIST_SEQ" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_NEWS_MAIN_OPINION_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_OPINION_SELECT_Result" />
  <xs:complexType name="ArrayOfNUP_NEWS_MAIN_MARKET_ISSUE_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_NEWS_MAIN_MARKET_ISSUE_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_MARKET_ISSUE_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_NEWS_MAIN_MARKET_ISSUE_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_NEWS_MAIN_MARKET_ISSUE_SELECT_Result" />
  <xs:complexType name="NUP_NEWS_MAIN_MARKET_ISSUE_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ARTICLEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOLD_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENTS_CUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_DIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_FILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROWNUM" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="THUMBNAIL_FILENM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOD_NUM" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_NEWS_MAIN_MARKET_ISSUE_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_MARKET_ISSUE_SELECT_Result" />
  <xs:complexType name="ArrayOfNUP_NEWS_MAIN_ENT_SPO_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_NEWS_MAIN_ENT_SPO_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_ENT_SPO_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_NEWS_MAIN_ENT_SPO_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_NEWS_MAIN_ENT_SPO_SELECT_Result" />
  <xs:complexType name="NUP_NEWS_MAIN_ENT_SPO_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ARTICLEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOLD_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENTS_CUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUBUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUBUN_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_DIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_FILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROWNUM" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SECTION_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="THUMBNAIL_FILENM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOD_NUM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WOWCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_NEWS_MAIN_ENT_SPO_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_ENT_SPO_SELECT_Result" />
  <xs:complexType name="ArrayOfNUP_NEWS_MAIN_VOD_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_NEWS_MAIN_VOD_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_VOD_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_NEWS_MAIN_VOD_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_NEWS_MAIN_VOD_SELECT_Result" />
  <xs:complexType name="NUP_NEWS_MAIN_VOD_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTDATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ARTICLEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOLD_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUBUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUBUN_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_DIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_FILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="THUMBNAIL_FILENM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_COUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VOD_NUM" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_NEWS_MAIN_VOD_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_VOD_SELECT_Result" />
  <xs:complexType name="ArrayOfNUP_NEWS_MAIN_CARD_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_NEWS_MAIN_CARD_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_CARD_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_NEWS_MAIN_CARD_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_NEWS_MAIN_CARD_SELECT_Result" />
  <xs:complexType name="NUP_NEWS_MAIN_CARD_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ARTICLEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUBUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_DIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_FILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECTION_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="THUMBNAIL_FILENM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_NEWS_MAIN_CARD_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_CARD_SELECT_Result" />
  <xs:complexType name="ArrayOfNUP_NEWS_MAIN_SECTION_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_NEWS_MAIN_SECTION_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_SECTION_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_NEWS_MAIN_SECTION_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_NEWS_MAIN_SECTION_SELECT_Result" />
  <xs:complexType name="NUP_NEWS_MAIN_SECTION_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ARTICLEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOLD_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENTS_CUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUBUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUBUN_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_DIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_FILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPORTER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROWNUM" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SECTION_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="THUMBNAIL_FILENM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VIEW_COUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VOD_NUM" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_NEWS_MAIN_SECTION_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_SECTION_SELECT_Result" />
  <xs:complexType name="ArrayOfNUP_NEWS_MAIN_LIST_Y_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_NEWS_MAIN_LIST_Y_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_LIST_Y_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_NEWS_MAIN_LIST_Y_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_NEWS_MAIN_LIST_Y_SELECT_Result" />
  <xs:complexType name="NUP_NEWS_MAIN_LIST_Y_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ARTICLEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOLD_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUBUN_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUBUN_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_DIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_FILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIST_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OPINION_EXTRACTION" type="xs:int" />
      <xs:element minOccurs="0" name="ROWNUM" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="THUMBNAIL_FILENM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOD_NUM" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_NEWS_MAIN_LIST_Y_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_LIST_Y_SELECT_Result" />
  <xs:complexType name="ArrayOfNUP_NEWS_MAIN_MARKET_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_NEWS_MAIN_MARKET_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_MARKET_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_NEWS_MAIN_MARKET_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_NEWS_MAIN_MARKET_SELECT_Result" />
  <xs:complexType name="NUP_NEWS_MAIN_MARKET_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ARTICLEID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUBUN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_DIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_FILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_NEWS_MAIN_MARKET_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_MARKET_SELECT_Result" />
  <xs:complexType name="ArrayOfNUP_NEWS_MAIN_LAND_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NUP_NEWS_MAIN_LAND_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_LAND_SELECT_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNUP_NEWS_MAIN_LAND_SELECT_Result" nillable="true" type="tns:ArrayOfNUP_NEWS_MAIN_LAND_SELECT_Result" />
  <xs:complexType name="NUP_NEWS_MAIN_LAND_SELECT_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ARTDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ARTICLE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BOLD_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENTS_CUT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GUBUN_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_DIR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMAGE_FILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SHOW_NUM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="THUMBNAIL_FILENM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOD_NUM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WOWCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NUP_NEWS_MAIN_LAND_SELECT_Result" nillable="true" type="tns:NUP_NEWS_MAIN_LAND_SELECT_Result" />
</xs:schema>