Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/CharacterStockService/CharacterStockService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CharacterStockService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/Finance/CharacterStockService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/Finance/CharacterStockService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/Finance/CharacterStockService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock" />
      <xsd:import schemaLocation="http://localhost:8088/Finance/CharacterStockService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.editVOD" />
      <xsd:import schemaLocation="http://localhost:8088/Finance/CharacterStockService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article.NewsCenter" />
      <xsd:import schemaLocation="http://localhost:8088/Finance/CharacterStockService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/Finance/CharacterStockService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db22.stock.Finance" />
      <xsd:import schemaLocation="http://localhost:8088/Finance/CharacterStockService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.Article" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICharacterStockService_GetCurrentPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentPrice" />
  </wsdl:message>
  <wsdl:message name="ICharacterStockService_GetCurrentPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ICharacterStockService_GetStockVODList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockVODList" />
  </wsdl:message>
  <wsdl:message name="ICharacterStockService_GetStockVODList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockVODListResponse" />
  </wsdl:message>
  <wsdl:message name="ICharacterStockService_GetCharaterStockList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharaterStockList" />
  </wsdl:message>
  <wsdl:message name="ICharacterStockService_GetCharaterStockList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharaterStockListResponse" />
  </wsdl:message>
  <wsdl:portType name="ICharacterStockService">
    <wsdl:operation name="GetCurrentPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacterStockService/GetCurrentPrice" message="tns:ICharacterStockService_GetCurrentPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacterStockService/GetCurrentPriceResponse" message="tns:ICharacterStockService_GetCurrentPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockVODList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacterStockService/GetStockVODList" message="tns:ICharacterStockService_GetStockVODList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacterStockService/GetStockVODListResponse" message="tns:ICharacterStockService_GetStockVODList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharaterStockList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICharacterStockService/GetCharaterStockList" message="tns:ICharacterStockService_GetCharaterStockList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICharacterStockService/GetCharaterStockListResponse" message="tns:ICharacterStockService_GetCharaterStockList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICharacterStockService" type="tns:ICharacterStockService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentPrice">
      <soap:operation soapAction="http://tempuri.org/ICharacterStockService/GetCurrentPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockVODList">
      <soap:operation soapAction="http://tempuri.org/ICharacterStockService/GetStockVODList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharaterStockList">
      <soap:operation soapAction="http://tempuri.org/ICharacterStockService/GetCharaterStockList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CharacterStockService">
    <wsdl:port name="BasicHttpBinding_ICharacterStockService" binding="tns:BasicHttpBinding_ICharacterStockService">
      <soap:address location="http://localhost:8088/Finance/CharacterStockService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>