Wow.Tv.FrontWeb/Wow.Tv.FrontWeb/Connected Services/MainManageService/MainManageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainManageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8088/MainManage/MainManageService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8088/MainManage/MainManageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8088/MainManage/MainManageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv.MainManage" />
      <xsd:import schemaLocation="http://localhost:8088/MainManage/MainManageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Common" />
      <xsd:import schemaLocation="http://localhost:8088/MainManage/MainManageService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Wow.Tv.Middle.Model.Db49.wowtv" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMainManageService_SearchList_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchList" />
  </wsdl:message>
  <wsdl:message name="IMainManageService_SearchList_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchListResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManageService_GetAt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAt" />
  </wsdl:message>
  <wsdl:message name="IMainManageService_GetAt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAtResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManageService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IMainManageService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManageService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IMainManageService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManageService_UpDown_InputMessage">
    <wsdl:part name="parameters" element="tns:UpDown" />
  </wsdl:message>
  <wsdl:message name="IMainManageService_UpDown_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpDownResponse" />
  </wsdl:message>
  <wsdl:message name="IMainManageService_GetFrontList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFrontList" />
  </wsdl:message>
  <wsdl:message name="IMainManageService_GetFrontList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFrontListResponse" />
  </wsdl:message>
  <wsdl:portType name="IMainManageService">
    <wsdl:operation name="SearchList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainManageService/SearchList" message="tns:IMainManageService_SearchList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainManageService/SearchListResponse" message="tns:IMainManageService_SearchList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAt">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainManageService/GetAt" message="tns:IMainManageService_GetAt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainManageService/GetAtResponse" message="tns:IMainManageService_GetAt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainManageService/Save" message="tns:IMainManageService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainManageService/SaveResponse" message="tns:IMainManageService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainManageService/Delete" message="tns:IMainManageService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainManageService/DeleteResponse" message="tns:IMainManageService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpDown">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainManageService/UpDown" message="tns:IMainManageService_UpDown_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainManageService/UpDownResponse" message="tns:IMainManageService_UpDown_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFrontList">
      <wsdl:input wsaw:Action="http://tempuri.org/IMainManageService/GetFrontList" message="tns:IMainManageService_GetFrontList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMainManageService/GetFrontListResponse" message="tns:IMainManageService_GetFrontList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMainManageService" type="tns:IMainManageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchList">
      <soap:operation soapAction="http://tempuri.org/IMainManageService/SearchList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAt">
      <soap:operation soapAction="http://tempuri.org/IMainManageService/GetAt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IMainManageService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IMainManageService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpDown">
      <soap:operation soapAction="http://tempuri.org/IMainManageService/UpDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFrontList">
      <soap:operation soapAction="http://tempuri.org/IMainManageService/GetFrontList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainManageService">
    <wsdl:port name="BasicHttpBinding_IMainManageService" binding="tns:BasicHttpBinding_IMainManageService">
      <soap:address location="http://localhost:8088/MainManage/MainManageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>